.comments-section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50%;
  .comment-header {
  }

  .comment-body {
    .comment-item {
      display: flex;
      text-align: left;

      .comment-avatar {
        width: 50px;
        max-width: 50px;
        min-width: 50px;
        height: 50px;
        max-height: 50px;
        min-height: 50px;
        border-radius: 50px;
        border: 2px dashed get-var(primary);
        padding: 5px;
        margin-right: 10px;

        .image {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: inherit;
        }
      }

      .comment-fullname {
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 5px;
      }

      .comment-description {
        background-color: get-var(dark);
        padding: 10px;
        border-radius: get-var(rounded);
        box-shadow: get-var(shadow);
      }

      .comment-controls {
        display: flex;
        align-items: center;
        align-content: center;
        margin-top: 5px;

        .control-btn {
          background-color: transparent;
          padding: 0;
          cursor: pointer;
          border: 0;
          outline: 0;
          color: get-var(muted);
          margin-left: 10px;
          &:hover {
            color: get-var(primary);
          }
        }
      }
    }
  }

  .comment-footer {
  }
}
