.btn-frame {
  --b: 2px; /* border thickness */
  --s: 0.45em; /* size of the corner */
  --color: #{$primary};

  padding: calc(0.8em + var(--s)) calc(1.6em + var(--s));
  color: #fff;
  --_p: var(--s);
  background: conic-gradient(
      from 90deg at var(--b) var(--b),
      #0000 90deg,
      var(--color) 0
    )
    var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
    calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: 0.6em;
  font-size: 16px;

  border: 0;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  &:hover,
  &:focus-visible {
    --_p: 0px;
    --b: 1px;
    outline-color: var(--color);
    outline-offset: 0.05em;
    color: var(--color);
  }

  &:active {
    background: var(--color);
    color: #fff;
  }
}
