/* CSS */
.btn-frame {
  display: inline-block;
  padding: 15px 25px;
  color: $primary;
  background: conic-gradient(from 90deg at 3px 3px, #0000 90deg, $primary 0)
    0.45em 0.45em / calc(100% - 3px - 2 * 0.45em) calc(100% - 3px - 2 * 0.45em);
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: 3px solid #0000;
  outline-offset: 0.2em;
  font-size: 16px;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-decoration: none;
  color: white;
  &:hover,
  &:focus-visible {
    background-color: $primary;
    outline-color: $primary;
    outline-offset: 0.05em;
    color: white;
    box-shadow: rgba(238, 40, 14, 0.1) 0px 8px 24px,
      rgba(211, 38, 7, 0.1) 0px 16px 56px, rgba(235, 6, 25, 0.233) 0px 24px 80px;
  }
  &:active {
    background: $primary;
    color: #fff;
  }
}
