.card {
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 2px solid get-var(border);
  color: get-var(text);
  border-radius: get-var(rounded);
  backdrop-filter: get-var(blur);
  box-shadow: get-var(shadow);
  position: relative;
  transition: top bottom, box-shadow;
  transition-duration: 600ms;
  transition-timing-function: ease;
  .center {
    text-align: center;
  }
  .card-image {
    display: block;
    text-decoration: none;
    width: 100%;
    position: relative;
    border-radius: get-var(rounded) get-var(rounded) 0 0;
    .image {
      height: 250px;
      object-fit: cover;
      border-radius: inherit;
    }
  }

  .card-badge {
    background-color: get-var(primary);
    color: white;
    display: inline-block;
    padding: 3px 10px;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
    white-space: nowrap;
    margin: 15px 0;
    text-decoration: none;
  }

  .card-icon {
    width: 80px;
    height: 80px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
  }
  .card-title {
    font-weight: bold;
    font-size: 18px;
    color: get-var(text);
    margin-bottom: 15px;
    text-decoration: none;
  }
  .card-description {
    font-size: 15px;
    color: get-var(muted);
    margin-bottom: 20px;
  }

  .card-header {
    padding: 10px 30px;
  }
  .card-body {
    padding: 20px 30px;
  }
  .card-footer {
    padding: 10px 30px;
  }

  &.card-hover {
    position: relative;
    transition: border;
    transition-duration: 600ms;
    transition-timing-function: ease;

    &:after,
    &:before {
      content: "";
      width: 3px;
      height: 60%;
      position: absolute;
      transition: top bottom, opacity;
      transition-duration: 600ms;
      transition-timing-function: ease;
      background: linear-gradient(transparent, get-var(primary), transparent);
      opacity: 0;
    }
    &:before {
      left: -2px;
      top: 10%;
    }

    &:hover:before {
      top: 70%;
      opacity: 1;
    }

    &:after {
      right: -2px;
      bottom: 10%;
    }

    &:hover:after {
      bottom: 70%;
      opacity: 1;
    }
    &:hover {
      border: 2px solid get-var(primary);
      box-shadow: rgba(255, 30, 0, 0.24) 0px 8px 24px,
        rgba(255, 38, 0, 0.158) 0px 16px 56px,
        rgba(235, 6, 25, 0.233) 0px 24px 80px;
    }
  }
  &.active {
    border: 2px solid get-var(primary);
  }
}

.image-zoom {
  overflow: hidden;
  img {
    transition: transform;
    transition-duration: 600ms;
    transition-timing-function: ease;
    &:hover {
      transform: scale(1.5);
    }
  }
}
.card-sticky {
  position: sticky;
  top: 80px;
}
