@font-face {
    font-family: "bevietnam-regular";
    src: url("#{$fonts_path}/bevietnam-regular.ttf");
}

@font-face {
    font-family: "kaushanscript-regular";
    src: url("#{$fonts_path}/kaushanscript-regular.ttf");
}

@font-face {
    font-family: "alfaslabone-regular";
    src: url("#{$fonts_path}/alfaslabone-regular.ttf");
}

@font-face {
    font-family: "bowlbyone-regular";
    src: url("#{$fonts_path}/bowlbyone-regular.ttf");
}


.font-bevietnam {
    font-family: "bevietnam-regular", "arial";
    font-display: fallback;
}

.font-kaushan {
    font-family: "kaushanscript-regular", "arial";
    font-display: fallback;
}

.font-alphaslabone {
    font-family: "alfaslabone-regular";
    font-display: fallback;
}

.font-bowlbyone {
    font-family: "bowlbyone-regular";
    font-display: fallback;
}