<div class="row row-cols-1 row-cols-2-sm row-cols-2-md row-cols-3-lg g-4">
  <article class="col"  data-aos="zoom-in-up" data-aos-once="true">
    <div class="card blog-card card-hover bg-triangles">
      <a class="card-image image-zoom" href="/blog-details">
        <img src="{{ url_for('static', filename='images/blogs/1.webp')}}" class="card-img-top" alt="">
      </a>
      <div class="blog-body">
        <a class="blog-category">News</a>
        <h3 class="m-0">
          <a href="/blog-details" class="blog-title">Top 5 technologies in 2023 you should learn</a>
        </h3>
        <p class="blog-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit</p>
      </div>
      <div class="blog-footer">
        <span>By <a href="javascript:void(0)" class="blog-author">John doe</a> - 3 mins read</span>
        <span><time>24-july-2023</time></span>
      </div>
    </div>
  </article>
  <article class="col"  data-aos="zoom-in-up" data-aos-once="true">
    <div class="card blog-card card-hover bg-triangles">
      <a class="card-image image-zoom" href="/blog-details">
        <img src="{{ url_for('static', filename='images/blogs/2.webp')}}" class="card-img-top" alt="">
      </a>
      <div class="blog-body">
        <a class="blog-category">News</a>
        <h3 class="m-0">
          <a href="/blog-details" class="blog-title">Top 5 technologies in 2023 you should learn</a>
        </h3>
        <p class="blog-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit</p>
      </div>
      <div class="blog-footer">
        <p>By <a href="javascript:void(0)" class="blog-author">John doe</a> - 3 mins read</p>
        <p><time>24-july-2023</time></p>
      </div>
    </div>
  </article>
</div>