<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 g-4">
  <article class="col">
    <div
      class="card bg-gray-800 shadow text-white blog-card h-100 card-hover bg-triangles bg-cover border border-2 border-dark border-shadow ">
      <a class="card-header border-0 p-0 position-relative text-decoration-none d-block image-zoom"
        href="/blog-details">
        <img src="{{ url_for('static', filename='images/blogs/1.webp')}}" alt="" class="card-img-top object-cover">
      </a>
      <div class="card-body">
        <div class="my-2">
          <span class="badge bg-danger rounded-0 font-12 px-2">News</span>
        </div>
        <h3 class="fw-bold font my-3 m-0 ">
          <a href="/blog-details" class="d-block text-white text-decoration-none font-24">
            Top 5 technologies in 2023 you should learn
          </a>
        </h3>
        <p class="text-muted font-16 m-0">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit
        </p>
      </div>
      <div class="card-footer pb-4 border-0 bg-transparent d-flex justify-content-between">
        <p class="font-12 m-0">By <a href="javascript:void(0)" class="link-light">John doe</a> - 3 mins read</p>
        <p class="font-12 m-0"><time>24-july-2023</time></p>
      </div>
    </div>
  </article>
  <article class="col">
    <div
      class="card bg-gray-800 shadow text-white blog-card h-100 card-hover bg-triangles bg-cover border border-2 border-dark border-shadow ">
      <a class="card-header border-0 p-0 position-relative text-decoration-none d-block image-zoom"
        href="/blog-details">
        <img src="{{ url_for('static', filename='images/blogs/2.webp')}}" alt="" class="card-img-top object-cover">
      </a>
      <div class="card-body">
        <div class="my-2">
          <span class="badge bg-danger rounded-0 font-12 px-2">News</span>
        </div>
        <h3 class="fw-bold font my-3 m-0 ">
          <a href="/blog-details" class="d-block text-white text-decoration-none font-24">
            Top 5 technologies in 2023 you should learn
          </a>
        </h3>
        <p class="text-muted font-16 m-0">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit
        </p>
      </div>
      <div class="card-footer pb-4 border-0 bg-transparent d-flex justify-content-between">
        <p class="font-12 m-0">By <a href="javascript:void(0)" class="link-light">John doe</a> - 3 mins read</p>
        <p class="font-12 m-0">24-july-2023</p>
      </div>
    </div>
  </article>
</div>