<section class="section" data-aos-duration="1000" data-aos="zoom-in-up" data-aos-once="true">
    <div class="section-container">
        <div class="section-header">
            <span class="section-label">Experience</span>
            <h3 class="section-heading">Our Clients</h3>
            <p class="section-description">
                We create experiences and turn ideas into reality.
            </p>
        </div>
        <div class="section-body">
            <div class="row text-center justify-content-center">
                <div class="col-4 col-sm-4 col-md-3 col-lg-2 mb-5">
                    <img src="{{ url_for('static', filename='images/brand/1.webp') }}" class="img-fluid" alt=""
                        data-aos-duration="1000" data-aos="flip-down" />
                </div>
                <div class="col-4 col-sm-4 col-md-3 col-lg-2 mb-5">
                    <img src="{{ url_for('static', filename='images/brand/2.webp') }}" class="img-fluid" alt=""
                        data-aos-duration="1000" data-aos="flip-down" />
                </div>
                <div class="col-4 col-sm-4 col-md-3 col-lg-2 mb-5">
                    <img src="{{ url_for('static', filename='images/brand/3.webp') }}" class="img-fluid" alt=""
                        data-aos-duration="1000" data-aos="flip-down" />
                </div>
                <div class="col-4 col-sm-4 col-md-3 col-lg-2 mb-5">
                    <img src="{{ url_for('static', filename='images/brand/4.webp') }}" class="img-fluid" alt=""
                        data-aos-duration="1000" data-aos="flip-down" />
                </div>
                <div class="col-4 col-sm-4 col-md-3 col-lg-2 mb-5">
                    <img src="{{ url_for('static', filename='images/brand/5.webp') }}" class="img-fluid" alt=""
                        data-aos-duration="1000" data-aos="flip-down" />
                </div>
                <div class="col-4 col-sm-4 col-md-3 col-lg-2 mb-5">
                    <img src="{{ url_for('static', filename='images/brand/6.webp') }}" class="img-fluid" alt=""
                        data-aos-duration="1000" data-aos="flip-down" />
                </div>
            </div>
        </div>
    </div>
</section>