<section class="py-2 py-sm-2 py-md-5 py-lg-5" data-aos-anchor-placement="top-center" data-aos-duration="1000"
  data-aos="fade-down">
  <div class="container container-sm container-md container-lg container-xl container-xxl py-5">
    <div class="text-white py-5">
      <b class="border border-2 border-primary py-1 px-3 text-uppercase rounded-pill text-light font-14 d-inline-block mb-2"
        data-aos-duration="1000" data-aos="zoom-in-up">
        Feedbacks
      </b>
      <h3 class="text-white font-40 fw-bold m-0 mb-3" data-aos-duration="1000" data-aos="zoom-in-up">What Client Say
        About Us?</h3>
      <p class="text-muted font-18 m-0 col-sm-6" data-aos-duration="1000" data-aos="zoom-in-up">
        Trusted By All Over The World's Professionals
      </p>
    </div>
    <div class="container container-sm container-md container-lg container-xl container-xxl py-5">
      <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 g-5">
        <div class="col">
          <div class="card border border-2 border-primary backdrop-6 bg-transparent h-100 mb-5">
            <div class="card-header bg-transparent border-0">
              <div class="size-100 mb-3 border border-4 border-primary p-2 mx-auto mt--30">
                <img src="{{ url_for('static', filename='/images/team/3.jpg')}}"
                  class="h-150 w-150 object-cover rounded-4" width="100" height="100" alt="">
              </div>
            </div>
            <div class="card-body text-center">
              <h3 class="fw-bold font-18 text-white">Janita cooper</h3>
              <h4 class="fw-bold font-14 text-muted">Sales manager</h4>
              <p class="font-20 text-white my-2 mt-4 text-center">
                <span class="bx bxs-quote-left float-start me-2 font-40 text-primary"></span>
                I wish I would have thought of it first. Creative agency is the
                most tech valuable business resource we
                have ever purchased. Dude your stuff is the bomb! eaque ipsa quae ab illo inventore veritatis et quasi
                architecto beatae vitae dicta sunt to the explicabo.
                <span class="bx bxs-quote-right float-end ms-2 font-40 text-primary"></span>
              </p>
            </div>
            <div class="card-footer bg-transparent border-0 text-center">
              <span class="bx bxs-star text-warning"></span>
              <span class="bx bxs-star text-warning"></span>
              <span class="bx bxs-star text-warning"></span>
              <span class="bx bxs-star text-warning"></span>
              <span class="bx bxs-star text-warning"></span>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card border border-2 border-primary backdrop-6 bg-transparent h-100 mb-5">
            <div class="card-header bg-transparent border-0">
              <div class="size-100 mb-3 border border-4 border-primary p-2 mx-auto mt--30">
                <img src="{{ url_for('static', filename='/images/team/3.jpg')}}"
                  class="h-150 w-150 object-cover rounded-4" width="100" height="100" alt="">
              </div>
            </div>
            <div class="card-body text-center">
              <h3 class="fw-bold font-18 text-white">Janita cooper</h3>
              <h4 class="fw-bold font-14 text-muted">Sales manager</h4>
              <p class="font-20 text-white my-2 mt-4 text-center">
                <span class="bx bxs-quote-left float-start me-2 font-40 text-primary"></span>
                I wish I would have thought of it first. Creative agency is the
                most tech valuable business resource we
                have ever purchased. Dude your stuff is the bomb! eaque ipsa quae ab illo inventore veritatis et quasi
                architecto beatae vitae dicta sunt to the explicabo.
                <span class="bx bxs-quote-right float-end ms-2 font-40 text-primary"></span>
              </p>
            </div>
            <div class="card-footer bg-transparent border-0 text-center">
              <span class="bx bxs-star text-warning"></span>
              <span class="bx bxs-star text-warning"></span>
              <span class="bx bxs-star text-warning"></span>
              <span class="bx bxs-star text-warning"></span>
              <span class="bx bxs-star text-warning"></span>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card border border-2 border-primary backdrop-6 bg-transparent h-100 mb-5">
            <div class="card-header bg-transparent border-0">
              <div class="size-100 mb-3 border border-4 border-primary p-2 mx-auto mt--30">
                <img src="{{ url_for('static', filename='/images/team/3.jpg')}}"
                  class="h-150 w-150 object-cover rounded-4" width="100" height="100" alt="">
              </div>
            </div>
            <div class="card-body text-center">
              <h3 class="fw-bold font-18 text-white">Janita cooper</h3>
              <h4 class="fw-bold font-14 text-muted">Sales manager</h4>
              <p class="font-20 text-white my-2 mt-4 text-center">
                <span class="bx bxs-quote-left float-start me-2 font-40 text-primary"></span>
                I wish I would have thought of it first. Creative agency is the
                most tech valuable business resource we
                have ever purchased. Dude your stuff is the bomb! eaque ipsa quae ab illo inventore veritatis et quasi
                architecto beatae vitae dicta sunt to the explicabo.
                <span class="bx bxs-quote-right float-end ms-2 font-40 text-primary"></span>
              </p>
            </div>
            <div class="card-footer bg-transparent border-0 text-center">
              <span class="bx bxs-star text-warning"></span>
              <span class="bx bxs-star text-warning"></span>
              <span class="bx bxs-star text-warning"></span>
              <span class="bx bxs-star text-warning"></span>
              <span class="bx bxs-star text-warning"></span>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card border border-2 border-primary backdrop-6 bg-transparent h-100 mb-5">
            <div class="card-header bg-transparent border-0">
              <div class="size-100 mb-3 border border-4 border-primary p-2 mx-auto mt--30">
                <img src="{{ url_for('static', filename='/images/team/3.jpg')}}"
                  class="h-150 w-150 object-cover rounded-4" width="100" height="100" alt="">
              </div>
            </div>
            <div class="card-body text-center">
              <h3 class="fw-bold font-18 text-white">Janita cooper</h3>
              <h4 class="fw-bold font-14 text-muted">Sales manager</h4>
              <p class="font-20 text-white my-2 mt-4 text-center">
                <span class="bx bxs-quote-left float-start me-2 font-40 text-primary"></span>
                I wish I would have thought of it first. Creative agency is the
                most tech valuable business resource we
                have ever purchased. Dude your stuff is the bomb! eaque ipsa quae ab illo inventore veritatis et quasi
                architecto beatae vitae dicta sunt to the explicabo.
                <span class="bx bxs-quote-right float-end ms-2 font-40 text-primary"></span>
              </p>
            </div>
            <div class="card-footer bg-transparent border-0 text-center">
              <span class="bx bxs-star text-warning"></span>
              <span class="bx bxs-star text-warning"></span>
              <span class="bx bxs-star text-warning"></span>
              <span class="bx bxs-star text-warning"></span>
              <span class="bx bxs-star text-warning"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>