<footer class="fw-bold position-relative z-index-999">
  <section class="py-5 bg-1" style="margin-bottom: -100px;">
    <div class="container container-sm container-md container-lg container-xl container-xxl">
      <div class="d-flex align-items-center flex-column justify-content-center">
        <h3 class="text-white display-4 mb-3 text-center p-2 px-3 fw-bold">
          We would love to hear <br> more about your project
        </h3>
        <a href="/contact-us"
          class="btn btn-dark text-white fw-bold position-relative d-flex rounded-circle d-inline-block size-150">
          <div class="m-auto font-14">
            Let's discuss <i class="bx bx-right-top-arrow-circle font-20 ms-2"></i>
          </div>
        </a>
      </div>
  </section>
  <section class="shadow ">
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
      </defs>
      <g class="waves-parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" class="shadow" fill="#111" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="#444" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="#FF0000" />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#000" />
      </g>
    </svg>
  </section>
  <section class="bg-dark fw-bold shadow border-5 border-primary border-top border-bottom position-relative z-index-9">
    <div class="container container-sm container-md container-lg container-xl container-xxl">
      <div class="row py-5 justify-content-between">
        <article class="col-xl-4 col-md-4 my-3">
          <div class="d-flex align-items-center">
            <i class="bx bx-map text-danger font-40 rounded-5 p-2 bg-gray-700 shadow-sm"></i>
            <div class="ms-3">
              <h4 class="text-white font-18 m-0 mb-1 fw-bold">Find us</h4>
              <p class="text-muted font-16 m-0">1010 Avenue, sw 54321, chandigarh</p>
            </div>
          </div>
        </article>
        <article class="col-xl-4 col-md-4 my-3">
          <div class="d-flex align-items-center">
            <i class="bx bx-phone text-danger font-40 rounded-5 p-2 bg-gray-700 shadow-sm"></i>
            <div class="ms-3">
              <h4 class="text-white font-18 m-0 mb-1 fw-bold">Call us</h4>
              <p class="text-muted font-16 m-0">+98765432100</p>
            </div>
          </div>
        </article>
        <article class="col-xl-4 col-md-4 my-3">
          <div class="d-flex align-items-center">
            <i class="bx bx-envelope-open text-danger font-40 rounded-5 p-2 bg-gray-700 shadow-sm"></i>
            <div class="ms-3">
              <h4 class="text-white font-18 m-0 mb-1 fw-bold">Mail us</h4>
              <p class="text-muted font-16 m-0">mail@info.com</p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>
  <section class="bg-dark bg-1 bg-cover ">
    <div class="container container-sm container-md container-lg container-xl container-xxl">
      <div class="row font-14">
        <div class="col-sm-4 py-5 ">
          <a href="/" class="mb-4 d-inline-block" role="img" aria-label="Nextash logo">
            <img src="{{ url_for('static', filename='/images/logos/logo.png')}}" width="50" height="70"
              class="img-fluid size-70" alt="Nextash logo">
          </a>
          <p class="text-muted">
            Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor
            incididuntut consec tetur adipisicing elit,Lorem ipsum dolor sit amet.
          </p>
          <h3 class="text-white font-20 mb-3">Follow us</h3>
          <div class="d-flex align-items-center mt-3">
            <a href="#" class="bx bxl-facebook-square font-24 btn text-muted p-1 rounded-circle me-1"></a>
            <a href="#" class="bx bxl-twitter font-24 btn text-muted p-1 rounded-circle me-1"></a>
            <a href="#" class="bx bxl-google font-24 btn text-muted p-1 rounded-circle me-1"></a>
            <a href="#" class="bx bxl-instagram font-24 btn text-muted p-1 rounded-circle me-1"></a>
            <a href="#" class="bx bxl-github font-24 btn text-muted p-1 rounded-circle me-1"></a>
          </div>
        </div>

        <div class="col-sm-4 py-5 ">
          <h3 class="text-white font-20 mb-3" role="heading" aria-level="3">Information</h3>
          <ul type="none" class="p-0 m-0">
            <li class="float-start w-50 mb-2">
              <a href="/about-us" class="text-decoration-none text-muted font-14">About us</a>
            </li>
            <li class="float-start w-50 mb-2">
              <a href="/contact-us" class="text-decoration-none text-muted font-14">Contact us</a>
            </li>
            <li class="float-start w-50 mb-2">
              <a href="/services" class="text-decoration-none text-muted font-14">Services</a>
            </li>

            <li class="float-start w-50 mb-2">
              <a href="/team" class="text-decoration-none text-muted font-14">Expert team</a>
            </li>
            <li class="float-start w-50 mb-2">
              <a href="/blogs" class="text-decoration-none text-muted font-14">Blogs</a>
            </li>
            <li class="float-start w-50 mb-2">
              <a href="/projects" class="text-decoration-none text-muted font-14">Projects</a>
            </li>
            <li class="float-start w-50 mb-2">
              <a href="/jobs" class="text-decoration-none text-muted font-14">Jobs</a>
            </li>
            <li class="float-start w-50 mb-2">
              <a href="/blogs" class="text-decoration-none text-muted font-14">Latest News</a>
            </li>
            <li class="float-start w-50 mb-2">
              <a href="/faqs" class="text-decoration-none text-muted font-14">Faqs</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-4 py-5">
          <h3 class="text-white font-20 mb-3" role="heading" aria-level="3">Subscribe</h3>
          <p class="text-muted mb-4">
            Don’t miss to subscribe to our new feeds, kindly fill the form below.
          </p>
          <form action="/subscribed-successfully" class="input-group bg-gray-700 my-3 font-14 rounded-pill">
            <input type="text" placeholder="Email Address..."
              class="form-control shadow-none py-3 fw-bold bg-transparent text-white border-0 font-14 px-3">
            <button class="bx bx-send btn font-20 fw-normal text-white p-2 px-4"></button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-gray-800 py-3 border-top border-dark border-2 font-14">
    <div class="container">
      <div class="d-flex flex-column flex-lg-row justify-content-between text-muted ">
        <p class="m-0 my-1">Copyright &copy; 2023, All Right Reserved
          <a href="/" class="text-decoration-none text-white">Nextash</a>
        </p>
        <ul class="d-flex align-items-center m-0 p-0 my-1" type="none">
          <li>
            <a href="/terms-and-conditions" class="text-decoration-none text-muted px-2">Terms</a>
          </li>
          <li>
            <a href="/privacy-policy" class="text-decoration-none text-muted px-2">Privacy</a>
          </li>
          <li>
            <a href="/cookies-policy" class="text-decoration-none text-muted px-2">Cookies</a>
          </li>
          <li>
            <a href="/contact-us" class="text-decoration-none text-muted px-2">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</footer>