<header class="navbar navbar-expand fixed-top top-0 p-0" id="navbar">
    <nav class="container container-sm container-md container-lg container-xl container-xxl w-100">
        <ul class="navbar-nav d-flex align-items-center justify-content-between w-100 font-kaushan">
            <li class="nav-item">
                <a href="/">
                    <img src="{{ url_for('static', filename='/images/logo.png')}}" class="d-inline-block" width="60">
                </a>
            </li>
            <li class="nav-item">
                <button type="button" class="nav-link btn p-0 text-white font-30 bx bx-menu-alt-right"></button>
            </li>
        </ul>
    </nav>
</header>