<section class="shadow py-2 py-sm-2 py-md-5 py-lg-5">
    <div class="container container-sm container-md container-lg container-xl container-xxl py-5">
      <div class="row">
        <div class="col-sm-6 py-2">
          <b class="border border-2 border-primary py-1 px-3 text-uppercase rounded-pill text-white font-12">Our process</b>
          <h3 class="text-white display-5 fw-bold m-0 my-2"> Watch the creative  process behind our company</h3>
          <div class="accordion" id="points">
            <div class="accordion-item bg-gray-900 border-0 shadow-none">
              <button class="accordion-button py-2 bg-transparent text-white border-0 shadow-none collapsed font-18"
                type="button" data-bs-toggle="collapse" data-bs-target="#point1" aria-expanded="true"
                aria-controls="point1">
                Unique and Influential Design
              </button>
              <div id="point1" class="accordion-collapse collapse" data-bs-parent="#points">
                <div class="accordion-body">
                  <ol class="font-18 text-muted mb-3">
                    <li>
                      Taken possession of my entire soul, like these sweet mornings of spring which i enjoy with my
                      whole.
                    </li>
                  </ol>
                </div>
              </div>
            </div>
            <div class="accordion-item bg-gray-900 border-0 shadow-none">
              <button class="accordion-button py-2 bg-transparent text-white border-0 shadow-none collapsed font-18"
                type="button" data-bs-toggle="collapse" data-bs-target="#point2" aria-expanded="true"
                aria-controls="point2">
                The Power of Influencer Marketing
              </button>
              <div id="point2" class="accordion-collapse collapse" data-bs-parent="#points">
                <div class="accordion-body">
                  <ol class="font-18 text-muted mb-3 ">
                    <li>
                      aken possession of my entire soul, like these sweet mornings of spring which i enjoy with my
                      whole.
                    </li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 py-2 position-relative">
          <div class="bg-dotted position-absolute border-0 start-0 top-0 size-100 z-index-1"
          style="margin-top:-30px;margin-left: -30px;"></div>
        <div class="bg-dotted bg-dotted-primary position-absolute border-0 end-0 border-bottom-0 size-100 z-index-1"
          style="bottom:-30px;margin-right: -30px;"></div>
        <img src="{{ url_for('static', filename='images/about/2.jpg')}}"
          class="img-fluid rounded-2 shadow z-index-3 position-relative border border-primary border-5 p-2" alt="">
        </div>
      </div>
    </div>
  </section>