<div class="row row-cols-1 row-cols-1-sm row-cols-2-md row-cols-3-lg row-cols-3-xl row-cols-5-xll g-5">
  <article class="col">
    <div class="project-card card card-hover">
      <div class="project-header">
        <img src="{{ url_for('static', filename='/images/projects/1.webp')}}" class="project-image" alt="" />
      </div>
      <div class="project-body">
        <div class="card-overlay">
          <b class="card-badge">UI / UX</b>
          <h3>
            <a href="/project-details" class="card-title">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            </a>
          </h3>
          <a href="/project-details" class="btn-outline">Case study</a>
        </div>
      </div>
    </div>
  </article>

  <article class="col">
    <div class="project-card card card-hover">
      <div class="project-header">
        <img src="{{ url_for('static', filename='/images/projects/2.webp')}}" class="project-image" alt="" />
      </div>
      <div class="project-body">
        <div class="card-overlay">
          <b class="card-badge">UI / UX</b>
          <h3>
            <a href="/project-details" class="card-title">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            </a>
          </h3>
          <a href="/project-details" class="btn-outline">Case study</a>
        </div>
      </div>
    </div>
  </article>
</div>