<section class="py-5"
    data-aos-anchor-placement="top-center" data-aos-duration="1000" data-aos="fade-up">
    <div class="container container-sm container-md container-lg container-xl container-xxl py-5">
        <div class="row align-items-center justify-content-between">
            <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 col-xll-5">
                <div class="position-relative image-box">
                    <div data-aos-duration="1000" data-aos="zoom-in-up" class="bg-dotted border-shadow square-1">
                    </div>
                    <div data-aos-duration="1000" data-aos="zoom-in-up" class="bg-dotted-primary border-shadow square-2">
                    </div>
                    <div class="border-shadow border border-primary border-5 p-2 image-lg" data-aos-duration="1000"
                        data-aos="zoom-in-up">
                        <img src="{{ url_for('static', filename='images/about/8.webp')}}"
                            class="object-cover h-100 w-100" alt="Featured services" />
                    </div>
                    <div class="border-shadow border border-primary border-5 p-2 image-sm" data-aos-duration="1000"
                        data-aos="zoom-in-up">
                        <img src="{{ url_for('static', filename='images/about/9.webp')}}"
                            class="object-cover h-100 w-100" alt="Featured services" />
                    </div>
                </div>
            </div>
            <div
                class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 col-xll-5 my-5 order-0 order-sm-0 order-md-0 order-lg-1 order-xl-1 order-xll-1">
                <b class="border border-2 border-primary py-1 px-3 text-uppercase rounded-pill text-light font-14 d-inline-block mb-2"
                    data-aos-duration="1000" data-aos="zoom-in-up">
                    Featured services
                </b>
                <h2 class="text-white font-40 fw-bold m-0 mb-4" data-aos-duration="1000" data-aos="zoom-in-up">
                    What we do
                </h2>
                <p class="text-white font-18 m-0 mb-2" data-aos-duration="1000" data-aos="zoom-in-up">
                    We provide research, planning, design, engineering and marketing
                    services for startups to bigger corporations. Click below to learn
                    more:
                </p>
                <ul class="list-group my-4" type="none" data-aos-duration="1000" data-aos="zoom-in-up">
                    <li class="py-1">
                        <a href="/service-branding"
                            class="fw-bold d-flex align-items-center text-muted font-16 text-decoration-none">
                            <span class="bx bx-right-arrow-alt text-primary font-20 me-2"></span>
                            Branding
                        </a>
                    </li>
                    <li class="py-1">
                        <a href="/service-graphics-designing"
                            class="fw-bold d-flex align-items-center text-muted font-16 text-decoration-none">
                            <span class="bx bx-right-arrow-alt text-primary font-20 me-2"></span>
                            Graphics Design
                        </a>
                    </li>
                    <li class="py-1">
                        <a href="/service-web-development"
                            class="fw-bold d-flex align-items-center text-muted font-16 text-decoration-none">
                            <span class="bx bx-right-arrow-alt text-primary font-20 me-2"></span>
                            Web Development
                        </a>
                    </li>
                    <li class="py-1">
                        <a href="/service-mobile-app-development"
                            class="fw-bold d-flex align-items-center text-muted font-16 text-decoration-none">
                            <span class="bx bx-right-arrow-alt text-primary font-20 me-2"></span>
                            Mobile App Development
                        </a>
                    </li>
                    <li class="py-1">
                        <a href="/service-erp-development"
                            class="fw-bold d-flex align-items-center text-muted font-16 text-decoration-none">
                            <span class="bx bx-right-arrow-alt text-primary font-20 me-2"></span>
                            ERP Development
                        </a>
                    </li>
                    <li class="py-1">
                        <a href="/service-digital-marketing"
                            class="fw-bold d-flex align-items-center text-muted font-16 text-decoration-none">
                            <span class="bx bx-right-arrow-alt text-primary font-20 me-2"></span>
                            Digital Marketing
                        </a>
                    </li>
                </ul>
                <p class="text-muted font-16 m-0 mb-3" data-aos-duration="1000" data-aos="zoom-in-up">
                    We provide best ever services for your great experience. We make all efforts for the revolutionary
                    change.
                    We appreciate our employees to create future. We promise you that you will never get disappointed.
                </p>
                <a href="/services" class="btn-frame mt-2" data-aos-duration="1000" data-aos="zoom-in-up"> Know more</a>
            </div>
        </div>
    </div>
</section>