<section class="section"  data-aos="zoom-in-up" data-aos-once="true">
    <div class="section-container">
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 g-5 justify-content-between align-items-center">
            <div class="col" data-aos-anchor-placement="top-center"  data-aos="fade-up"
                data-aos-once="true">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg">
                        <img src="{{ url_for('static', filename='images/about/8.webp')}}" class="image"
                            alt="Featured services" />
                    </div>
                    <div class="image-sm">
                        <img src="{{ url_for('static', filename='images/about/9.webp')}}" class="image"
                            alt="Featured services" />
                    </div>
                </div>
            </div>
            <div class="col" data-aos-anchor-placement="top-center"  data-aos="fade-up"
                data-aos-once="true">
                <b class="section-label">Featured services</b>
                <h2 class="section-heading"> What we do </h2>
                <p class="section-description">
                    We provide research, planning, design, engineering and marketing
                    services for startups to bigger corporations. Click below to learn
                    more:
                </p>
                <ul class="list" type="none">
                    <li class="list-item">
                        <a href="/service-branding" class="list-link">
                            <span class="bx bx-right-arrow-alt icon"></span> Branding
                        </a>
                    </li>
                    <li class="list-item">
                        <a href="/service-graphics-designing" class="list-link">
                            <span class="bx bx-right-arrow-alt icon"></span> Graphics Design
                        </a>
                    </li>
                    <li class="list-item">
                        <a href="/service-web-development" class="list-link">
                            <span class="bx bx-right-arrow-alt icon"></span> Web Development
                        </a>
                    </li>
                    <li class="list-item">
                        <a href="/service-mobile-app-development" class="list-link">
                            <span class="bx bx-right-arrow-alt icon"></span> Mobile App Development
                        </a>
                    </li>
                    <li class="list-item">
                        <a href="/service-erp-development" class="list-link">
                            <span class="bx bx-right-arrow-alt icon"></span> ERP Development
                        </a>
                    </li>
                    <li class="list-item">
                        <a href="/service-digital-marketing" class="list-link">
                            <span class="bx bx-right-arrow-alt icon"></span> Digital Marketing
                        </a>
                    </li>
                </ul>
                <a href="/services" class="btn-outline mt-2"> Know more</a>
            </div>
        </div>
    </div>
</section>