<div class="offcanvas bg-dark offcanvas-end" tabindex="-1" id="sidebar" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="accordion border-0" id="menu">
            <div class="accordion-item border-dark border border-1 shadow">
                <h2 class="accordion-header border-0 bg-black" id="heading1">
                    <button class="accordion-button shadow-none border-0 bg-black text-white collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#faq1" aria-expanded="false" aria-controls="faq1">
                        <b class="text-primary me-2">1.</b> What services does NexTash offer?
                    </button>
                </h2>
                <div id="faq1" class="accordion-collapse collapse" aria-labelledby="heading1" data-bs-parent="#menu">
                    <div class="accordion-body bg-black text-muted pb-4">
                        NexTash offers a wide range of IT services including software
                        development, web development,
                        mobile app development, cloud computing, IT consulting, network solutions, cybersecurity, and
                        managed IT services.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>