<section class="section"  data-aos="zoom-in-up" data-aos-once="true">
    <div class="section-container">
        <div class="row">
            <div class="col">
                <b class="section-label">About</b>
                <h3 class="section-heading">Our Story</h3>
                <p class="section-description">
                    At NexTash, our mission is to deliver cutting-edge IT solutions that
                    drive success and transform the way businesses operate. We strive to
                    be a trusted partner for our clients, helping them achieve their goals
                    through innovative technology, expert guidance, and unparalleled
                    support.
                </p>
            </div>
            <div class="col" data-aos-anchor-placement="top-center"  data-aos="fade-up"
                data-aos-once="true">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg">
                        <img src="{{ url_for('static', filename='images/about/6.webp')}}" class="image"
                            alt="Our Story" />
                    </div>
                    <div class="image-sm">
                        <img src="{{ url_for('static', filename='images/about/7.webp')}}" class="image"
                            alt="Our Story" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>