<section class="section" data-aos-duration="1000" data-aos="zoom-in-up" data-aos-once="true">
  <div class="section-container">
    <div class="section-header center">
      <span class="section-label"> Specialists behind great work</span>
      <h3 class="section-heading">Meet Our Team</h3>
      <p class="section-description">
        We are here to help you achieve your business goals and the team create
        an amazing outstanding product for your business.
      </p>
    </div>
    <div class="section-body">
      <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-4 row-cols-xl-4 justify-content-center">
        <div class="col">
          <article class="team-card bg-triangles">
            <div class="team-header">
              <a class="avatar image-zoom" href="/team-details">
                <img src="{{ url_for('static', filename='images/team/1.jpg')}}" class="image" />
              </a>
            </div>
            <div class="team-body">
              <h3><a href="/team-details" class="fullname">Abdul</a></h3>
              <p class="designation">Web developer</p>
            </div>
            <div class="team-footer">
              <a href="" class="btn-social bx bxl-facebook-square"></a>
              <a href="" class="btn-social bx bxl-twitter"></a>
              <a href="" class="btn-social bx bxl-instagram"></a>
            </div>
          </article>
        </div>
        <div class="col">
          <article class="team-card active bg-triangles">
            <div class="team-header">
              <a class="avatar image-zoom" href="/team-details">
                <img src="{{ url_for('static', filename='images/team/1.jpg')}}" class="image" />
              </a>
            </div>
            <div class="team-body">
              <h3><a href="/team-details" class="fullname">Abdul</a></h3>
              <p class="designation">Web developer</p>
            </div>
            <div class="team-footer">
              <a href="" class="btn-social bx bxl-facebook-square"></a>
              <a href="" class="btn-social bx bxl-twitter"></a>
              <a href="" class="btn-social bx bxl-instagram"></a>
            </div>
          </article>
        </div>
        <div class="col">
          <article class="team-card bg-triangles">
            <div class="team-header">
              <a class="avatar image-zoom" href="/team-details">
                <img src="{{ url_for('static', filename='images/team/1.jpg')}}" class="image" />
              </a>
            </div>
            <div class="team-body">
              <h3><a href="/team-details" class="fullname">Abdul</a></h3>
              <p class="designation">Web developer</p>
            </div>
            <div class="team-footer">
              <a href="" class="btn-social bx bxl-facebook-square"></a>
              <a href="" class="btn-social bx bxl-twitter"></a>
              <a href="" class="btn-social bx bxl-instagram"></a>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="section-footer">
      <p class="section-description">
        Meet all our team members behind our great work at team page.
      </p>
      <a href="/team" class="btn-frame">Meet all</a>
    </div>
  </div>
</section>