<section class=" shadow py-2 py-sm-2 py-md-5 py-lg-5" data-aos-anchor-placement="top-center" data-aos-duration="1000"
  data-aos="fade-down">
  <div class="container container-sm container-md container-lg container-xl container-xxl py-2 py-sm-2 py-md-5 py-lg-5">
    <div class="my-2 text-center col-sm-8 offset-sm-2">
      <b class="border border-2 border-primary py-1 px-3 text-uppercase rounded-pill text-light font-14 d-inline-block mb-2"
        data-aos-duration="1000" data-aos="zoom-in-up">
        Specialists behind great work
      </b>
      <h2 class="text-white display-4 fw-bold m-0 my-3" data-aos-duration="1000" data-aos="zoom-in-up">Meet Our Team
      </h2>
      <p class="text-muted font-16" data-aos-duration="1000" data-aos="zoom-in-up">
        We are here to help you achieve your business goals and the team create
        an amazing outstanding product for your business.
      </p>
    </div>
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-4 row-cols-xl-4 justify-content-center py-5">
      <div class="col" data-aos-duration="1000" data-aos="zoom-in-up">
        <article
          class="card card-hover border border-2 border-dark bg-gray-800 bg-triangles bg-cover shadow mb-4 border-shadow">
          <div class="card-header bg-transparent py-3 d-flex justify-content-center border-0">
            <a class="d-block text-decoration-none w-100 size-180 p-2 border-primary border border-4 rounded-circle image-zoom"
              href="/team-details">
              <img src="{{ url_for('static', filename='images/team/1.jpg')}}"
                class="card-img-top object-cover rounded-circle h-100 w-100" data-aos-duration="1000"
                data-aos="flip-down" />
            </a>
          </div>
          <div class="card-body text-center border-0 py-0">
            <h3 class="fw-bold font-24 mb-2 m-0 text-white"><a href="/team-details"
                class="text-decoration-none text-white d-block">Abdul</a></h3>
            <p class="text-muted font-16">Web developer</p>
          </div>
          <div class="card-footer d-flex justify-content-center border-0 pb-4 bg-transparent border-0">
            <a href="" class="btn btn-dark p-2 font-20 rounded-circle mx-1 bx bxl-facebook-square"></a>
            <a href="" class="btn btn-dark p-2 font-20 rounded-circle mx-1 bx bxl-twitter"></a>
            <a href="" class="btn btn-dark p-2 font-20 rounded-circle mx-1 bx bxl-instagram"></a>
          </div>
        </article>
      </div>
      <div class="col" data-aos-duration="1000" data-aos="zoom-in-up">
        <article
          class="card card-hover border border-2 border-primary bg-gray-800 bg-triangles bg-cover shadow mb-4 border-shadow">
          <div class="card-header bg-transparent py-3 d-flex justify-content-center border-0">
            <a class="d-block text-decoration-none w-100 size-180 p-2 border-primary border border-4 rounded-circle image-zoom"
              href="/team-details">
              <img src="{{ url_for('static', filename='images/team/2.jpg')}}"
                class="card-img-top object-cover rounded-circle h-100 w-100" data-aos-duration="1000"
                data-aos="flip-down" />
            </a>
          </div>
          <div class="card-body text-center border-0 py-0">
            <h3 class="fw-bold font-24 mb-2 m-0 text-white"><a href="/team-details"
                class="text-decoration-none text-white d-block">Abdul</a></h3>
            <p class="text-muted font-16">Web developer</p>
          </div>
          <div class="card-footer d-flex justify-content-center border-0 pb-4 bg-transparent border-0">
            <a href="" class="btn btn-dark p-2 font-20 rounded-circle mx-1 bx bxl-facebook-square"></a>
            <a href="" class="btn btn-dark p-2 font-20 rounded-circle mx-1 bx bxl-twitter"></a>
            <a href="" class="btn btn-dark p-2 font-20 rounded-circle mx-1 bx bxl-instagram"></a>
          </div>
        </article>
      </div>
      <div class="col" data-aos-duration="1000" data-aos="zoom-in-up">
        <article
          class="card card-hover border border-2 border-dark bg-gray-800 bg-triangles bg-cover shadow mb-4 border-shadow">
          <div class="card-header bg-transparent py-3 d-flex justify-content-center border-0">
            <a class="d-block text-decoration-none w-100 size-180 p-2 border-primary border border-4 rounded-circle image-zoom"
              href="/team-details">
              <img src="{{ url_for('static', filename='images/team/3.jpg')}}"
                class="card-img-top object-cover rounded-circle h-100 w-100" data-aos-duration="1000"
                data-aos="flip-down" />
            </a>
          </div>
          <div class="card-body text-center border-0 py-0">
            <h3 class="fw-bold font-24 mb-2 m-0 text-white"><a href="/team-details"
                class="text-decoration-none text-white d-block">Abdul</a></h3>
            <p class="text-muted font-16">Web developer</p>
          </div>
          <div class="card-footer d-flex justify-content-center border-0 pb-4 bg-transparent border-0">
            <a href="" class="btn btn-dark p-2 font-20 rounded-circle mx-1 bx bxl-facebook-square"></a>
            <a href="" class="btn btn-dark p-2 font-20 rounded-circle mx-1 bx bxl-twitter"></a>
            <a href="" class="btn btn-dark p-2 font-20 rounded-circle mx-1 bx bxl-instagram"></a>
          </div>
        </article>
      </div>
    </div>
    <div class="text-center text-muted col-sm-8 offset-sm-2">
      <p data-aos-duration="1000" data-aos="zoom-in-up">Meet all our team members behind our great work at team page.
      </p>
      <a href="/team" class="btn-frame" data-aos-duration="1000" data-aos="zoom-in-up"> Meet all</a>
    </div>
  </div>
</section>