<section class="section">
  <div class="section-container">
    <div class="section-header center">
      <span class="section-label"> Specialists behind great work </span>
      <h3 class="section-heading">Meet Our Team</h3>
      <p class="section-description">
        We are here to help you achieve your business goals and the team create
        an amazing outstanding product for your business.
      </p>
    </div>
    <div class="section-body">
      <div class="row row-cols-3 justify-content-center align-items-center">
        <div class="col" data-aos-duration="1000" data-aos="fade-down" data-aos-once="true"
          data-aos-easing="ease-in-out">
          <article class="team-card card card-hover bg-triangles">
            <div class="card-header">
              <a class="avatar image-zoom" href="/team-details">
                <img src="{{ url_for('static', filename='images/team/1.webp')}}" class="image" />
              </a>
            </div>
            <div class="card-body">
              <h3><a href="/team-details" class="card-title">Abdul</a></h3>
              <p class="card-description">Web developer</p>
            </div>
            <div class="card-footer">
              <div class="social-links">
                <a href="#" class="bx bxl-facebook-square icon"></a>
                <a href="#" class="bx bxl-twitter icon"></a>
                <a href="#" class="bx bxl-github icon"></a>
              </div>
            </div>
          </article>
        </div>
        <div class="col" data-aos-duration="1000" data-aos="fade-down" data-aos-once="true"
          data-aos-easing="ease-in-out">
          <article class="team-card card card-hover active bg-triangles">
            <div class="card-header">
              <a class="avatar image-zoom" href="/team-details">
                <img src="{{ url_for('static', filename='images/team/2.webp')}}" class="image" />
              </a>
            </div>
            <div class="card-body">
              <h3><a href="/team-details" class="card-title">Abdul</a></h3>
              <p class="card-description">Web developer</p>
            </div>
            <div class="card-footer">
              <div class="social-links">
                <a href="#" class="bx bxl-facebook-square icon"></a>
                <a href="#" class="bx bxl-twitter icon"></a>
                <a href="#" class="bx bxl-github icon"></a>
              </div>
            </div>
          </article>
        </div>
        <div class="col" data-aos-duration="1000" data-aos="fade-down" data-aos-once="true"
          data-aos-easing="ease-in-out">
          <article class="team-card card card-hover bg-triangles">
            <div class="card-header">
              <a class="avatar image-zoom" href="/team-details">
                <img src="{{ url_for('static', filename='images/team/3.webp')}}" class="image" />
              </a>
            </div>
            <div class="card-body">
              <h3><a href="/team-details" class="card-title">Abdul</a></h3>
              <p class="card-description">Web developer</p>
            </div>
            <div class="card-footer">
              <div class="social-links">
                <a href="#" class="bx bxl-facebook-square icon"></a>
                <a href="#" class="bx bxl-twitter icon"></a>
                <a href="#" class="bx bxl-github icon"></a>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="section-footer">
      <p class="section-description">
        Meet all our team members behind our great work at team page.
      </p>
      <div>
        <a href="/team" class="btn-outline">Meet all</a>
      </div>
    </div>
  </div>
</section>