   <!-- WHY CHOOSE US -->
   <section class="shadow py-2 py-sm-2 py-md-5 py-lg-5 bg-dark">
    <div class="card bg-transparent border-0 py-5 rounded-0">
        <div class="container container-sm container-md container-lg container-xl container-xxl">
            <div class="row">
                <div class="col-sm-5 py-2">
                    <div class="position-relative p-2 border border-primary border-5">
                        <div class="bg-dotted position-absolute end-0 top-0 size-100 z-index-1 me--30 mt--30">
                        </div>
                        <div
                            class="bg-dotted-primary position-absolute bottom-0 start-0 size-100 z-index-1 ms--30 mb--30">
                        </div>
                        <img src="{{ url_for('static', filename='images/services/app-development/3-min.webp')}}"
                            class="shadow z-index-2 position-relative w-100 h-100 object-cover shadow" alt="">
                        <img src="{{ url_for('static', filename='images/services/app-development/4-min.webp')}}"
                            class="size-200 object-cover shadow position-absolute bottom-0 end-0 z-index-3 border-primary border border-5 p-2 me--30 mb--30"
                            alt="">
                    </div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-6">
                    <h3 class="text-white font-40 fw-bold m-0 my-3"> WHY CHOOSE US</h3>
                    <p class="text-white font-18 m-0 mb-5">
                        Crafting experiences, delivering success.
                        Our commitment to quality and excellence is unparalleled. From the first brainstorming
                        session
                        to the final product delivery, we ensure that every step of the process is executed to
                        perfection. You are not just getting a service; you are getting a partner who is committed
                        to
                        your growth and success.
                    </p>

                    <div class="d-flex align-items-start mb-2">
                        <div
                            class="bx bx-star bg-gray-700 border border-2 border-primary font-30 text-white rounded-circle p-3">
                        </div>
                        <div class="ms-4">
                            <h4 class="m-0 mb-2 text-white font-20">Quality Assurance</h4>
                            <p class="text-muted font-18"> Quality isn’t just a buzzword for us. It’s an integral
                                part of our workflow,
                                ensuring that all
                                our deliverables meet the highest standards.</p>
                        </div>
                    </div>

                    <div class="d-flex align-items-start mb-2">
                        <div
                            class="bx bx-star bg-gray-700 border border-2 border-primary font-30 text-white rounded-circle p-3">
                        </div>
                        <div class="ms-4">
                            <h4 class="m-0 mb-2 text-white font-20">Professional Support</h4>
                            <p class="text-muted font-18"> We provide round-the-clock support to ensure smooth
                                operation and quick resolution of any issues
                                you might encounter.
                            </p>
                        </div>
                    </div>
                    <a href=""
                        class="btn btn-outline-primary btn-sm rounded-pill border border-primary border-3 px-3 font-14 text-white d-inline-block mt-3">
                        MORE ABOUT US
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- WHY CHOOSE US -->