<section class="section">
    <div class="section-container">
        <div class="row row-cols-2 align-items-center">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg card card-hover">
                        <img src="{{ url_for('static', filename='images/about/1.webp')}}" class="image"
                            alt="Analytics and Reporting" />
                    </div>
                    <div class="image-sm card card-hover">
                        <img src="{{ url_for('static', filename='images/about/3.webp')}}" class="image"
                            alt="Analytics and Reporting" />
                    </div>
                </div>
            </div>
            <div class="col">
                <h3 class="section-heading">WHY CHOOSE US</h3>
                <p class="section-description">
                    Unmatched quality and excellence from concept to delivery. We're your dedicated partner in success.
                </p>
                <div class="media">
                    <div class="bx bx-star icon"></div>
                    <div class="media-body">
                        <h4 class="media-heading">Quality Assurance</h4>
                        <p class="media-description">
                            Quality isn’t just a buzzword for us. It’s an integral part of our
                            workflow, ensuring that all our deliverables meet the highest
                            standards.
                        </p>
                    </div>
                </div>
                <br />
                <div class="media">
                    <div class="bx bx-star icon"></div>
                    <div class="media-body">
                        <h4 class="media-heading">Professional Support</h4>
                        <p class="media-description">
                            We provide round-the-clock support to ensure smooth operation and
                            quick resolution of any issues you might encounter.
                        </p>
                    </div>
                </div>
                <br>
                <a href="/about-us" class="btn-outline"> MORE ABOUT US </a>
            </div>
        </div>
    </div>
</section>