<!-- WHY CHOOSE US -->
<section class="why-choose-us" data-aos-anchor-placement="top-center" data-aos-duration="1000" data-aos="fade-up"
    data-aos-once="true">
    <div class="   card bg-transparent border-0 py-5 rounded-0">
        <div class="container container-sm container-md container-lg container-xl container-xxl">
            <div class="row align-items-center justify-content-between">
                <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 col-xll-5">
                    <div class="position-relative image-box">
                        <div class="bg-dotted border-shadow square-1"></div>
                        <div class="bg-dotted-primary border-shadow square-2"></div>
                        <div class="border-shadow border border-primary border-5 p-2 image-lg">
                            <img src="{{ url_for('static', filename='images/about/1.webp')}}"
                                class="object-cover h-100 w-100" alt="Analytics and Reporting" />
                        </div>
                        <div class="border-shadow border border-primary border-5 p-2 image-sm">
                            <img src="{{ url_for('static', filename='images/about/3.webp')}}"
                                class="object-cover h-100 w-100" alt="Analytics and Reporting" />
                        </div>
                    </div>
                </div>
                <div
                    class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 col-xll-5 my-5 order-0 order-sm-0 order-md-0 order-lg-1 order-xl-1 order-xll-1">
                    <h3 class="text-white font-40 fw-bold m-0 my-4">
                        WHY CHOOSE US
                    </h3>
                    <p class="text-white font-18 m-0 mb-5">
                        Crafting experiences, delivering success.
                        Our commitment to quality and excellence is unparalleled. From the first brainstorming
                        session
                        to the final product delivery, we ensure that every step of the process is executed to
                        perfection. You are not just getting a service; you are getting a partner who is committed
                        to
                        your growth and success.
                    </p>

                    <div class="d-flex align-items-start mb-2">
                        <div
                            class="bx bx-star bg-gray-700 border border-2 border-primary font-30 text-white rounded-circle p-3">
                        </div>
                        <div class="ms-4">
                            <h4 class="m-0 mb-2 text-white font-20">
                                Quality Assurance</h4>
                            <p class="text-muted font-18"> Quality isn’t
                                just a buzzword for us. It’s an integral
                                part of our workflow,
                                ensuring that all
                                our deliverables meet the highest standards.</p>
                        </div>
                    </div>

                    <div class="d-flex align-items-start mb-2">
                        <div
                            class="bx bx-star bg-gray-700 border border-2 border-primary font-30 text-white rounded-circle p-3">
                        </div>
                        <div class="ms-4">
                            <h4 class="m-0 mb-2 text-white font-20">
                                Professional Support</h4>
                            <p class="text-muted font-18"> We provide
                                round-the-clock support to ensure smooth
                                operation and quick resolution of any issues
                                you might encounter.
                            </p>
                        </div>
                    </div>
                    <a href="/about-us" class="btn-frame">
                        MORE ABOUT US
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- WHY CHOOSE US -->