@include create-utils(
  (
    default: (
      ".container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container-xs":
      (
        width: 100%,
        padding-right: calc(get-var(gutter-x) * 0.5),
        padding-left: calc(get-var(gutter-x) * 0.5),
        margin-right: auto,
        margin-left: auto,
      ),
    ),
    sm: (
      ".container, .container-sm": (
        max-width: 540px,
      ),
      scale: min-width,
      prefix: null,
    ),
    md: (
      ".container, .container-sm, .container-md": (
        max-width: 720px,
      ),
      scale: min-width,
      prefix: null,
    ),
    lg: (
      ".container, .container-sm, .container-md, .container-lg": (
        max-width: 960px,
      ),
      scale: min-width,
      prefix: null,
    ),
    xl: (
      ".container, .container-sm, .container-md, .container-lg, .container-xl ":
      (
        max-width: 1140px,
      ),
      scale: min-width,
      prefix: null,
    ),
    xxl: (
      ".container, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl ":
      (
        max-width: 1320px,
      ),
      scale: min-width,
      prefix: null,
    ),
  )
);
