@include create-utils(
  (
    default: (
      ".row": (
        --gutter-x: 1.5rem,
        --gutter-y: 0,
        display: flex,
        flex-wrap: wrap,
        margin-top: calc(-1 * var(--gutter-y)),
        margin-right: calc(-0.5 * var(--gutter-x)),
        margin-left: calc(-0.5 * var(--gutter-x)),
      ),
      ".row>*": (
        box-sizing: border-box,
        flex-shrink: 0,
        width: 100%,
        max-width: 100%,
        padding-right: calc(var(--gutter-x) * 0.5),
        padding-left: calc(var(--gutter-x) * 0.5),
        margin-top: var(--gutter-y),
      ),
      ".row-cols-1 > *": (
        flex: 0 0 auto,
        width: 100%,
      ),
      ".row-cols-2> *": (
        flex: 0 0 auto,
        width: 50%,
      ),
      ".row-cols-3> *": (
        flex: 0 0 auto,
        width: 33.3333333333%,
      ),
      ".row-cols-4> *": (
        flex: 0 0 auto,
        width: 25%,
      ),
      ".row-cols-5> *": (
        flex: 0 0 auto,
        width: 20%,
      ),
      ".row-cols-6> *": (
        flex: 0 0 auto,
        width: 16.6666666667%,
      ),
      ".col": (
        flex: 1 0 0%,
      ),
      ".g-5, .gx-5": (
        --gutter-x: 3rem,
      ),
      ".g-5, .gy-5": (
        --gutter-y: 3rem,
      ),
    ),
    xxl: (
      ".row-cols-1-xxl > *": (
        flex: 0 0 auto,
        width: 100%,
      ),
      ".row-cols-2-xxl > *": (
        flex: 0 0 auto,
        width: 50%,
      ),
      ".row-cols-3-xxl > *": (
        flex: 0 0 auto,
        width: 33.3333333333%,
      ),
      ".row-cols-4-xxl > *": (
        flex: 0 0 auto,
        width: 25%,
      ),
      ".row-cols-5-xxl > *": (
        flex: 0 0 auto,
        width: 20%,
      ),
      ".row-cols-6-xxl > *": (
        flex: 0 0 auto,
        width: 16.6666666667%,
      ),
      ".g-5-xxl, .gx-5-xxl": (
        --gutter-x: 3rem,
      ),
      ".g-5-xxl, .gy-5-xxl": (
        --gutter-y: 3rem,
      ),
      scale: min-width,
      prefix: null,
    ),
    xl: (
      ".row-cols-1-xl > *": (
        flex: 0 0 auto,
        width: 100%,
      ),
      ".row-cols-2-xl > *": (
        flex: 0 0 auto,
        width: 50%,
      ),
      ".row-cols-3-xl > *": (
        flex: 0 0 auto,
        width: 33.3333333333%,
      ),
      ".row-cols-4-xl > *": (
        flex: 0 0 auto,
        width: 25%,
      ),
      ".row-cols-5-xl > *": (
        flex: 0 0 auto,
        width: 20%,
      ),
      ".row-cols-6-xl > *": (
        flex: 0 0 auto,
        width: 16.6666666667%,
      ),
      scale: min-width,
      prefix: null,
    ),
    lg: (
      ".row-cols-1-lg > *": (
        flex: 0 0 auto,
        width: 100%,
      ),
      ".row-cols-2-lg > *": (
        flex: 0 0 auto,
        width: 50%,
      ),
      ".row-cols-3-lg > *": (
        flex: 0 0 auto,
        width: 33.3333333333%,
      ),
      ".row-cols-4-lg > *": (
        flex: 0 0 auto,
        width: 25%,
      ),
      ".row-cols-5-lg > *": (
        flex: 0 0 auto,
        width: 20%,
      ),
      ".row-cols-6-lg > *": (
        flex: 0 0 auto,
        width: 16.6666666667%,
      ),
      ".g-5-lg, .gx-5-lg": (
        --gutter-x: 3rem,
      ),
      ".g-5-lg, .gy-5-lg": (
        --gutter-y: 3rem,
      ),
      scale: min-width,
      prefix: null,
    ),
    md: (
      ".row-cols-1-md > *": (
        flex: 0 0 auto,
        width: 100%,
      ),
      ".row-cols-2-md > *": (
        flex: 0 0 auto,
        width: 50%,
      ),
      ".row-cols-3-md > *": (
        flex: 0 0 auto,
        width: 33.3333333333%,
      ),
      ".row-cols-4-md > *": (
        flex: 0 0 auto,
        width: 25%,
      ),
      ".row-cols-5-md > *": (
        flex: 0 0 auto,
        width: 20%,
      ),
      ".row-cols-6-md > *": (
        flex: 0 0 auto,
        width: 16.6666666667%,
      ),
      ".g-5-md, .gx-5-md": (
        --gutter-x: 3rem,
      ),
      ".g-5-md, .gy-5-md": (
        --gutter-y: 3rem,
      ),
      scale: min-width,
      prefix: null,
    ),
    sm: (
      ".row-cols-1-sm > *": (
        flex: 0 0 auto,
        width: 100%,
      ),
      ".row-cols-2-sm > *": (
        flex: 0 0 auto,
        width: 50%,
      ),
      ".row-cols-3-sm > *": (
        flex: 0 0 auto,
        width: 33.3333333333%,
      ),
      ".row-cols-4-sm > *": (
        flex: 0 0 auto,
        width: 25%,
      ),
      ".row-cols-5-sm > *": (
        flex: 0 0 auto,
        width: 20%,
      ),
      ".row-cols-6-sm > *": (
        flex: 0 0 auto,
        width: 16.6666666667%,
      ),
      ".g-5-sm, .gx-5-sm": (
        --gutter-x: 3rem,
      ),
      ".g-5-sm, .gy-5-sm": (
        --gutter-y: 3rem,
      ),
      scale: min-width,
      prefix: null,
    ),
  )
);
