/* Component code */
.blog-card {
  height: 100%;

  .card-description {
    margin-top: 10px;
  }

  .card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    padding-bottom: 20px;

    time {
      color: get-var(muted);
    }

    a {
      color: get-var(primary);
    }
  }
}
