$primary: #FF0000;
$secondary: #6d767e;
$warning: #ffc107;
$danger: #dc3545;
$success: #198754;
$info: #0dcaf0;
$muted: #acb6c0;
$dark: #212529;
$light: #eaf7f4;
$body: #121212;
$text: #ffffff;
$black: #000000;
$white: #ffffff;
$border: #acb6c0;
$transparent: transparent;
