*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

html,
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: get-var(body);
  color: get-var(text);
  font-size: get-var(font-size);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: get-var(text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Fonts folder path */ 
$fonts_path: "../fonts";

/* Fonts folder path */ 
$images_path: "../images";