.input-group {
  display: flex;
  align-items: stretch;
  align-content: center;
  justify-content: space-between;
  border: 1px solid get-var(dark);
  border-radius: get-var(rounded);
  box-shadow: get-var(shadow);
  padding-right: 10px;
  background-color: get-var(body);
}

.form-field {
  display: block;
  background-color: transparent;
  border: none;
  outline: none;
  color: get-var(text);
  background-color: get-var(body);
  width: 100%;
  padding: 20px;
  border-radius: get-var(rounded);
}

.form-select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"  viewBox="0 0 16 16" stroke="#fff"><path stroke="#fff" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
}