{% extends "layouts/primary.html" %}

{% block title %} About us | {% endblock %}

{% block seo %}
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="robots" content="index, follow" />
<link rel="canonical" href="" />
<meta property="og:title" content="About us | NexTash" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="NexTash" />
<meta property="og:url" content="" />
{% endblock %}

{% block style %}
<style>
  .logo-border {
    width: 320px;
    height: 320px;
    transition: transform, 0.5s;
    transform: rotate(45deg);
    box-shadow: rgba(238, 40, 14, 0.1) 0px 8px 24px, rgba(211, 38, 7, 0.1) 0px 16px 56px, rgba(235, 6, 25, 0.233) 0px 24px 80px;
  }

  .logo-wrapper:hover .logo-border {
    transform: rotate(-90deg);
    box-shadow: rgba(238, 40, 14, 0.2) 0px 8px 24px, rgba(211, 38, 7, 0.2) 0px 16px 56px, rgba(235, 6, 25, 0.3) 0px 24px 80px;
  }
</style>
{% endblock %}

{% block content %}
<!-- HEADER -->
<section class="section" data-aos-duration="1000" data-aos="zoom-in-up" data-aos-once="true">
  <div class="section-container ">
    <div class="section-body">
      <div class="section-label page-label"><span> WHO WE ARE ?</span></div>
      <h2 class="section-heading page-heading"> We're a digital agency based in Pakistan.</h2>
      <p class="section-description page-description">
        - At NexTash, we believe in creating a work environment that fosters creativity, innovation, and
        collaboration. We are a team of passionate individuals who are committed to making a positive impact
        through our work.
      </p>
    </div>
  </div>
</section>
<!-- HEADER -->

<!-- INTRO -->
<section class="section" data-aos-duration="1000" data-aos="zoom-in-up" data-aos-once="true">
  <div class="section-container ">
    <div class="row row-cols-1 row-cols-1-sm row-cols-2-md">
      <div class="col logo-wrapper" data-tilt data-tilt-max="20" data-tilt-speed="400">
        <div class="  logo-border z-index-1" data-aos-duration="1000" data-aos="zoom-in-up" data-aos-once="true"></div>
        <img src="{{ url_for('static', filename='images/logos/logo-min.png')}}" class="image-full h-100 w-100 z-index-2"
          alt="Logo" data-aos-duration="1000" data-aos="zoom-in-up" data-aos-once="true">
      </div>
      <div class="col" data-aos-duration="1000" data-aos="zoom-in-up" data-aos-once="true">
        <b class="section-label">About</b>
        <h3 class="section-heading"> Who we are</h3>
        <p class="section-description">
          Welcome to NexTash, a leading IT solutions provider revolutionizing the digital landscape. With a
          passion for innovation and a commitment to excellence, we are dedicated to empowering businesses and
          individuals to thrive in the rapidly evolving world of technology.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- INTRO -->

<!-- CEO MESSAGE -->
<section class="section" data-aos-duration="1000" data-aos="zoom-in-up" data-aos-once="true">
  <div class="section-container">
    <div class="row row-cols-1 row-cols-1-sm row-cols-2-md">
      <div class="col">
        <a class="" href="">
          <img src="{{ url_for('static', filename='images/team/1.jpg')}}" class="card-img-top">
        </a>
      </div>
      <div class="col">
        <b class="section-label"> CEO MESSAGE</b>
        <h3 class="section-heading"> Faisal Zahoor</h3>
        <p class="section-description">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus, porro corrupti! Rem in maxime provident,
          quidem eligendi soluta vero temporibus sed saepe dicta ea, mollitia, quibusdam repudiandae quo doloremque
          distinctio.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- CEO MESSAGE -->

<!-- STORY -->
{% include "components/story.html" %}
<!-- STORY -->

<!-- MISSION -->
<section class="shadow py-2 py-sm-2 py-md-5 py-lg-5 bg-2" data-aos-duration="1000" data-aos="fade-up">
  <div class="card bg-transparent border-0 py-5 rounded-0">
    <div class="container container-sm container-md container-lg container-xl container-xxl">
      <div class="text-center p-3 backdrop-6 py-5 border border-primary border-4 border-shadow">
        <b class="border border-2 border-primary py-1 px-3 text-uppercase rounded-pill text-white font-12 d-inline-block mb-2"
          data-aos-duration="1000" data-aos="zoom-in-up">About</b>
        <h3 class="text-white display-4 fw-bold m-0 mb-3" data-aos-duration="1000" data-aos="zoom-in-up">Our Mission
        </h3>
        <p class="text-white font-18 m-0 mb-4 mx-auto lh-base" data-aos-duration="1000" data-aos="zoom-in-up">
          At NexTash, our mission is to deliver cutting-edge IT solutions that drive success and transform
          the way businesses operate. We strive to be a trusted partner for our clients, helping them achieve their
          goals through innovative technology, expert guidance, and unparalleled support.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- MISSION -->

<!-- SERVICES -->
{% include "components/services.html" %}
<!-- SERVICES -->

<!-- TEAM -->
{% include "components/team.html" %}
<!-- TEAM -->

<!-- PROCESS -->
{% include "components/process.html" %}
<!-- PROCESS -->

<!-- CLIENTS -->
{% include "components/clients.html" %}
<!-- CLIENTS -->
{% endblock %}

{% block scripts %} {% endblock %}