{% extends "layouts/primary.html" %}

{% block title %} About us | {% endblock %}

{% block seo %}
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="robots" content="index, follow" />
<link rel="canonical" href="" />
<meta property="og:title" content="About us | Nextash" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="Nextash" />
<meta property="og:url" content="" />
{% endblock %}

{% block style %}{% endblock %}

{% block content %}
<main>
  <!-- Page header -->
  <section class="container container-sm container-md container-lg container-xl container-xxl py-5">
    <div class="row py-5">
      <div class="col-sm-6 text-white py-2">
        <p class="text-primary font-16 m-0 fw-bold mb-2">WHO WE ARE ?</p>
        <h3 class="font-40 fw-bold m-0 mb-2">We're a digital agency based in Valencia.</h3>
      </div>
      <div class="col-sm-6 text-white py-2 ">
        We’re a diverse team that works as fancies attention to details, enjoys beers on Friday nights and
        aspires to design the dent in the universe.
      </div>
    </div>
  </section>
  <!-- Page header -->
  <section class="container container-sm container-md container-lg container-xl container-xxl py-5">
    <div class="row align-items-center">
      <div class="col-sm-6">
        <div>
          <img src="{{ url_for('static', filename='/images/logo.png')}}" class="img-fluid" alt="">
        </div>
      </div>
      <div class="col-sm-6">
        <p class="text-white font-18">
          Welcome to NexTash, a leading IT solutions provider revolutionizing the digital landscape. With a
          passion for innovation and a commitment to excellence, we are dedicated to empowering businesses and
          individuals to thrive in the rapidly evolving world of technology.
        </p>
      </div>
    </div>
  </section>
  <!------ Vision ------>
  <section class="py-5 bg-no-repeat bg-fixed bg-cover" style="background-image: url(./images/background.jpg);">
    <div class="card-dotted py-5">
      <div class="container container-sm container-md container-lg container-xl container-xxl">
        <div class="card-dotted-content text-center p-3 backdrop-6 py-5 shadow border border-primary border-2">
          <h3 class="text-primary text-uppercase font-14 fw-bold m-0 mb-2">About</h3>
          <h2 class="text-white font-40 fw-bold m-0 mb-2">Our Mission</h2>
          <p class="text-white font-18 m-0 mb-4">
            At NexTash, our mission is to deliver cutting-edge IT solutions that drive success and transform
            the way businesses operate. We strive to be a trusted partner for our clients, helping them achieve their
            goals through innovative technology, expert guidance, and unparalleled support.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!------ Vision ------>
  <!------- Services ------->
  <section class="bg-black">
    <div class="container container-sm container-md container-lg container-xl container-xxl py-5">
      <div class="text-white py-5">
        <h3 class="font-40 m-0 section-heading">Services</h3>
        <p class="text-primary font-14 m-0">The services we are provinding</p>
      </div>
      <!------- Row ------->
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4">
        <!------- Col ------->
        <div class="col mb-4">
          <article class="card rounded-4 backdrop-10 bg-transparent shadow h-100">
            <div class="card-body">
              <div class="font-40 mb-4 bx bx-globe text-danger bg-gray-700 rounded-2 p-3"></div>
              <h3 class="fw-bold font-24 mb-3 m-0 text-white">Web development</h3>
              <p class="text-muted font-16">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum rerum tempore
                accusamus sed
                voluptas vel a natus provident commodi, doloremque nihil, maiores odio voluptates
                rem
                quasi nam autem.
                Accusamus, doloribus?
              </p>
            </div>
            <div class="card-footer border-0 bg-transparent pt-0">
              <a href="" class="btn btn-dark fw-bold rounded-pill px-3 font-14">
                Learn more
              </a>
            </div>
          </article>
        </div>
        <!------- Col ------->
        <!------- Col ------->
        <div class="col mb-4 bg-1">
          <article class="card rounded-4 backdrop-10 bg-transparent shadow h-100">
            <div class="card-body">
              <div class="font-40 mb-4 bx bx-globe text-danger bg-gray-700 rounded-2 p-3"></div>
              <h3 class="fw-bold font-24 mb-3 m-0 text-white">Web development</h3>
              <p class="text-muted font-16">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum rerum tempore
                accusamus sed
                voluptas vel a natus provident commodi, doloremque nihil, maiores odio voluptates
                rem
                quasi nam autem.
                Accusamus, doloribus?
              </p>
            </div>
            <div class="card-footer border-0 bg-transparent pt-0">
              <a href="" class="btn btn-dark fw-bold rounded-pill px-3 font-14">
                Learn more
              </a>
            </div>
          </article>
        </div>
        <!------- Col ------->
        <!------- Col ------->
        <div class="col mb-4">
          <article class="card rounded-4 backdrop-10 bg-transparent shadow h-100">
            <div class="card-body">
              <div class="font-40 mb-4 bx bx-globe text-danger bg-gray-700 rounded-2 p-3"></div>
              <h3 class="fw-bold font-24 mb-3 m-0 text-white">Web development</h3>
              <p class="text-muted font-16">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum rerum tempore
                accusamus sed
                voluptas vel a natus provident commodi, doloremque nihil, maiores odio voluptates
                rem
                quasi nam autem.
                Accusamus, doloribus?
              </p>
            </div>
            <div class="card-footer border-0 bg-transparent pt-0">
              <a href="" class="btn btn-dark fw-bold rounded-pill px-3 font-14">
                Learn more
              </a>
            </div>
          </article>
        </div>
        <!------- Col ------->
        <!------- Col ------->
        <div class="col mb-4">
          <article class="card rounded-4 backdrop-10 bg-transparent shadow h-100">
            <div class="card-body">
              <div class="font-40 mb-4 bx bx-globe text-danger bg-gray-700 rounded-2 p-3"></div>
              <h3 class="fw-bold font-24 mb-3 m-0 text-white">Web development</h3>
              <p class="text-muted font-16">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum rerum tempore
                accusamus sed
                voluptas vel a natus provident commodi, doloremque nihil, maiores odio voluptates
                rem
                quasi nam autem.
                Accusamus, doloribus?
              </p>
            </div>
            <div class="card-footer border-0 bg-transparent pt-0">
              <a href="" class="btn btn-dark fw-bold rounded-pill px-3 font-14">
                Learn more
              </a>
            </div>
          </article>
        </div>
        <!------- Col ------->
        <!------- Col ------->
        <div class="col mb-4">
          <article class="card rounded-4 backdrop-10 bg-transparent shadow h-100">
            <div class="card-body">
              <div class="font-40 mb-4 bx bx-globe text-danger bg-gray-700 rounded-2 p-3"></div>
              <h3 class="fw-bold font-24 mb-3 m-0 text-white">Web development</h3>
              <p class="text-muted font-16">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum rerum tempore
                accusamus sed
                voluptas vel a natus provident commodi, doloremque nihil, maiores odio voluptates
                rem
                quasi nam autem.
                Accusamus, doloribus?
              </p>
            </div>
            <div class="card-footer border-0 bg-transparent pt-0">
              <a href="" class="btn btn-dark fw-bold rounded-pill px-3 font-14">
                Learn more
              </a>
            </div>
          </article>
        </div>
        <!------- Col ------->
        <!------- Col ------->
        <div class="col mb-4">
          <article class="card rounded-4 backdrop-10 bg-transparent shadow h-100">
            <div class="card-body">
              <div class="font-40 mb-4 bx bx-globe text-danger bg-gray-700 rounded-2 p-3"></div>
              <h3 class="fw-bold font-24 mb-3 m-0 text-white">Web development</h3>
              <p class="text-muted font-16">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum rerum tempore
                accusamus sed
                voluptas vel a natus provident commodi, doloremque nihil, maiores odio voluptates
                rem
                quasi nam autem.
                Accusamus, doloribus?
              </p>
            </div>
            <div class="card-footer border-0 bg-transparent pt-0">
              <a href="" class="btn btn-dark fw-bold rounded-pill px-3 font-14">
                Learn more
              </a>
            </div>
          </article>
        </div>
        <!------- Col ------->
      </div>
      <!------- Row ------->
    </div>
  </section>
  <!------- Services ------->
</main>
{% endblock %}

{% block scripts %} {% endblock %}