{% extends "layouts/primary.html" %}

{% block title %} Blogs | {% endblock %}

{% block seo %}
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="robots" content="index, follow" />
<link rel="canonical" href="" />
<meta property="og:title" content="Blogs | NexTash" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="NexTash" />
<meta property="og:url" content="" />
{% endblock %}

{% block content %}
<!-- HEADER -->
<section class="section">
  <div class="section-container ">
    <div class="section-body">
      <div class="section-label page-label"><span>BLOGS</span></div>
      <h2 class="section-heading page-heading">Read our latest blogs and articles.</h2>
      <p class="section-description page-description">
        - We help our clients succeed by creating brand identities, digital experiences, and print materials
        that communicate clearly, achieve marketing goals, and look fantastic.
      </p>
    </div>
  </div>
</section>
<!-- HEADER -->

<!-- CONTENT -->
<section class="section">
  <div class="section-container ">

    <div class="section-header">
      <h3 class="section-description">Posts <span id="totalCount">1 to 9 of 0</span></h3>
      <div class="row g-5 row-cols-1 row-cols-1-sm row-cols-3-md">
        <div class="col">
          <form class="input-group" id="searchForm">
            <input type="search" value="" name="search" id="search" placeholder="Search..." class="form-field">
            <button class="btn bx bx-search"></button>
          </form>
        </div>
        <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-3">
          <div class="input-group">
            <select name="ordering" id="ordering" class="form-field form-select">
              <option value="-id" selected>Sort</option>
              <option value="-id">Recent</option>
              <option value="id">Oldest</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="section-body">{% include "components/blogs.html" %}</div>
    <div class="section-footer">
      <button class="btn-outline">Load More</button>
    </div>
  </div>
</section>
<!-- CONTENT -->
{% endblock %}