{% extends "layouts/primary.html" %} {% block title %} Blog | {% endblock %} {%
block seo %}
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="robots" content="index, follow" />
<link rel="canonical" href="" />
<meta property="og:title" content="Blog details | NexTash" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="NexTash" />
<meta property="og:url" content="" />
{% endblock %} {% block style %} {% endblock %} {% block content %}
<section class="section">
  <div class="section-container">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 g-5 align-items-start">
      <div class="col">
        <a href="" class="section-label">Ui / Ux</a>
        <h1 class="section-heading">Title will goes here.</h1>
        <p class="section-description">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit nam
          commodi mollitia sequi minima, voluptatum iusto dolore aperiam hic
          doloribus quae, recusandae labore corrupti! Libero nesciunt commodi
          itaque harum impedit?
        </p>
        <div class="media">
          <a href="javascript:void(0)" class="media-image">
            <img src="{{ url_for('static', filename='images/team/1.jpg')}}" class="image" />
          </a>
          <div class="media-body">
            <h6 class="media-heading">Abdul</h6>
            <p class="media-description">@abdul</p>
          </div>
        </div>
        <h4 class="section-subheading">Follow us</h4>
        <div class="social-links">
          <a href="#" class="bx bxl-facebook-square icon"></a>
          <a href="#" class="bx bxl-twitter icon"></a>
          <a href="#" class="bx bxl-google icon"></a>
          <a href="#" class="bx bxl-instagram icon"></a>
          <a href="#" class="bx bxl-github icon"></a>
        </div>
      </div>
      <div class="col">
        <div class="image-box">
          <div class="square-1"></div>
          <div class="square-2"></div>
          <div class="image-lg">
            <img src="{{ url_for('static', filename='images/services/97.webp')}}" class="image"
              alt="Analytics and Reporting" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="section-container">
    <div class="section-header">
      <div class="section-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias,
        aliquid tempore ipsum tenetur est molestiae quae in velit corrupti?
        Assumenda sint, porro quia nesciunt excepturi voluptatem! Delectus est
        tenetur laudantium.
      </div>
    </div>
    <div class="section-body">
      <div class="badges-group">
        <span class="badge">HTML 5</span>
        <span class="badge">CSS 3</span>
        <span class="badge">SCSS</span>
        <span class="badge">JAVASCRIPT</span>
        <span class="badge">JQuery</span>
        <span class="badge">Bootstrap 5</span>
        <span class="badge">Uikit</span>
      </div>
    </div>
    <div class="section-footer">
      <div class="comments-section">
        <div class="comment-header"></div>
        <div class="comment-body">
          <div class="comment-item">
            <a href="javascript:void(0)" class="comment-avatar">
              <img src="{{ url_for('static', filename='images/team/1.jpg')}}" class="image" />
            </a>
            <div class="comment-body">
              <h3 class="comment-fullname">Abdul Hannan</h3>
              <div class="comment-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint,
                velit provident aspernatur hic, voluptates recusandae cupiditate
                eligendi ea ipsam ex earum obcaecati molestias est laboriosam
                eveniet repellendus dolor! Iure, vero?
              </div>
              <div class="comment-controls">
                <button class="control-btn">Edit</button>
                <button class="control-btn">Reply</button>
                <button class="control-btn">Delete</button>
              </div>
            </div>
          </div>
        </div>
        <div class="comment-footer"></div>
      </div>
    </div>
  </div>
</section>

<!-- Blogs -->
<section class="section" data-aos="zoom-in-up" data-aos-once="true">
  <div class="section-container">
    <div class="section-header">
      <span class="section-label">Find out our thoughts</span>
      <h3 class="section-heading">Related Aricles</h3>
      <p class="section-description">
        In this series of blog posts, we take a more in-depth look at different
        aspects of [Topic]. Uncover hidden insights, discover expert tips, and
        gain a deeper understanding of the subject matter you love
      </p>
    </div>
    <div class="section-body">{% include "components/blogs.html" %}</div>
  </div>
</section>
<!-- Blogs -->

{% endblock %}