{% extends "layouts/primary.html" %}

{% block title %} Blog | {% endblock %}

{% block seo %}
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="robots" content="index, follow" />
<link rel="canonical" href="" />
<meta property="og:title" content="Blog details | NexTash" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="NexTash" />
<meta property="og:url" content="" />
{% endblock %}

{% block style %}

{% endblock %}

{% block content %}
<main class="bg-1 bg-no-repeat">
  <div class="container container-sm container-md container-lg container-xl container-xxl py-5">
    <div class="row align-items-center py-5">
      <div class="col-sm-4">
        <a href="" class="btn btn-primary  text-white font-14 py-1 px-3 rounded-pill text-decoration-none">
          Ui / Ux
        </a>
        <h1 class="font-40 m-0 fw-bold text-white my-3">Title will goes here.</h1>
        <div class=" border-0 bg-transparent">
          <div class="card-body d-flex align-items-center py-4 p-0">
            <div class="me-2">
              <a href="javascript:void(0)" class="size-40 d-inline-block">
                <img src="{{ url_for('static', filename='images/team/1.jpg')}}" class="rounded-circle border w-100 h-100 object-center object-cover" />
              </a>
            </div>
            <div class="me-2">
              <h6 class="mb-0 fw-bold font-14 text-white text-truncate">Abdul</h6>
              <p class="m-0 text-truncate text-muted">@abdul</p>
            </div>
          </div>
          <div data-aos-duration="1000" data-aos="zoom-in-up">
            <p class="mb-2 text-muted font-14 fw-bold">Share</p>
            <div class="btn-group btn-group-lg">
              <button type="button" class="btn btn-dark font-20 bx bx-link shareBtn" data-type="link"></button>
              <button type="button" class="btn btn-dark font-20 bx bxl-facebook-circle shareBtn"
                data-type="facebook"></button>
              <button type="button" class="btn btn-dark font-20 bx bxl-twitter shareBtn" data-type="twitter"></button>
              <button type="button" class="btn btn-dark font-20 bx bxl-linkedin shareBtn" data-type="linkedin"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-7" data-aos-duration="1000" data-aos="zoom-in-up">
        <div class="position-relative image-box">
          <div data-aos-duration="1000" data-aos="zoom-in-up" class="bg-dotted border-shadow square-1">
          </div>
          <div data-aos-duration="1000" data-aos="zoom-in-up"
              class="bg-dotted-primary border-shadow square-2"></div>
          <div class="border-shadow border border-primary border-5 p-2 image-lg" data-aos-duration="1000"
              data-aos="zoom-in-up">
              <img src="{{ url_for('static', filename='images/services/97.webp')}}"
                  class="object-cover h-100 w-100" alt="Analytics and Reporting" />
          </div>
      </div>
      </div>
    </div>
    <div class="row justify-content-center py-2">
      <div class="col-sm-8 ">
        <div class="font-20 text-muted py-5" data-aos-duration="1000" data-aos="zoom-in-up">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, aliquid tempore ipsum tenetur est
            molestiae quae in velit corrupti? Assumenda sint, porro quia nesciunt excepturi voluptatem! Delectus est
            tenetur laudantium.
          </p>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus, fugiat iste? In architecto totam deleniti
            molestiae omnis, reprehenderit neque quos sit ducimus fugit mollitia consequuntur exercitationem libero?
            Beatae, tenetur ut?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, aliquid tempore ipsum tenetur est
            molestiae quae in velit corrupti? Assumenda sint, porro quia nesciunt excepturi voluptatem! Delectus est
            tenetur laudantium.
          </p>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus, fugiat iste? In architecto totam deleniti
            molestiae omnis, reprehenderit neque quos sit ducimus fugit mollitia consequuntur exercitationem libero?
            Beatae, tenetur ut?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, aliquid tempore ipsum tenetur est
            molestiae quae in velit corrupti? Assumenda sint, porro quia nesciunt excepturi voluptatem! Delectus est
            tenetur laudantium.
          </p>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus, fugiat iste? In architecto totam deleniti
            molestiae omnis, reprehenderit neque quos sit ducimus fugit mollitia consequuntur exercitationem libero?
            Beatae, tenetur ut?
          </p>
        </div>
        <div class="card bg-transparent border-0 rounded-4">
          <div class="card-header bg-transparent border-0 p-0">
            <div class="d-flex align-items-center justify-content-between">
              <h4 class="m-0 fw-bold font-18 text-white">(0) Comments</h4>
              <div class="form-group m-0 font-14 text-white bg-dark p-1 rounded-2 px-2">
                <label for="" class="m-0">Sort</label>
                <select id="" class="bg-transparent text-muted bg-dark border-0">
                  <option value="-id">Newest</option>
                  <option value="id">Oldest</option>
                </select>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div id="comments"></div>
          </div>
          <div class="card-footer bg-transparent border-0 p-0">
            <form class="commentForm w-100">
              <div class="d-flex align-items-center">
                <div class="size-50">
                  <img src="{{ url_for('static', filename='images/team/1.jpg')}}" class="rounded-circle h-100 w-100 object-cover">
                </div>
                <input class="bg-gray-700 w-100 font-14 form-control shadow-none p-3 mx-3 border-0 rounded-3"
                  placeholder="Write your comment..." />
                <button class="btn btn-primary text-white rounded-circle p-3 font-24 bx bx-send">
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block scripts %} {% endblock %}