{% extends "layouts/primary.html" %}

{% block title %} Blogs | {% endblock %}

{% block seo %}
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="robots" content="index, follow" />
<link rel="canonical" href="" />
<meta property="og:title" content="Blogs | NexTash" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="NexTash" />
<meta property="og:url" content="" />
{% endblock %}

{% block content %}
<!-- HEADER -->
<section class="section"  data-aos="zoom-in-up" data-aos-once="true">
  <div class="section-container ">
    <div class="section-body">
      <div class="section-label page-label"><span>BLOGS</span></div>
      <h2 class="section-heading page-heading">Read our latest blogs and articles.</h2>
      <p class="section-description page-description">
        - We help our clients succeed by creating brand identities, digital experiences, and print materials
        that communicate clearly, achieve marketing goals, and look fantastic.
      </p>
    </div>
  </div>
</section>
<!-- HEADER -->

<!-- CONTENT -->
<section class="section"  data-aos="zoom-in-up" data-aos-once="true">
  <div class="section-container ">
    <div class="section-header">
      <h3 class="font-18 fw-bold m-0 text-white"  data-aos="zoom-in-up">Posts <span
          id="totalCount">1 to 9 of 0</span></h3>
      <div class="row my-5">
        <div class="col-12 col-sm-12 col-md-4 col-lg-6 mb-3"  data-aos="zoom-in-up">
          <form class="input-group border rounded-pill px-2 border-3 border-light bg-dark" id="searchForm">
            <input type="search" value="" name="search" id="search" placeholder="Search..."
              class="bg-dark border-0 shadow-none form-control font-16 text-dark">
            <button class="btn border-0 shadow-none bx bx-search font-18 me-2 text-primary"></button>
          </form>
        </div>
        <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-3"  data-aos="zoom-in-up">
          <div class="input-group border rounded-pill px-2 border-3 border-light bg-dark">
            <label for="category_id" class="input-group-text bg-dark border-0 fw-bold text-white">Category</label>
            <select name="category_id" id="category_id" data-selected=""
              class=" border-0 shadow-none font-16 text-white bg-dark form-control form-select">
              <option value="" selected="">Select</option>
              <option value="3">Javascript</option>
              <option value="2">Css</option>
              <option value="1">Html</option>
            </select>
          </div>
        </div>
        <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-3"  data-aos="zoom-in-up">
          <div class="input-group border rounded-pill px-2 border-3 border-light bg-dark">
            <label for="ordering" class="input-group-text bg-dark border-0 fw-bold text-white">Sort</label>
            <select name="ordering" id="ordering"
              class=" border-0 shadow-none font-16 text-white bg-dark form-control form-select">
              <option value="-id">Recent</option>
              <option value="id">Oldest</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="section-body">
      {% include "components/blogs.html" %}
    </div>
    <div class="section-footer">
      <button  class="btn-outline">Load More</button>
    </div>
  </div>
</section>
<!-- CONTENT -->
{% endblock %}