{% extends "layouts/primary.html" %}

{% block title %} Careers | {% endblock %}

{% block seo %}
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="robots" content="index, follow" />
<link rel="canonical" href="" />
<meta property="og:title" content=" | NexTash" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="NexTash" />
<meta property="og:url" content="" />
{% endblock %}

{% block style %}{% endblock %}

{% block content %}
<div class="bg-1 bg-cover bg-no-repeat bg-fixed">
    <!-- HEADER -->
    <section class="shadow py-5">
        <div class="container container-sm container-md container-lg container-xl container-xxl py-5">
            <div class="row align-items-center justify-content-center my-5 py-5">
                <div class="col-sm-12 text-white py-2 mb-5">
                    <b class="border border-primary border-2 rounded-pill px-3 py-1 text-primary font-16 d-inline-block mb-2"
                        data-aos-duration="1000" data-aos="fade-up">Careers</b>
                    <h3 class="display-1 fw-bold m-0 mb-2 col-sm-10 text-white" data-aos-duration="1000"
                        data-aos="fade-up">Join Our Journey Towards Excellence!</h3>
                </div>
            </div>
        </div>
    </section>

    <section class="shadow py-2 py-sm-2 py-md-5 py-lg-5">
        <div class="container container-sm container-md container-lg container-xl container-xxl py-5">
            <div class="row align-items-center">
                <div class="col-sm-5 text-white py-2">
                    <div class="position-relative p-2 border border-primary border-5 bg-dark">
                        <div class="bg-dotted position-absolute start-0 top-0 size-100 z-index-1 ms--30 mt--30"
                            data-aos-duration="1000" data-aos="zoom-in-up">
                        </div>
                        <div class="bg-dotted-primary position-absolute bottom-0 end-0 size-100 z-index-1 me--30 mb--30"
                            data-aos-duration="1000" data-aos="zoom-in-up">
                        </div>
                        <img src="{{ url_for('static', filename='images/services/app-development/3-min.webp')}}"
                            class="shadow z-index-2 position-relative w-100 h-100 object-cover shadow " alt=""
                            data-aos-duration="1000" data-aos="zoom-in-up">
                    </div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-6 my-3">
                    <b class="border border-2 border-primary py-1 px-3 text-uppercase rounded-pill text-light font-14 d-inline-block mb-2"
                        data-aos-duration="1000" data-aos="zoom-in-up">
                        Join our family
                    </b>
                    <h3 class="text-white font-40 fw-bold mb-4" data-aos-duration="1000" data-aos="zoom-in-up">
                        Be a part of a dynamic team that is pushing the boundaries of innovative thinking.
                    </h3>
                    <p class="font-20 text-muted" data-aos-duration="1000" data-aos="zoom-in-up">
                        We're always on the lookout for bright, innovative minds to join our family. We believe in
                        fostering a work environment that's not only challenging and rewarding, but also fun and
                        inclusive. If you have a passion for digital solutions and a drive to constantly learn, grow,
                        and innovate, you might just be the perfect fit for our team.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- HEADER -->

    <!-- PERKS -->
    <section class="shadow py-2 py-sm-2 py-md-5 py-lg-5">
        <div class="container container-sm container-md container-lg container-xl container-xxl py-5">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
                <!------- Col ------->
                <div class="col mb-4" data-aos-duration="1000" data-aos="zoom-in-up">
                    <article class="card rounded-4 border border-dark border-3 bg-dark text-center shadow h-100">
                        <div class="card-body py-5">
                            <div class="font-40 mb-4 bx bx-flower text-danger bg-gray-700 rounded-2 p-3"></div>
                            <h3 class="fw-bold font-24 mb-3 m-0 text-white">
                                Friendly Environment
                            </h3>
                            <p class="text-muted font-16">
                                Work on cutting-edge projects that are pushing the boundaries of technology and
                                creativity.
                            </p>
                        </div>

                    </article>
                </div>
                <!------- Col ------->
                <!------- Col ------->
                <div class="col mb-4" data-aos-duration="1000" data-aos="zoom-in-up">
                    <article class="card rounded-4 border border-primary border-3 bg-dark text-center shadow h-100">
                        <div class="card-body py-5">
                            <div class="font-40 mb-4 bx bx-group text-danger bg-gray-700 rounded-2 p-3"></div>
                            <h3 class="fw-bold font-24 mb-3 m-0 text-white">
                                Collaborative Culture
                            </h3>
                            <p class="text-muted font-16">
                                Be part of a team that values open communication, teamwork, and mutual support.
                            </p>
                        </div>

                    </article>
                </div>
                <!------- Col ------->
                <!------- Col ------->
                <div class="col mb-4" data-aos-duration="1000" data-aos="zoom-in-up">
                    <article class="card rounded-4 border border-dark border-3 bg-dark text-center shadow h-100">
                        <div class="card-body py-5">
                            <div class="font-40 mb-4 bx bx-globe text-danger bg-gray-700 rounded-2 p-3"></div>
                            <h3 class="fw-bold font-24 mb-3 m-0 text-white">
                                Work-Life Balance
                            </h3>
                            <p class="text-muted font-16">
                                We understand the importance of personal time and support a healthy work-life balance.
                            </p>
                        </div>

                    </article>
                </div>
                <!------- Col ------->
                <!------- Col ------->
                <div class="col mb-4">
                    <article class="card rounded-4 border border-primary border-3 bg-dark text-center shadow h-100">
                        <div class="card-body py-5">
                            <div class="font-40 mb-4 bx bx-analyse text-danger bg-gray-700 rounded-2 p-3"></div>
                            <h3 class="fw-bold font-24 mb-3 m-0 text-white" data-aos-duration="1000"
                                data-aos="zoom-in-up">
                                Career Growth
                            </h3>
                            <p class="text-muted font-16" data-aos-duration="1000" data-aos="zoom-in-up">
                                We offer internal promotion and offer many chances for career advancement.
                            </p>
                        </div>
                    </article>
                </div>
                <!------- Col ------->
            </div>
        </div>
    </section>
    <!-- PERKS -->

    <!-- JOBS -->
    <section class="shadow py-2 py-sm-2 py-md-5 py-lg-5">
        <div class="container container-sm container-md container-lg container-xl container-xxl py-5">
            <div class="py-5">
                <div class="text-white ">
                    <b class="border border-2 border-primary py-1 px-3 text-uppercase rounded-pill text-light font-14"
                        data-aos-duration="1000" data-aos="zoom-in-up">
                        JOBS
                    </b>
                    <h3 class="text-white font-40 fw-bold m-0 my-2" data-aos-duration="1000" data-aos="zoom-in-up">
                        Current Jobs Opening</h3>
                    <p class="text-muted font-18 m-0 col-sm-6" data-aos-duration="1000" data-aos="zoom-in-up">
                        We're currently hiring and would love to hear from you. If you are passionate about helping
                        others and want to advance professionally, our company could be a good fit for you.
                    </p>
                </div>
                <h3 class="font-18 fw-bold m-0 text-white my-3">Posts <span id="totalCount">1 to 9 of 0</span></h3>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-4 col-lg-6 mb-3" data-aos-duration="1000" data-aos="zoom-in-up">
                        <form class="input-group border rounded-pill px-2 border-3 border-light bg-dark"
                            id="searchForm">
                            <input type="search" value="" name="search" id="search" placeholder="Search..."
                                class="bg-dark border-0 shadow-none form-control font-16 text-dark">
                            <button class="btn border-0 shadow-none bx bx-search font-18 me-2 text-primary"></button>
                        </form>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-3" data-aos-duration="1000" data-aos="zoom-in-up">
                        <div class="input-group border rounded-pill px-2 border-3 border-light bg-dark">
                            <label for="category_id"
                                class="input-group-text bg-dark border-0 fw-bold text-white">Category</label>
                            <select name="category_id" id="category_id" data-selected=""
                                class=" border-0 shadow-none font-16 text-white bg-dark form-control form-select">
                                <option value="" selected="">Select</option>
                                <option value="3">Javascript</option>
                                <option value="2">Css</option>
                                <option value="1">Html</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-3" data-aos-duration="1000" data-aos="zoom-in-up">
                        <div class="input-group border rounded-pill px-2 border-3 border-light bg-dark">
                            <label for="ordering"
                                class="input-group-text bg-dark border-0 fw-bold text-white">Sort</label>
                            <select name="ordering" id="ordering"
                                class=" border-0 shadow-none font-16 text-white bg-dark form-control form-select">
                                <option value="-id">Recent</option>
                                <option value="id">Oldest</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 g-4 py-5 pt-2">
                    <div class="col" data-aos-duration="1000" data-aos="zoom-in-up">
                        <div
                            class="card bg-gray-800 shadow h-100 card-hover bg-triangles border border-2 border-dark rounded-4">
                            <div class="card-body">
                                <b class="badge bg-danger rounded-0 font-12 px-2">Lahore</b>
                                <h3 class="fw-bold display-5 text-white mb-3 m-0">System Architect</h3>
                                <p class="font-16 mb-3 m-0 text-muted">
                                    We’re hiring a System Architect to design high-level structures of our IT projects
                                    and
                                    guide the development team during implementation. You should have a strong technical
                                    background and IT project management skills.
                                </p>
                            </div>
                            <div class="card-footer pb-4 border-0 bg-transparent d-flex justify-content-between">
                                <a href=""
                                    class="btn btn-outline-primary btn-sm rounded-pill border border-primary border-3 px-3 font-14 text-white">
                                    Apply
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col" data-aos-duration="1000" data-aos="zoom-in-up">
                        <div
                            class="card bg-gray-800 shadow h-100 card-hover bg-triangles border border-2 border-dark rounded-4">
                            <div class="card-body">
                                <b class="badge bg-danger rounded-0 font-12 px-2">Lahore</b>
                                <h3 class="fw-bold display-5 text-white mb-3 m-0">System Architect</h3>
                                <p class="font-16 mb-3 m-0 text-muted">
                                    We’re hiring a System Architect to design high-level structures of our IT projects
                                    and
                                    guide the development team during implementation. You should have a strong technical
                                    background and IT project management skills.
                                </p>
                            </div>
                            <div class="card-footer pb-4 border-0 bg-transparent d-flex justify-content-between">
                                <a href=""
                                    class="btn btn-outline-primary btn-sm rounded-pill border border-primary border-3 px-3 font-14 text-white">
                                    Apply
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center py-5" data-aos-duration="1000" data-aos="zoom-in-up">
                    <button class="btn btn-primary text-white rounded-pill px-4 py-2 font-14">Load more</button>
                </div>
            </div>
        </div>
    </section>
    <!-- JOBS -->

    <!-- OUR IDEOLOGY -->
    <section class="shadow py-2 py-sm-2 py-md-5 py-lg-5 bg-2" data-aos-duration="1000" data-aos="fade-up">
        <div class="card bg-transparent border-0 py-5 rounded-0">
            <div class="container container-sm container-md container-lg container-xl container-xxl">
                <div class="text-center p-3 backdrop-8 py-5 border border-primary border-5">
                    <b class="border border-primary border-2 rounded-pill px-3 py-1 text-white font-14"
                        data-aos-duration="1000" data-aos="zoom-in-up">Our Ideology</b>
                    <h2 class="text-white font-40 fw-bold m-0 my-2" data-aos-duration="1000" data-aos="zoom-in-up">
                        Future - Community - Honor</h2>
                    <p class="text-white font-18 m-0 mb-4" data-aos-duration="1000" data-aos="zoom-in-up">
                        What sets us apart is what brings us together – a shared passion for solving business
                        challenges through
                        strategy, design, and engineering. We are the sum total of our team, their unique
                        perspectives,
                        capabilities, and our ability to collaborate from ideation to deployment.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- OUR IDEOLOGY -->

    <!-- WHY CHOOSE US -->
    <section class="shadow py-2 py-sm-2 py-md-5 py-lg-5 bg-dark">
        <div class="card bg-transparent border-0 py-5 rounded-0">
            <div class="container container-sm container-md container-lg container-xl container-xxl">
                <div class="row">
                    <div class="col-sm-5 py-2">
                        <div class="position-relative p-2 border border-primary border-5">
                            <div class="bg-dotted position-absolute end-0 top-0 size-100 z-index-1 me--30 mt--30"
                                data-aos-duration="1000" data-aos="zoom-in-up">
                            </div>
                            <div class="bg-dotted-primary position-absolute bottom-0 start-0 size-100 z-index-1 ms--30 mb--30"
                                data-aos-duration="1000" data-aos="zoom-in-up">
                            </div>
                            <img src="{{ url_for('static', filename='images/services/app-development/3-min.webp')}}"
                                class="shadow z-index-2 position-relative w-100 h-100 object-cover shadow" alt=""
                                data-aos-duration="1000" data-aos="zoom-in-up">
                            <img src="{{ url_for('static', filename='images/services/app-development/4-min.webp')}}"
                                class="size-200 object-cover shadow position-absolute bottom-0 end-0 z-index-3 border-primary border border-5 p-2 me--30 mb--30"
                                alt="" data-aos-duration="1000" data-aos="zoom-in-up">
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-6" data-aos-duration="1000" data-aos="fade-up">
                        <h3 class="text-white font-40 fw-bold m-0 my-3" data-aos-duration="1000" data-aos="zoom-in-up">
                            WHY CHOOSE US</h3>
                        <p class="text-white font-18 m-0 mb-5" data-aos-duration="1000" data-aos="zoom-in-up">
                            Crafting experiences, delivering success.
                            Our commitment to quality and excellence is unparalleled. From the first brainstorming
                            session
                            to the final product delivery, we ensure that every step of the process is executed to
                            perfection. You are not just getting a service; you are getting a partner who is committed
                            to
                            your growth and success.
                        </p>

                        <div class="d-flex align-items-start mb-2">
                            <div class="bx bx-star bg-gray-700 border border-2 border-primary font-30 text-white rounded-circle p-3"
                                data-aos-duration="1000" data-aos="zoom-in-up">
                            </div>
                            <div class="ms-4" data-aos-duration="1000" data-aos="zoom-in-up">
                                <h4 class="m-0 mb-2 text-white font-20">Quality Assurance</h4>
                                <p class="text-muted font-18"> Quality isn’t just a buzzword for us. It’s an integral
                                    part of our workflow,
                                    ensuring that all
                                    our deliverables meet the highest standards.</p>
                            </div>
                        </div>

                        <div class="d-flex align-items-start mb-2">
                            <div class="bx bx-star bg-gray-700 border border-2 border-primary font-30 text-white rounded-circle p-3"
                                data-aos-duration="1000" data-aos="zoom-in-up">
                            </div>
                            <div class="ms-4" data-aos-duration="1000" data-aos="zoom-in-up">
                                <h4 class="m-0 mb-2 text-white font-20">Professional Support</h4>
                                <p class="text-muted font-18"> We provide round-the-clock support to ensure smooth
                                    operation and quick resolution of any issues
                                    you might encounter.
                                </p>
                            </div>
                        </div>
                        <a href=""
                            class="btn btn-outline-primary btn-sm rounded-pill border border-primary border-3 px-3 font-14 text-white d-inline-block mt-3"
                            data-aos-duration="1000" data-aos="zoom-in-up">
                            MORE ABOUT US
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- WHY CHOOSE US -->

    <!------ PROCESS ------>
    {% include "components/process.html" %}
    <!------ PROCESS ------>
</div>
{% endblock %}