{% extends "layouts/primary.html" %}

{% block title %} Contact us | {% endblock %}

{% block seo %}
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="robots" content="index, follow" />
<link rel="canonical" href="" />
<meta property="og:title" content="Contact us | NexTash" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="NexTash" />
<meta property="og:url" content="" />
{% endblock %}

{% block content %}
<!-- HEADER -->
<section class="section" data-aos-once="true">
  <div class="section-container ">
    <div class="section-body">
      <div class="section-label page-label"><span>CONTACT US</span></div>
      <h2 class="section-heading page-heading">We're Here to Help!</h2>
      <p class="section-description page-description">
        - Welcome to our Contact Us page! We're thrilled that you're reaching out. Whether you have a question,
        feedback, or just want to say hello, we'd love to hear from you. Please use the form below to get in touch with
        us, and we'll do our best to respond promptly.
      </p>
    </div>
  </div>
</section>
<!-- HEADER -->

<!-- CONTENT -->
<section class="section">
  <div class="section-container">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 g-5 justify-content-between align-items-center">
      <div class="col">
        <div class="media">
          <i class="bx bx-phone icon"></i>
          <div class="media-body">
            <h4 class="media-heading">Email address</h4>
            <a href="#" class="media-description">info@example.com</a>
          </div>
        </div>
        <br><br>
        <div class="media">
          <i class="bx bx-phone icon"></i>
          <div class="media-body">
            <h4 class="media-heading">Contact no</h4>
            <a href="#" class="media-description">+9 000 234 567</a><br>
            <a href="#" class="media-description">+9 000 234 567</a>
          </div>
        </div>
        <br><br>
        <div class="media">
          <i class="bx bx-phone icon"></i>
          <div class="media-body">
            <h4 class="media-heading">Offices</h4>
            <a href="#" class="media-description">3909 Witmer Road, Niagara</a><br>
            <a href="#" class="media-description ">New York City</a>
          </div>
        </div>
      </div>
      <div class="col">
        <form class="form-card bg-triangles" id="form" autocomplete="on">
          <div class="form-header">
            <h2 class="section-heading">Get in touch</h2>
            <p class="section-description">
              If you have any query please fill out the form below. We do our best to respond within 1
              business day.
            </p>
          </div>
          <div class="form-body">
            <div class="form-group">
              <input type="text" class="input-field" id="fullname" placeholder="Full name...">
            </div>
            <div class="form-group">
              <input type="email" class="input-field" id="email" placeholder="Email address...">
            </div>
            <div class="form-group">
              <input type="tel" class="input-field" id="phone" placeholder="Phone number...">
            </div>
            <div class="form-group">
              <textarea class="input-field" id="message" rows="3" placeholder="Message..."></textarea>
            </div>
          </div>
          <div class="form-footer">
            <button type="submit" class="btn-outline" id="btn">Send message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- CONTENT -->

<!-- LOCATION -->
<section class="section" data-aos-once="true">
  <div class="section-container">
    <div class="section-body">
      <div class="section-label"><span>Locate us</span></div>
      <h2 class="section-heading"> Our office!</h2>
    </div>
  </div>
</section>
<iframe
src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3403.561176316256!2d74.26910127491064!3d31.453745693527463!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3919014b3b4fb059%3A0x380d5fccd434fd5c!2sProgrammers%20Force!5e0!3m2!1sen!2s!4v1689754149000!5m2!1sen!2s"
class="w-100" height="450" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<!-- LOCATION -->
{% endblock %}

{% block scripts %} {% endblock %}