{% extends "layouts/primary.html" %}

{% block title %} Contact us | {% endblock %}

{% block seo %}
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="robots" content="index, follow" />
<link rel="canonical" href="" />
<meta property="og:title" content="Contact us | NexTash" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="NexTash" />
<meta property="og:url" content="" />
{% endblock %}

{% block style %}{% endblock %}

{% block content %}
<div class="bg-1 bg-cover bg-fixed bg-no-repeat">
  <!-- Header -->
  <section class="shadow py-2 py-sm-2 py-md-5 py-lg-5">
    <div class="container container-sm container-md container-lg container-xl container-xxl py-5">
      <div class="row">
        <div class="col-sm-12 text-white py-2">
          <b class="border border-primary border-2 rounded-pill px-3 py-1 text-primary font-16">CONTACT US</b>
          <h3 class="display-1 fw-bold m-0 mb-2 col-sm-8">Let's make your brand brilliant! </h3>
        </div>
        <div class="col-sm-3"></div>
        <div class="col-sm-6 text-muted py-2 font-20">
          - If you would like to work with us or just want to get in touch, we’d love to hear from you!
        </div>
      </div>
    </div>
  </section>
  <!-- Header -->

  <section class="py-2 py-sm-2 py-md-5 py-lg-5">
    <div class="container container-sm container-md container-lg container-xl container-xxl py-5">
      <div class="row align-items-center justify-content-center">
        <div class="col-sm-4 py-2">
          <ul class="list-group">
            <li class="list-group-item border-0 d-flex align-items-start pb-4 bg-transparent">
              <div class="p-2 border border-2 border-primary bg-dark text-primary me-2 font-26 bx bx-phone"></div>
              <div class="ms-3">
                <h3 class="font-24 fw-bold m-0 text-white">Contact numbers</h3>
                <p class="m-0 mt-2">
                  <a href="#" class="link-secondary font-14 text-decoration-none d-block">+9 000 234 567</a>
                  <a href="#" class="link-secondary font-14 text-decoration-none d-block">+9 000 234 567</a>
                </p>
              </div>
            </li>
            <li class="list-group-item border-0 d-flex align-items-start pb-4 bg-transparent">
              <div class="p-2 border border-2 border-primary bg-dark text-primary me-2 font-26 bx bx-map"></div>
              <div class="ms-3">
                <h3 class="font-24 fw-bold m-0 text-white">Offices</h3>
                <p class="m-0 mt-2">
                  <a href="#" class="link-secondary font-14 text-decoration-none d-block">
                    3909 Witmer Road, Niagara
                  </a>
                  <a href="#" class="link-secondary font-14 text-decoration-none d-block ">
                    New York City
                  </a>
                </p>
              </div>
            </li>
            <li class="list-group-item border-0 d-flex align-items-start pb-4 bg-transparent">
              <div class="p-2 border border-2 border-primary bg-dark text-primary me-2 font-26 bx bx-envelope"></div>
              <div class="ms-3">
                <h3 class="font-24 fw-bold m-0 text-white">Email</h3>
                <p class="m-0 mt-2">
                  <a href="#" class="link-secondary font-14 text-decoration-none d-block">
                    info@example.com
                  </a>
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-sm-6 py-2">
          <form id="contactform" autocomplete="on"
            class="card bg-gray-700 bg-triangles shadow border-dark border-0 rounded-5">
            <div class="card-header border-0 bg-transparent p-4 pt-5">
              <h2 class="m-0 fw-bold font-40 text-white mb-2">Get in touch</h2>
              <p class="m-0 text-muted font-16">
                If you have any query please fill out the form below. We do our best to respond within 1
                business day.
              </p>
            </div>
            <div class="card-body pb-2">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-12 mb-3">
                    <div class="form-group mb-3 bg-black">
                      <input type="text"
                        class="form-control bg-transparent placeholder-text shadow-none p-3 border-0 font-18 text-muted"
                        id="fullname" placeholder="Fullname...">
                    </div>
                  </div>
                  <div class="col-sm-6 mb-3">
                    <div class="form-group mb-3 bg-black">
                      <input type="text"
                        class="form-control bg-transparent placeholder-text shadow-none p-3 border-0 font-18 text-muted"
                        id="email" placeholder="Email address...">
                    </div>
                  </div>
                  <div class="col-sm-6 mb-3">
                    <div class="form-group mb-3 bg-black">
                      <input type="text"
                        class="form-control bg-transparent placeholder-text shadow-none p-3 border-0 font-18 text-muted"
                        id="phone" placeholder="Phone number...">
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group mb-3 bg-black">
                      <textarea
                        class="form-control bg-transparent placeholder-text shadow-none p-3 border-0 font-18 text-muted"
                        id="message" rows="4" placeholder="Message..."></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer border-0 bg-transparent text-center py-4 pb-5">
              <button type="submit" class="btn btn-primary text-white py-3 font-18 px-5 rounded-1 fw-bold" id="btn">
                Send message
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="shadow">
    <div class="container container-sm container-md container-lg container-xl container-xxl py-2 py-sm-2 py-md-5 py-lg-5">
      <b class="border border-2 border-primary py-1 px-3 text-uppercase rounded-pill text-white font-12">
        Our office
      </b>
      <h4 class="text-white display-4 fw-bold m-0 mb-3">Locate at map</h4>
    </div>
    <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3403.561176316256!2d74.26910127491064!3d31.453745693527463!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3919014b3b4fb059%3A0x380d5fccd434fd5c!2sProgrammers%20Force!5e0!3m2!1sen!2s!4v1689754149000!5m2!1sen!2s"
    class="w-100" height="450" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </section>
</div>
{% endblock %}

{% block scripts %} {% endblock %}