{% extends "layouts/primary.html" %} {% block title %} Cookies policy | {%
endblock %} {% block seo %}
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="robots" content="index, follow" />
<link rel="canonical" href="" />
<meta property="og:title" content="Cookies policy | Nextash" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="Nextash" />
<meta property="og:url" content="" />
{% endblock %} {% block style %}
<style>
  .bg-dots {
    margin-left: -15px;
    margin-top: -5px;
  }
</style>
{% endblock %} {% block content %}
<div class="bg-1 bg-cover bg-fixed bg-no-repeat">
  <!-- Header -->
  <section class="shadow py-5">
    <div class="container container-sm container-md container-lg container-xl container-xxl py-5">
      <div class="row">
        <div class="col-sm-12 text-white py-2">
          <b class="border border-primary border-2 rounded-pill px-3 py-1 text-primary font-16">About</b>
          <h3 class="display-1 fw-bold m-0 mb-2">Cookies Cookies</h3>
        </div>
        <div class="col-sm-3"></div>
        <div class="col-sm-6 text-muted py-2 font-20">
          <p class="font-18 mb-3">
            At NexTash, accessible from
            <a href="https://financialtimes.digital/" class="text-primary">https://financialtimes.digital/</a>, one of
            our
            main priorities is the Cookies of our visitors. This
            Cookies Policy document contains types of information that is
            collected and recorded by NexTash and how we use it.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- Header -->
  <section class="container container-sm container-md container-lg container-xl container-xxl">
    <div class="text-muted my-5">
      <p class="font-18 mb-3">
        If you have additional questions or require more information about our
        Cookies Policy, do not hesitate to contact us.
      </p>
      <p class="font-18 mb-3">
        This Cookies Policy applies only to our online activities and is valid
        for visitors to our website with regards to the information that they
        shared and/or collect in NexTash. This policy is not applicable to any
        information collected offline or via channels other than this website.
        Our Cookies Policy was created with the help of the Free Cookies Policy
        Generator.
      </p>

      <h2 class="font-30 fw-bold mb-2 text-white position-relative">
        <div class="bg-dots size-50 position-absolute z-index--1"></div>
        Consent
      </h2>
      <p class="font-18 mb-3">
        By using our website, you hereby consent to our Cookies Policy and agree
        to its terms.
      </p>
      <h2 class="font-30 fw-bold mb-2 text-white position-relative">
        <div class="bg-dots size-50 position-absolute z-index--1"></div>
        Information we collect
      </h2>
      <p class="font-18 mb-3">
        The personal information that you are asked to provide, and the reasons
        why you are asked to provide it, will be made clear to you at the point
        we ask you to provide your personal information.
      </p>

      <p class="font-18 mb-3">
        If you contact us directly, we may receive additional information about
        you such as your name, email address, phone number, the contents of the
        message and/or attachments you may send us, and any other information
        you may choose to provide.
      </p>
      <p class="font-18 mb-3">
        When you register for an Account, we may ask for your contact
        information, including items such as name, company name, address, email
        address, and telephone number.
      </p>

      <h2 class="font-30 fw-bold mb-2 text-white position-relative">
        <div class="bg-dots size-50 position-absolute z-index--1"></div>
        How we use your information
      </h2>
      <p class="font-18 mb-3">
        We use the information we collect in various ways, including to:
      </p>

      <ul class="list font-18">
        <li>Provide, operate, and maintain our website</li>
        <li>Improve, personalize, and expand our website</li>
        <li>Understand and analyze how you use our website</li>
        <li>Develop new products, services, features, and functionalitye</li>
        <li>
          Communicate with you, either directly or through one of our partners,
          including for customer service, to provide you with updates and other
          information relating to the website, and for marketing and promotional
          purposes
        </li>
        <li>Send you emails</li>
        <li>Find and prevent fraud</li>
      </ul>
      <h2 class="font-30 fw-bold mb-2 text-white position-relative">
        <div class="bg-dots size-50 position-absolute z-index--1"></div>
        Log Files
      </h2>
      <p class="font-18 mb-3">
        NexTash follows a standard procedure of using log files. These files log
        visitors when they visit websites. All hosting companies do this and a
        part of hosting services' analytics. The information collected by log
        files include internet protocol (IP) addresses, browser type, Internet
        Service Provider (ISP), date and time stamp, referring/exit pages, and
        possibly the number of clicks. These are not linked to any information
        that is personally identifiable. The purpose of the information is for
        analyzing trends, administering the site, tracking users' movement on
        the website, and gathering demographic information.
      </p>
      <h2 class="font-30 fw-bold mb-2 text-white position-relative">
        <div class="bg-dots size-50 position-absolute z-index--1"></div>
        Cookies and Web Beacons
      </h2>
      <p class="font-18 mb-3">
        Like any other website, NexTash uses 'cookies'. These cookies are used
        to store information including visitors' preferences, and the pages on
        the website that the visitor accessed or visited. The information is
        used to optimize the users' experience by customizing our web page
        content based on visitors' browser type and/or other information.
      </p>
      <h2 class="font-30 fw-bold mb-2 text-white position-relative">
        <div class="bg-dots size-50 position-absolute z-index--1"></div>
        Google DoubleClick DART Cookie
      </h2>
      <p class="font-18 mb-3">
        Google is one of a third-party vendor on our site. It also uses cookies,
        known as DART cookies, to serve ads to our site visitors based upon
        their visit to www.website.com and other sites on the internet. However,
        visitors may choose to decline the use of DART cookies by visiting the
        Google ad and content network Cookies Policy at the following URL –
        <a href="https://policies.google.com/technologies/ads"
          class="text-primary">https://policies.google.com/technologies/ads</a>
      </p>
      <h2 class="font-30 fw-bold mb-2 text-white position-relative">
        <div class="bg-dots size-50 position-absolute z-index--1"></div>
        Our Advertising Partners
      </h2>
      <p class="font-18 mb-3">
        Some of advertisers on our site may use cookies and web beacons. Our
        advertising partners are list font-18"ed below. Each of our advertising
        partners has their own Cookies Policy for their policies on user data.
        For easier access, we hyperlinked to their Cookies Policies below.
      </p>
      <p class="font-18 mb-3">Google</p>
      <p class="font-18 mb-3">
        <a href="https://policies.google.com/technologies/ads"
          class="text-primary">https://policies.google.com/technologies/ads</a>
      </p>
      <p class="font-18 mb-3">Advertising Partners Cookies Policies</p>
      <p class="font-18 mb-3">
        You may consult this list font-18" to find the Cookies Policy for each
        of the advertising partners of NexTash. Third-party ad servers or ad
        networks uses technologies like cookies, JavaScript, or Web Beacons that
        are used in their respective advertisements and links that appear on
        NexTash, which are sent directly to users' browser. They automatically
        receive your IP address when this occurs. These technologies are used to
        measure the effectiveness of their advertising campaigns and/or to
        personalize the advertising content that you see on websites that you
        visit. Note that NexTash has no access to or control over these cookies
        that are used by third-party advertisers.
      </p>
      <h2 class="font-30 fw-bold mb-2 text-white position-relative">
        <div class="bg-dots size-50 position-absolute z-index--1"></div>
        Third Party Cookies Policies
      </h2>
      <p class="font-18 mb-3">
        NexTash's Cookies Policy does not apply to other advertisers or
        websites. Thus, we are advising you to consult the respective Cookies
        Policies of these third-party ad servers for more detailed information.
        It may include their practices and instructions about how to opt-out of
        certain options.
      </p>
      <p class="font-18 mb-3">
        You can choose to disable cookies through your individual browser
        options. To know more detailed information about cookie management with
        specific web browsers, it can be found at the browsers' respective
        websites.
      </p>

      <p class="font-18 mb-3">
        CCPA Cookies Rights (Do Not Sell My Personal Information)
      </p>
      <p class="font-18 mb-3">
        Under the CCPA, among other rights, California consumers have the right
        to:
      </p>
      <ul class="list font-18">
        <li>
          Request that a business that collects a consumer's personal data
          disclose the categories and specific pieces of personal data that a
          business has collected about consumers.
        </li>
        <li>
          Request that a business delete any personal data about the consumer
          that a business has collected.
        </li>
        <li>
          Request that a business that sells a consumer's personal data, not
          sell the consumer's personal data.
        </li>
        <li>
          If you make a request, we have one month to respond to you. If you
          would like to exercise any of these rights, please contact us.
        </li>
      </ul>

      <h2 class="font-30 fw-bold mb-2 text-white position-relative">
        <div class="bg-dots size-50 position-absolute z-index--1"></div>
        GDPR Data Protection Rights
      </h2>
      <p class="font-18 mb-3">
        We would like to make sure you are fully aware of all of your data
        protection rights. Every user is entitled to the following:
      </p>
      <ul class="list font-18">
        <li>
          The right to access – You have the right to request copies of your
          personal data. We may charge you a small fee for this service.
        </li>
        <li>
          The right to rectification – You have the right to request that we
          correct any information you believe is inaccurate. You also have the
          right to request that we complete the information you believe is
          incomplete.
        </li>
        <li>
          The right to erasure – You have the right to request that we erase
          your personal data, under certain conditions.
        </li>
        <li>
          The right to restrict processing – You have the right to request that
          we restrict the processing of your personal data, under certain
          conditions.
        </li>
        <li>
          The right to object to processing – You have the right to object to
          our processing of your personal data, under certain conditions
        </li>
        <li>
          The right to data portability – You have the right to request that we
          transfer the data that we have collected to another organization, or
          directly to you, under certain conditions.
        </li>
        <li>
          If you make a request, we have one month to respond to you. If you
          would like to exercise any of these rights, please contact us.
        </li>
      </ul>
      <h2 class="font-30 fw-bold mb-2 text-white position-relative">
        <div class="bg-dots size-50 position-absolute z-index--1"></div>
        Children's Information
      </h2>
      <p class="font-18 mb-3">
        Another part of our priority is adding protection for children while
        using the internet. We encourage parents and guardians to observe,
        participate in, and/or monitor and guide their online activity.
      </p>
      <p class="font-18 mb-3">
        NexTash does not knowingly collect any Personal Identifiable Information
        from children under the age of 13. If you think that your child provided
        this kind of information on our website, we strongly encourage you to
        contact us immediately and we will do our best efforts to promptly
        remove such information from our records.
      </p>
    </div>
  </section>
</div>
{% endblock %} {% block scripts %} {% endblock %}