{% extends "layouts/primary.html" %}

{% block title %} Team | {% endblock %}

{% block seo %}
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="robots" content="index, follow" />
<link rel="canonical" href="" />
<meta property="og:title" content="Expert team | Nextash" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="Nextash" />
<meta property="og:url" content="" />
{% endblock %}

{% block style %}{% endblock %}

{% block content %}
<main class="bg-1 bg-cover">
    <section class="container container-sm container-md container-lg container-xl container-xxl py-5">
        <div class="text-white py-5">
            <h1 class="font-40 m-0 section-heading mb-2">Team</h1>
            <p class="text-primary font-18 m-0">Meet our expert team</p>
        </div>
        <!------- Team ------->
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-4 row-cols-xl-4 row-cols-xll-1">
            <div class="col">
                <article class="card border-0 bg-gray-800 shadow mb-4"
                    style=" background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');">
                    <div class="card-header border-0 bg-transparent py-3 d-flex justify-content-center">
                        <a class="d-block text-decoration-none w-100 size-180 p-2 border-primary border border-4 rounded-circle"
                            href="">
                            <img src="./images/team/1.jpg" class="card-img-top object-cover rounded-circle h-100 w-100">
                        </a>
                    </div>
                    <div class="card-body text-center py-0">
                        <h3 class="fw-bold font-24 mb-2 m-0 text-white">Abdul</h3>
                        <p class="text-muted font-16">Web developer</p>
                    </div>
                    <div class="card-footer d-flex justify-content-center border-0 pb-4 bg-transparent">
                        <a href="" class="btn btn-dark p-2 font-20 rounded-circle mx-1 bx bxl-facebook-square"></a>
                        <a href="" class="btn btn-dark p-2 font-20 rounded-circle mx-1 bx bxl-twitter"></a>
                        <a href="" class="btn btn-dark p-2 font-20 rounded-circle mx-1 bx bxl-instagram"></a>
                    </div>
                </article>
            </div>
            <div class="col">
                <article class="card border-0 bg-gray-800 shadow mb-4"
                    style=" background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');">
                    <div class="card-header bg-transparent py-3 d-flex justify-content-center">
                        <a class="d-block text-decoration-none w-100 size-180 p-2 border-primary border border-4 rounded-circle"
                            href="">
                            <img src="./images/team/2.jpg" class="card-img-top object-cover rounded-circle h-100 w-100">
                        </a>
                    </div>
                    <div class="card-body text-center border-0 py-0">
                        <h3 class="fw-bold font-24 mb-2 m-0 text-white">Abdul</h3>
                        <p class="text-muted font-16">Web developer</p>
                    </div>
                    <div class="card-footer d-flex justify-content-center border-0 pb-4 bg-transparent">
                        <a href="" class="btn btn-dark p-2 font-20 rounded-circle mx-1 bx bxl-facebook-square"></a>
                        <a href="" class="btn btn-dark p-2 font-20 rounded-circle mx-1 bx bxl-twitter"></a>
                        <a href="" class="btn btn-dark p-2 font-20 rounded-circle mx-1 bx bxl-instagram"></a>
                    </div>
                </article>
            </div>
            <div class="col">
                <article class="card border-0 bg-gray-800 shadow mb-4"
                    style=" background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');">
                    <div class="card-header bg-transparent py-3 d-flex justify-content-center">
                        <a class="d-block text-decoration-none w-100 size-180 p-2 border-primary border border-4 rounded-circle"
                            href="">
                            <img src="./images/team/3.jpg" class="card-img-top object-cover rounded-circle h-100 w-100">
                        </a>
                    </div>
                    <div class="card-body text-center border-0 py-0">
                        <h3 class="fw-bold font-24 mb-2 m-0 text-white">Abdul</h3>
                        <p class="text-muted font-16">Web developer</p>
                    </div>
                    <div class="card-footer d-flex justify-content-center border-0 pb-4 bg-transparent">
                        <a href="" class="btn btn-dark p-2 font-20 rounded-circle mx-1 bx bxl-facebook-square"></a>
                        <a href="" class="btn btn-dark p-2 font-20 rounded-circle mx-1 bx bxl-twitter"></a>
                        <a href="" class="btn btn-dark p-2 font-20 rounded-circle mx-1 bx bxl-instagram"></a>
                    </div>
                </article>
            </div>
            <div class="col">
                <article class="card border-0 bg-gray-800 shadow mb-4"
                    style=" background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');">
                    <div class="card-header bg-transparent py-3 d-flex justify-content-center">
                        <a class="d-block text-decoration-none w-100 size-180 p-2 border-primary border border-4 rounded-circle"
                            href="">
                            <img src="./images/team/4.jpg" class="card-img-top object-cover rounded-circle h-100 w-100">
                        </a>
                    </div>
                    <div class="card-body text-center border-0 py-0">
                        <h3 class="fw-bold font-24 mb-2 m-0 text-white">Abdul</h3>
                        <p class="text-muted font-16">Web developer</p>
                    </div>
                    <div class="card-footer d-flex justify-content-center border-0 pb-4 bg-transparent">
                        <a href="" class="btn btn-dark p-2 font-20 rounded-circle mx-1 bx bxl-facebook-square"></a>
                        <a href="" class="btn btn-dark p-2 font-20 rounded-circle mx-1 bx bxl-twitter"></a>
                        <a href="" class="btn btn-dark p-2 font-20 rounded-circle mx-1 bx bxl-instagram"></a>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <!--------- Team -------->
</main>
{% endblock %}

{% block scripts %} {% endblock %}