{% extends "layouts/primary.html" %}

{% block title %} Team | {% endblock %}

{% block seo %}
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="robots" content="index, follow" />
<link rel="canonical" href="" />
<meta property="og:title" content="Expert team | Nextash" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="Nextash" />
<meta property="og:url" content="" />
{% endblock %}

{% block style %}{% endblock %}

{% block content %}
<div class="bg-1 bg-cover bg-fixed bg-no-repeat">
    <!-- Header -->
    <section class="shadow py-2 py-sm-2 py-md-5 py-lg-5">
        <div class="container container-sm container-md container-lg container-xl container-xxl py-5">
            <div class="row">
                <div class="col-sm-12 text-white py-2">
                    <b class="border border-primary border-2 rounded-pill px-3 py-1 text-primary font-16">OUR STAFF</b>
                    <h3 class="display-1 fw-bold m-0 mb-2">Meet Our <br> Talented Team </h3>
                </div>
                <div class="col-sm-3"></div>
                <div class="col-sm-6 text-muted py-2 font-20">
                    - We’re a diverse team that works as fancies attention to details, enjoys beers on Friday nights and
                    aspires to design the dent in the universe.
                </div>
            </div>
        </div>
    </section>
    <!-- Header -->

    <!------- Team ------->
    <section class="shadow py-2 py-sm-2 py-md-5 py-lg-5">
        <div class="container container-sm container-md container-lg container-xl container-xxl py-5">
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-4 row-cols-xl-4 row-cols-xll-1">
                <div class="col">
                    <article
                        class="card card-hover border-2 border border-dark bg-gray-700 bg-triangles bg-cover shadow mb-4">
                        <div class="card-header border-0 bg-transparent py-3 d-flex justify-content-center">
                            <a class="d-block text-decoration-none w-100 size-180 p-2 border-primary border border-4 rounded-circle"
                                href="">
                                <img src="{{ url_for('static', filename='/images/team/1.jpg')}}"
                                    class="card-img-top object-cover rounded-circle h-100 w-100">
                            </a>
                        </div>
                        <div class="card-body text-center py-0">
                            <h3 class="fw-bold font-24 mb-2 m-0 text-white">Abdul</h3>
                            <p class="text-muted font-16">Web developer</p>
                        </div>
                        <div class="card-footer d-flex justify-content-center border-0 pb-4 bg-transparent border-0">
                            <a href="" class="btn btn-dark p-2 font-20 rounded-circle mx-1 bx bxl-facebook-square"></a>
                            <a href="" class="btn btn-dark p-2 font-20 rounded-circle mx-1 bx bxl-twitter"></a>
                            <a href="" class="btn btn-dark p-2 font-20 rounded-circle mx-1 bx bxl-instagram"></a>
                        </div>
                    </article>
                </div>
                <div class="col">
                    <article
                        class="card card-hover border-2 border border-dark bg-gray-700 bg-triangles bg-cover shadow mb-4">
                        <div class="card-header bg-transparent py-3 d-flex justify-content-center border-0">
                            <a class="d-block text-decoration-none w-100 size-180 p-2 border-primary border border-4 rounded-circle"
                                href="">
                                <img src="{{ url_for('static', filename='/images/team/2.jpg')}}"
                                    class="card-img-top object-cover rounded-circle h-100 w-100">
                            </a>
                        </div>
                        <div class="card-body text-center border-0 py-0">
                            <h3 class="fw-bold font-24 mb-2 m-0 text-white">Abdul</h3>
                            <p class="text-muted font-16">Web developer</p>
                        </div>
                        <div class="card-footer d-flex justify-content-center border-0 pb-4 bg-transparent border-0">
                            <a href="" class="btn btn-dark p-2 font-20 rounded-circle mx-1 bx bxl-facebook-square"></a>
                            <a href="" class="btn btn-dark p-2 font-20 rounded-circle mx-1 bx bxl-twitter"></a>
                            <a href="" class="btn btn-dark p-2 font-20 rounded-circle mx-1 bx bxl-instagram"></a>
                        </div>
                    </article>
                </div>
                <div class="col">
                    <article
                        class="card card-hover border-2 border border-dark bg-gray-700 bg-triangles bg-cover shadow mb-4">
                        <div class="card-header bg-transparent py-3 d-flex justify-content-center border-0">
                            <a class="d-block text-decoration-none w-100 size-180 p-2 border-primary border border-4 rounded-circle"
                                href="">
                                <img src="{{ url_for('static', filename='/images/team/2.jpg')}}"
                                    class="card-img-top object-cover rounded-circle h-100 w-100">
                            </a>
                        </div>
                        <div class="card-body text-center border-0 py-0">
                            <h3 class="fw-bold font-24 mb-2 m-0 text-white">Abdul</h3>
                            <p class="text-muted font-16">Web developer</p>
                        </div>
                        <div class="card-footer d-flex justify-content-center border-0 pb-4 bg-transparent border-0">
                            <a href="" class="btn btn-dark p-2 font-20 rounded-circle mx-1 bx bxl-facebook-square"></a>
                            <a href="" class="btn btn-dark p-2 font-20 rounded-circle mx-1 bx bxl-twitter"></a>
                            <a href="" class="btn btn-dark p-2 font-20 rounded-circle mx-1 bx bxl-instagram"></a>
                        </div>
                    </article>
                </div>
                <div class="col">
                    <article
                        class="card card-hover border-2 border border-dark bg-gray-700 bg-triangles bg-cover shadow mb-4">
                        <div class="card-header bg-transparent py-3 d-flex justify-content-center border-0">
                            <a class="d-block text-decoration-none w-100 size-180 p-2 border-primary border border-4 rounded-circle"
                                href="">
                                <img src="{{ url_for('static', filename='/images/team/3.jpg')}}"
                                    class="card-img-top object-cover rounded-circle h-100 w-100">
                            </a>
                        </div>
                        <div class="card-body text-center border-0 py-0">
                            <h3 class="fw-bold font-24 mb-2 m-0 text-white">Abdul</h3>
                            <p class="text-muted font-16">Web developer</p>
                        </div>
                        <div class="card-footer d-flex justify-content-center border-0 pb-4 bg-transparent border-0">
                            <a href="" class="btn btn-dark p-2 font-20 rounded-circle mx-1 bx bxl-facebook-square"></a>
                            <a href="" class="btn btn-dark p-2 font-20 rounded-circle mx-1 bx bxl-twitter"></a>
                            <a href="" class="btn btn-dark p-2 font-20 rounded-circle mx-1 bx bxl-instagram"></a>
                        </div>
                    </article>
                </div>
                <div class="col">
                    <article
                        class="card card-hover border-2 border border-dark bg-gray-700 bg-triangles bg-cover shadow mb-4">
                        <div class="card-header bg-transparent py-3 d-flex justify-content-center border-0">
                            <a class="d-block text-decoration-none w-100 size-180 p-2 border-primary border border-4 rounded-circle"
                                href="">
                                <img src="{{ url_for('static', filename='/images/team/4.jpg')}}"
                                    class="card-img-top object-cover rounded-circle h-100 w-100">
                            </a>
                        </div>
                        <div class="card-body text-center border-0 py-0">
                            <h3 class="fw-bold font-24 mb-2 m-0 text-white">Abdul</h3>
                            <p class="text-muted font-16">Web developer</p>
                        </div>
                        <div class="card-footer d-flex justify-content-center border-0 pb-4 bg-transparent border-0">
                            <a href="" class="btn btn-dark p-2 font-20 rounded-circle mx-1 bx bxl-facebook-square"></a>
                            <a href="" class="btn btn-dark p-2 font-20 rounded-circle mx-1 bx bxl-twitter"></a>
                            <a href="" class="btn btn-dark p-2 font-20 rounded-circle mx-1 bx bxl-instagram"></a>
                        </div>
                    </article>
                </div>
            </div>

        </div>
    </section>
    <!--------- Team -------->

    <!------ Process ------>
    {% include "components/process.html" %}
    <!------ Process ------>
    <!------ Clients ------->
    {% include "components/clients.html" %}
    <!------ Clients ------->
</div>
{% endblock %}

{% block scripts %} {% endblock %}