{% extends "layouts/primary.html" %}

{% block title %} FAQs | {% endblock %}

{% block seo %}
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="robots" content="index, follow" />
<link rel="canonical" href="" />
<meta property="og:title" content="FAQs | NexTash" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="NexTash" />
<meta property="og:url" content="" />
{% endblock %}

{% block content %}
<!-- HEADER -->
<section class="section">
  <div class="section-container">
    <div class="section-body">
      <div class="section-label page-label"><span>FAQS</span></div>
      <h2 class="section-heading page-heading">Frequently Asked Questions</h2>
      <p class="section-description page-description">
        - We’re a diverse team that works as fancies attention to details,
        enjoys beers on Friday nights and aspires to design the dent in the
        universe.
      </p>
    </div>
  </div>
</section>
<!-- HEADER -->

<!-- CONTENT -->
<section class="section">
  <div class="section-container">
    <div class="row row-cols-2 align-items-start">
      <div class="col">
        <div class="accordion" id="faqs">
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading2">
              <b class="counter">1.</b> What services does NexTash offer?
            </h2>
            <div class="accordion-body">
              NexTash offers a wide range of IT services including software
              development, web development,mobile app development, cloud
              computing, IT consulting, network solutions, cybersecurity, and
              managed IT services.
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading2">
              <b class="counter">2.</b> How can I request a quote for NexTash
              services?
            </h2>
            <div class="accordion-body">
              To request a quote, you can visit our website and fill out the
              contact form or reach out to our sales team directly via email or
              phone. Provide us with as much detail as possible about your
              project or requirements, and our team will get back to you with a
              customized quote.
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading3">
              <b class="counter">3.</b> What industries does NexTash serve?
            </h2>
            <div class="accordion-body">
              NexTash serves clients across various industries including but not
              limited to healthcare, finance, retail, e-commerce, education,
              manufacturing, and technology.
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading4">
              <b class="counter">4.</b> Are NexTash's services tailored to small
              businesses or larger enterprises?
            </h2>
            <div class="accordion-body">
              We cater to businesses of all sizes, from small startups to large
              enterprises. Our services are customized to meet the unique needs
              and requirements of each client, regardless of their size.
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading5">
              <b class="counter">5.</b> How experienced is the team at NexTash?
            </h2>
            <div class="accordion-body">
              Our team consists of highly skilled professionals with extensive
              experience in their respective fields. We have a diverse team of
              software engineers, designers, project managers, and IT
              consultants who bring a wealth of knowledge and expertise to every
              project.
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading6">
              <b class="counter">6.</b> Can NexTash handle both front-end and
              back-end development?
            </h2>
            <div class="accordion-body">
              Yes, NexTash has expertise in both front-end and back-end
              development. Our team is proficient in a wide range of programming
              languages, frameworks, and technologies to deliver full-stack
              solutions.
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading7">
              <b class="counter">7.</b> What technologies does NexTash
              specialize in?
            </h2>
            <div class="accordion-body">
              We specialize in a wide range of technologies including but not
              limited to JavaScript, Python, Java, PHP, .NET, HTML/CSS, React,
              Angular, Node.js, SQL databases, NoSQL databases, cloud platforms
              (such as AWS, Azure, and Google Cloud), and DevOps tools.
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading8">
              <b class="counter">8.</b> Can NexTash help with website redesign
              or revamp an existing application?
            </h2>
            <div class="accordion-body">
              Absolutely! We have experience in website redesign and application
              revamping projects. Our team can analyze your existing website or
              application, understand your requirements for improvement, and
              provide you with a customized plan to enhance its design,
              functionality, and user experience.
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading9">
              <b class="counter">9.</b> Does NexTash provide ongoing maintenance
              and support for its delivered solutions?
            </h2>
            <div class="accordion-body">
              Yes, we offer ongoing maintenance and support services for the
              solutions we deliver. We understand the importance of keeping your
              applications up-to-date, secure, and running smoothly. We provide
              various support plans tailored to your needs, including bug fixes,
              feature enhancements, and system monitoring.
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading10">
              <b class="counter">10.</b> Can NexTash assist with cloud migration
              or setting up cloud infrastructure?
            </h2>
            <div class="accordion-body">
              Absolutely! We have expertise in cloud computing and can assist
              with cloud migration projects or setting up cloud infrastructure.
              Whether you are looking to migrate your applications to the cloud
              or build new cloud-native solutions, our team can guide you
              through the process and ensure a smooth transition.
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading11">
              <b class="counter">11.</b> What is the typical timeframe for
              completing a project with NexTash?
            </h2>
            <div class="accordion-body">
              The timeframe for completing a project can vary depending on the
              size, complexity, and specific requirements of the project. We
              work closely with our clients to define project timelines and
              milestones during the initial planning phase. Our aim is to
              deliver high-quality solutions within agreed-upon timelines.
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header bg-gray-700" id="heading12">
              <b class="counter">12.</b> Does NexTash offer custom software
              development or only pre-built solutions?
            </h2>
            <div class="accordion-body">
              We specialize in custom software development tailored to the
              unique needs of our clients. While we can leverage pre-built
              frameworks and components to expedite development, our focus is
              always on creating customized solutions that
            </div>
          </div>
        </div>
      </div>
      <div class="col card-sticky">
        <form class="card card-hover bg-triangles " id="form" autocomplete="on">
          <div class="card-header">
            <br />
            <h2 class="section-heading">Ask your question</h2>
            <p class="section-description">
              If you have any query please fill out the form below. We do our
              best to respond within 1 business day.
            </p>
          </div>
          <div class="card-body">
            <div class="form-group">
              <input type="text" class="form-field" id="fullname" placeholder="Full name..." />
            </div>
            <div class="form-group">
              <input type="email" class="form-field" id="email" placeholder="Email address..." />
            </div>
            <div class="form-group">
              <input type="text" class="form-field" id="subject" placeholder="Subject..." />
            </div>
            <div class="form-group">
              <textarea class="form-field" id="message" rows="3" placeholder="Message..."></textarea>
            </div>
          </div>
          <div class="card-footer center">
            <button type="submit" class="btn-outline" id="btn">
              Send message
            </button>
            <br /><br /><br />
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- CONTENT -->
{% endblock %}