{% extends "layouts/primary.html" %}

{% block title %} Job details | {% endblock %}

{% block seo %}
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="robots" content="index, follow" />
<link rel="canonical" href="" />
<meta property="og:title" content="Job details | NexTash" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="NexTash" />
<meta property="og:url" content="" />
{% endblock %}

{% block style %}{% endblock %}

{% block content %}
<div class="bg-1 bg-cover bg-fixed bg-no-repeat">
  <!-- Header -->
  <section class="shadow py-2 py-sm-2 py-md-5 py-lg-5">
    <div class="container container-sm container-md container-lg container-xl container-xxl py-5">
      <div class="row">
        <div class="col-sm-12 text-white py-2">
          <b class="border border-primary border-2 rounded-pill px-3 py-1 text-primary font-16 d-inline-block mb-2">
            CURRENT JOB OPENING
          </b>
          <h3 class="display-1 fw-bold m-0 mb-2 col-sm-8">System Architect</h3>
        </div>
        <div class="col-sm-3"></div>
        <div class="col-sm-6 text-muted py-2 font-20">
          - We’re hiring a System Architect to design high-level structures of our IT projects and guide the development
          team during implementation.
        </div>
      </div>
    </div>
  </section>
  <!-- Header -->

  <section class="py-2 py-sm-2 py-md-5 py-lg-5">
    <div class="container container-sm container-md container-lg container-xl container-xxl py-5">
      <div class="row ">
        <div class="col-sm-6 py-2">
          <h2 class="text-white font-30 fw-bold position-relative">
            <div class="bg-dotted-primary size-50 position-absolute ms--30 z-index--1"></div>Summary
          </h2>
          <p class="text-muted font-16">
            As a System Architect, you will be responsible for designing high-level structures for our complex IT
            systems, and guiding the development team during the implementation process. You should have a strong
            technical background and excellent IT project management skills.
          </p>
          <h2 class="text-white font-30 fw-bold position-relative">
            <div class="bg-dotted-primary size-50 position-absolute ms--30 z-index--1"></div>Responsibilities
          </h2>

          <p class="text-muted font-16">
            As a System Architect, you will be responsible for designing high-level structures for our complex IT
            systems, and guiding the development team during the implementation process. You should have a strong
            technical background and excellent IT project management skills.
          </p>
          <ol class="text-muted font-16">
            <li>Define and design system architecture to support business requirements.</li>
            <li>Define and design system architecture to support business requirements.</li>
            <li> Define and design system architecture to support business requirements.</li>
            <li>Guide developers and engineers to ensure system coherence and effectiveness.</li>
            <li>Provide technical leadership and support to our software development teams.</li>
            <li>Assess potential risks and technical challenges and prepare solutions.</li>
            <li>Oversee assigned programs and provide guidance to project teams.</li>
            <li>Maintain a thorough understanding of evolving technology trends.</li>
          </ol>
          <h2 class="text-white font-30 fw-bold position-relative">
            <div class="bg-dotted-primary size-50 position-absolute ms--30 z-index--1"></div>Qualifications
          </h2>
          <ol class="text-muted font-16">
            <li>A bachelor's or master's degree in Computer Science, Information Technology, or a related field.</li>
            <li> Proven experience as a System Architect or in a similar role in software development.</li>
            <li>Extensive experience with system architecture models and their application.</li>
            <li>Proficient in using architecture modeling tools.</li>
            <li> Knowledge of coding languages and all phases of software development lifecycles.</li>
            <li> Strong problem-solving skills and ability to think algorithmically.</li>
            <li> Ability to work collaboratively in a team environment and effectively with people at all levels in an
              organization.</li>
          </ol>
          <h2 class="text-white font-30 fw-bold position-relative">
            <div class="bg-dotted-primary size-50 position-absolute ms--30 z-index--1"></div>Benefits
          </h2>
          <ol class="text-muted font-16">
            <li>Health insurance</li>
            <li>Paid time off</li>
            <li>Bonuses and incentives</li>
          </ol>
          <h2 class="text-white font-30 fw-bold position-relative">
            <div class="bg-dotted-primary size-50 position-absolute ms--30 z-index--1"></div>Salary
          </h2>
          <p class="text-muted font-16">$70,000 - $100,000 per year</p>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-5 py-2">
          <form id="contactform" autocomplete="on"
          class="card bg-gray-700 bg-triangles shadow border-dark border-0 rounded-5 border-shadow">
            <div class="card-header border-0 bg-transparent p-4 pt-5">
              <h2 class="m-0 fw-bold font-40 text-white mb-2">Apply For The Job</h2>
              <p class="m-0 text-muted font-16">
                Please submit your resume and a brief cover letter explaining your interest in the role and your
                qualifications. We're looking forward to learning more about you!
              </p>
            </div>
            <div class="card-body pb-2">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-12 mb-3">
                    <div class="form-group bg-dark rounded-2">
                      <input type="text"
                        class="form-control bg-transparent placeholder-text shadow-none p-3 border-0 font-18 text-muted"
                        id="fullname" placeholder="Fullname...">
                    </div>
                  </div>
                  <div class="col-sm-6 mb-3">
                    <div class="form-group bg-dark rounded-2">
                      <input type="text"
                        class="form-control bg-transparent placeholder-text shadow-none p-3 border-0 font-18 text-muted"
                        id="email" placeholder="Email address...">
                    </div>
                  </div>
                  <div class="col-sm-6 mb-3">
                    <div class="form-group bg-dark rounded-2">
                      <input type="text"
                        class="form-control bg-transparent placeholder-text shadow-none p-3 border-0 font-18 text-muted"
                        id="phone" placeholder="Phone number...">
                    </div>
                  </div>
                  <div class="col-sm-12  mb-3">
                    <div class="form-group bg-dark rounded-2">
                      <textarea
                        class="form-control bg-transparent placeholder-text shadow-none p-3 border-0 font-18 text-muted"
                        id="address" rows="2" placeholder="Address..."></textarea>
                    </div>
                  </div>
                  <div class="col-sm-12  mb-3">
                    <div class="form-group bg-dark rounded-2">
                      <textarea
                        class="form-control bg-transparent placeholder-text shadow-none p-3 border-0 font-18 text-muted"
                        id="education" rows="2" placeholder="Education..."></textarea>
                    </div>
                  </div>
                  <div class="col-sm-12  mb-3">
                    <div class="form-group bg-dark rounded-2">
                      <textarea
                        class="form-control bg-transparent placeholder-text shadow-none p-3 border-0 font-18 text-muted"
                        id="work-experience" rows="2" placeholder="Work experience..."></textarea>
                    </div>
                  </div>
                  <div class="col-sm-12  mb-3">
                    <div class="form-group bg-dark rounded-2">
                      <textarea
                        class="form-control bg-transparent placeholder-text shadow-none p-3 border-0 font-18 text-muted"
                        id="skills" rows="2" placeholder="Skills..."></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer border-0 bg-transparent text-center py-4 pb-5">
              <button type="submit" class="btn btn-primary text-white py-3 font-18 px-5 rounded-1 fw-bold" id="btn">
                Send message
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="shadow">
    <div
      class="container container-sm container-md container-lg container-xl container-xxl py-2 py-sm-2 py-md-5 py-lg-5">
      <b class="border border-2 border-primary py-1 px-3 text-uppercase rounded-pill text-white font-12">
        Our office
      </b>
      <h4 class="text-white display-4 fw-bold m-0 mb-3">Locate at map</h4>
    </div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3403.561176316256!2d74.26910127491064!3d31.453745693527463!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3919014b3b4fb059%3A0x380d5fccd434fd5c!2sProgrammers%20Force!5e0!3m2!1sen!2s!4v1689754149000!5m2!1sen!2s"
      class="w-100" height="450" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </section>
</div>
{% endblock %}

{% block scripts %} {% endblock %}