{% extends "layouts/primary.html" %}

{% block title %} Job details | {% endblock %}

{% block seo %}
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="robots" content="index, follow" />
<link rel="canonical" href="" />
<meta property="og:title" content="Job details | NexTash" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="NexTash" />
<meta property="og:url" content="" />
{% endblock %}

{% block content %}
<!-- HEADER -->
<section class="section">
  <div class="section-container">
    <div class="section-body">
      <div class="section-label page-label">
        <span>CURRENT JOB OPENING</span>
      </div>
      <h2 class="section-heading page-heading">System Architect</h2>
      <p class="section-description page-description">
        - We’re hiring a System Architect to design high-level structures of our
        IT projects and guide the development team during implementation.
      </p>
    </div>
  </div>
</section>
<!-- HEADER -->

<section class="section">
  <div class="section-container">
    <div class="row row-cols-2 align-items-start justify-content-between">
      <div class="col">
        <h2 class="section-heading">Summary</h2>
        <p class="section-description">
          As a System Architect, you will be responsible for designing
          high-level structures for our complex IT systems, and guiding the
          development team during the implementation process. You should have a
          strong technical background and excellent IT project management
          skills.
        </p>
        <h2 class="section-heading">Responsibilities</h2>
        <p class="section-description">
          As a System Architect, you will be responsible for designing
          high-level structures for our complex IT systems, and guiding the
          development team during the implementation process. You should have a
          strong technical background and excellent IT project management
          skills.
        </p>
        <ol class="list-s">
          <li>
            Define and design system architecture to support business
            requirements.
          </li>
          <li>
            Define and design system architecture to support business
            requirements.
          </li>
          <li>
            Define and design system architecture to support business
            requirements.
          </li>
          <li>
            Guide developers and engineers to ensure system coherence and
            effectiveness.
          </li>
          <li>
            Provide technical leadership and support to our software development
            teams.
          </li>
          <li>
            Assess potential risks and technical challenges and prepare
            solutions.
          </li>
          <li>
            Oversee assigned programs and provide guidance to project teams.
          </li>
          <li>
            Maintain a thorough understanding of evolving technology trends.
          </li>
        </ol>
        <h2 class="section-heading">Qualifications</h2>
        <ol class="list-s">
          <li>
            A bachelor's or master's degree in Computer Science, Information
            Technology, or a related field.
          </li>
          <li>
            Proven experience as a System Architect or in a similar role in
            software development.
          </li>
          <li>
            Extensive experience with system architecture models and their
            application.
          </li>
          <li>Proficient in using architecture modeling tools.</li>
          <li>
            Knowledge of coding languages and all phases of software development
            lifecycles.
          </li>
          <li>
            Strong problem-solving skills and ability to think algorithmically.
          </li>
          <li>
            Ability to work collaboratively in a team environment and
            effectively with people at all levels in an organization.
          </li>
        </ol>
        <h2 class="section-heading">Benefits</h2>
        <ol class="list-s">
          <li>Health insurance</li>
          <li>Paid time off</li>
          <li>Bonuses and incentives</li>
        </ol>
        <h2 class="section-heading">Salary</h2>
        <p class="section-description">$70,000 - $100,000 per year</p>
      </div>
      <div class="col">
        <form class="card card-hover bg-triangles" id="form" autocomplete="on">
          <div class="card-header">
            <br>
            <h2 class="section-heading">Apply For The Job</h2>
            <p class="section-description">
              Please submit your resume and a brief cover letter explaining your
              interest in the role and your qualifications. We're looking
              forward to learning more about you!
            </p>
          </div>
          <div class="card-body">
            <div class="form-group">
              <input type="text" class="form-field" id="fullname" placeholder="Full name..." />
            </div>
            <div class="form-group">
              <input type="email" class="form-field" id="email" placeholder="Email address..." />
            </div>
            <div class="form-group">
              <input type="tel" class="form-field" id="phone" placeholder="Phone number..." />
            </div>
            <div class="form-group">
              <input type="text" class="form-field" id="address" placeholder="Address..." />
            </div>
            <div class="form-group">
              <input type="text" class="form-field" id="education" placeholder="Education..." />
            </div>
            <div class="form-group">
              <input type="text" class="form-field" id="work-experience" placeholder="Work experience..." />
            </div>
            <div class="form-group">
              <textarea class="form-field" id="skills" rows="3" placeholder="skills..."></textarea>
            </div>
          </div>
          <div class="card-footer center">
            <button type="submit" class="btn-outline" id="btn">Send message</button>
            <br><br><br>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="section-container">
    <div class="section-header">
      <b class="section-label"> Our office</b>
      <h4 class="section-heading">Locate at map</h4>
    </div>
  </div>
</section>
<iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3403.561176316256!2d74.26910127491064!3d31.453745693527463!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3919014b3b4fb059%3A0x380d5fccd434fd5c!2sProgrammers%20Force!5e0!3m2!1sen!2s!4v1689754149000!5m2!1sen!2s"
  class="w-100" height="450" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
{% endblock %}