{% extends "layouts/primary.html" %}

{% block title %} News | {% endblock %}

{% block seo %}
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="robots" content="index, follow" />
<link rel="canonical" href="" />
<meta property="og:title" content="News | NexTash" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="NexTash" />
<meta property="og:url" content="" />
{% endblock %}

{% block style %}{% endblock %}

{% block content %}
<div class="bg-1 bg-cover bg-no-repeat bg-fixed">
  <!-- HEADER -->
  <section class="shadow py-5">
    <div class="container container-sm container-md container-lg container-xl container-xxl py-5">
      <div class="row align-items-center justify-content-center my-5 py-5">
        <div class="col-sm-12 text-white py-2 mb-5">
          <b class="border border-primary border-2 rounded-pill px-3 py-1 text-primary font-16 d-inline-block mb-2"
            data-aos-duration="1000" data-aos="fade-up">News</b>
          <h3 class="display-1 fw-bold m-0 mb-2 col-sm-8" data-aos-duration="1000" data-aos="fade-up">Read our latest
            news and articles</h3>
        </div>
        <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-8 col-xll-8 text-muted py-2 font-20"
        data-aos-duration="1000" data-aos="fade-up">
          We help our clients succeed by creating brand identities, digital experiences, and print materials
          that communicate clearly, achieve marketing goals, and look fantastic.
        </div>
      </div>
  </section>
  <!-- Header -->
  <!--------- Row --------->
  <section class="container container-sm container-md container-lg container-xl container-xxl py-5">
    <h3 class="font-18 fw-bold m-0 text-white my-3" data-aos-duration="1000" data-aos="zoom-in-up">Posts <span
        id="totalCount">1 to 9 of 0</span></h3>
    <div class="row mb-3">
      <div class="col-12 col-sm-12 col-md-4 col-lg-6 mb-3" data-aos-duration="1000" data-aos="zoom-in-up">
        <form class="input-group border rounded-pill px-2 border-3 border-light bg-dark" id="searchForm">
          <input type="search" value="" name="search" id="search" placeholder="Search..."
            class="bg-dark border-0 shadow-none form-control font-16 text-dark">
          <button class="btn border-0 shadow-none bx bx-search font-18 me-2 text-primary"></button>
        </form>
      </div>
      <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-3" data-aos-duration="1000" data-aos="zoom-in-up">
        <div class="input-group border rounded-pill px-2 border-3 border-light bg-dark">
          <label for="category_id" class="input-group-text bg-dark border-0 fw-bold text-white">Category</label>
          <select name="category_id" id="category_id" data-selected=""
            class=" border-0 shadow-none font-16 text-white bg-dark form-control form-select">
            <option value="" selected="">Select</option>
            <option value="3">Javascript</option>
            <option value="2">Css</option>
            <option value="1">Html</option>
          </select>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-3" data-aos-duration="1000" data-aos="zoom-in-up">
        <div class="input-group border rounded-pill px-2 border-3 border-light bg-dark">
          <label for="ordering" class="input-group-text bg-dark border-0 fw-bold text-white">Sort</label>
          <select name="ordering" id="ordering"
            class=" border-0 shadow-none font-16 text-white bg-dark form-control form-select">
            <option value="-id">Recent</option>
            <option value="id">Oldest</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 g-4">
      <article class="col" data-aos-duration="1000" data-aos="zoom-in-up">
        <div
          class="card bg-gray-800 shadow text-white blog-card h-100 card-hover bg-triangles bg-cover border border-2 border-dark ">
          <div class="card-header border-0 p-0 position-relative image-zoom">
            <img src="{{ url_for('static', filename='images/blogs/1.webp')}}" alt="" class="card-img-top object-cover">
          </div>
          <div class="card-body">
            <h3 class="fw-bold font-18 mb-3 m-0">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            </h3>
            <p class="fw-normal text-muted font-14 mb-1 m-0">
              Lorem ipsum dolor, sit amet consectetur Lorem ipsum dolor sit
            </p>
          </div>
          <div class="card-footer pb-4 border-0 bg-transparent d-flex justify-content-between">
            <p class="font-12 m-0">By <a href="" class="link-light">John doe</a></p>
            <p class="font-12 m-0"><time>24-july-2023</time></p>
          </div>
        </div>
      </article>
      <article class="col" data-aos-duration="1000" data-aos="zoom-in-up">
        <div
          class="card bg-gray-800 shadow text-white blog-card h-100 card-hover bg-triangles bg-cover border border-2 border-dark ">
          <div class="card-header border-0 p-0 position-relative image-zoom">
            <img src="{{ url_for('static', filename='images/blogs/2.webp')}}" alt="" class="card-img-top object-cover">
          </div>
          <div class="card-body">
            <h3 class="fw-bold font-20 mb-3 m-0">Lorem ipsum dolor, sit amet consectetur adipisicing
              elit.
            </h3>
            <p class="fw-normal text-muted font-14 mb-1 m-0">
              Lorem ipsum dolor, sit amet consectetur Lorem ipsum dolor sit
            </p>
          </div>
          <div class="card-footer pb-4 border-0 bg-transparent d-flex justify-content-between">
            <p class="font-12 m-0">By <a href="" class="link-light">John doe</a> - 3 mins read</p>
            <p class="font-12 m-0">24-july-2023</p>
          </div>
        </div>
      </article>
    </div>
    <div class="text-center py-5" data-aos-duration="1000" data-aos="zoom-in-up">
      <button class="btn btn-primary text-white rounded-pill px-4 py-2 font-14">Load more</button>
    </div>
  </section>
  <!--------- Row --------->
</div>
{% endblock %}

{% block scripts %} {% endblock %}