{% extends "layouts/primary.html" %}

{% block title %} Blogs | {% endblock %}

{% block seo %}
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="robots" content="index, follow" />
<link rel="canonical" href="" />
<meta property="og:title" content="Blogs | NexTash" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="NexTash" />
<meta property="og:url" content="" />
{% endblock %}

{% block style %}{% endblock %}

{% block content %}
<!-- HEADER -->
<section class="section"   >
  <div class="section-container ">
    <div class="section-body">
      <div class="section-label page-label"><span>Projects</span></div>
      <h2 class="section-heading page-heading">See all our works</h2>
      <p class="section-description page-description">
        - We help our clients succeed by creating brand identities, digital experiences, and print materials
        that communicate clearly, achieve marketing goals, and look fantastic.
      </p>
    </div>
  </div>
</section>
<!-- HEADER -->

<!-- PROJECTS -->
<section class="section"   >
  <div class="section-container">
    <div class="section-header"></div>
    <div class="section-body"> {% include "components/projects.html" %}</div>
    <div class="section-footer">
      <button class="btn-outline">Load More</button>
    </div>
  </div>
</section>
<!-- PROJECTS -->

<!------ Process ------>
{% include "components/process.html" %}
<!------ Process ------>
<!------ Clients ------->
{% include "components/clients.html" %}
<!------ Clients ------->
{% endblock %}

{% block scripts %} {% endblock %}