{% extends "layouts/primary.html" %}

{% block title %} Project | {% endblock %}

{% block seo %}
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="robots" content="index, follow" />
<link rel="canonical" href="" />
<meta property="og:title" content="Project details | NexTash" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="NexTash" />
<meta property="og:url" content="" />
{% endblock %}


{% block content %}
<div class="bg-1 bg-cover bg-fixed bg-no-repeat">
    <!-- HEADER -->
    <section class="shadow py-5">
        <div class="container container-sm container-md container-lg container-xl container-xxl py-5">
            <div class="row">
                <div class="col-sm-12 text-white py-2">
                    <b class="border border-primary border-2 rounded-pill px-3 py-1 text-primary font-16 d-inline-block mb-2"
                        data-aos-duration="1000" data-aos="fade-up">
                        WEB & APP PROJECT
                    </b>
                    <h3 class="display-1 fw-bold m-0 mb-2" data-aos-duration="1000" data-aos="fade-up">
                        Fintech Frontier
                    </h3>
                </div>
                <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-8 col-xll-8 text-muted py-2 font-20"
                    data-aos-duration="1000" data-aos="fade-up">
                    - The Fintech Frontier project was a comprehensive venture that incorporated our expertise in both
                    website design and mobile app development. Our team was given the opportunity to redefine the
                    digital experience for a leading player in the financial technology sector.
                </div>
            </div>
        </div>
    </section>
    <!-- HEADER -->
    <!-- INFO -->
    <section class="shadow py-2">
        <div class="container container-sm container-md container-lg container-xl container-xxl py-5">
            <ul
                class="list-group list-group-horizontal justify-content-evenly flex-column flex-sm-column flex-md-row flex-lg-row">
                <li class="list-group-item border-0 d-flex align-items-start my-2 p-0 bg-transparent">
                    <div class="p-2 border border-2 border-primary bg-dark text-primary me-2 font-26 bx bx-user-circle"
                        data-aos-duration="1000" data-aos="zoom-in-up">
                    </div>
                    <div class="ms-3" data-aos-duration="1000" data-aos="zoom-in-up">
                        <h3 class="font-20 fw-bold m-0 text-white mb-2">Client</h3>
                        <p class="text-muted font-16">Mindful LLC. </p>
                    </div>
                </li>
                <li class="list-group-item border-0 d-flex align-items-start my-2 p-0 bg-transparent">
                    <div class="p-2 border border-2 border-primary bg-dark text-primary me-2 font-26 bx bx-map"
                        data-aos-duration="1000" data-aos="zoom-in-up"></div>
                    <div class="ms-3" data-aos-duration="1000" data-aos="zoom-in-up">
                        <h3 class="font-20 fw-bold m-0 text-white mb-2">Location</h3>
                        <p class="text-muted font-16">Mindful LLC. </p>
                    </div>
                </li>
                <li class="list-group-item border-0 d-flex align-items-start my-2 p-0 bg-transparent">
                    <div class="p-2 border border-2 border-primary bg-dark text-primary me-2 font-26 bx bx-calendar"
                        data-aos-duration="1000" data-aos="zoom-in-up">
                    </div>
                    <div class="ms-3" data-aos-duration="1000" data-aos="zoom-in-up">
                        <h3 class="font-20 fw-bold m-0 text-white mb-2">Date</h3>
                        <p class="text-muted font-16">March 2023 </p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!-- INFO -->
    <!-- OVERVIEW -->
    <section class="shadow py-5">
        <div class="card bg-transparent border-0 py-5 rounded-0">
            <div class="container container-sm container-md container-lg container-xl container-xxl">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 col-xll-5 ">
                        <div class="position-relative p-2 border border-primary border-5">
                            <div class="bg-dotted position-absolute end-0 top-0 size-100 z-index-1 me--30 mt--30"
                                data-aos-duration="1000" data-aos="zoom-in-up">
                            </div>
                            <div class="bg-dotted-primary position-absolute bottom-0 start-0 size-100 z-index-1 ms--30 mb--30"
                                data-aos-duration="1000" data-aos="zoom-in-up">
                            </div>
                            <img src="{{ url_for('static', filename='images/services/app-development/3-min.webp')}}"
                                class="shadow z-index-2 position-relative w-100 h-100 object-cover shadow" alt=""
                                data-aos-duration="1000" data-aos="flip-left" data-aos-duration="1000"
                                data-aos="zoom-in-up">
                            <img src="{{ url_for('static', filename='images/services/app-development/4-min.webp')}}"
                                class="size-200 object-cover shadow position-absolute bottom-0 end-0 z-index-3 border-primary border border-5 p-2 me--30 mb--30"
                                alt="" data-aos-duration="1000" data-aos="flip-left" data-aos-duration="1000"
                                data-aos="zoom-in-up">
                        </div>
                    </div>
                    <div class="col-sm-1 my-5"></div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xll-6" data-aos-duration="1000"
                        data-aos="fade-up">
                        <h3 class="text-white font-40 fw-bold m-0 my-3" data-aos-duration="1000" data-aos="zoom-in-up">
                            Overview</h3>
                        <p class="text-white font-18 m-0 mb-5" data-aos-duration="1000" data-aos="zoom-in-up">
                            Our approach combined cutting-edge design with robust functionality. We delivered a
                            high-performing website and a user-friendly mobile application that effectively positioned
                            Fintech Frontier as a trailblazer in their field. By focusing on creating a strong digital
                            journey, we not only helped Fintech Frontier extend their reach but also enhance their
                            customer engagement and satisfaction levels.
                        </p>
                        <div class="d-flex align-items-start mb-2">
                            <div class="bx bx-star bg-gray-700 border border-2 border-primary font-30 text-white rounded-circle p-3"
                                data-aos-duration="1000" data-aos="zoom-in-up">
                            </div>
                            <div class="ms-4">
                                <h4 class="m-0 mb-2 text-white font-20" data-aos-duration="1000" data-aos="zoom-in-up">
                                    Unified Design</h4>
                                <p class="text-muted font-18" data-aos-duration="1000" data-aos="zoom-in-up">Maintained
                                    consistent branding and design across the
                                    website and mobile app.</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-start mb-2">
                            <div class="bx bx-star bg-gray-700 border border-2 border-primary font-30 text-white rounded-circle p-3"
                                data-aos-duration="1000" data-aos="zoom-in-up">
                            </div>
                            <div class="ms-4">
                                <h4 class="m-0 mb-2 text-white font-20" data-aos-duration="1000" data-aos="zoom-in-up">
                                    Secure Transactions</h4>
                                <p class="text-muted font-18" data-aos-duration="1000" data-aos="zoom-in-up">Integrated
                                    secure payment gateways for safe and convenient
                                    transactions.</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-start mb-2">
                            <div class="bx bx-star bg-gray-700 border border-2 border-primary font-30 text-white rounded-circle p-3"
                                data-aos-duration="1000" data-aos="zoom-in-up">
                            </div>
                            <div class="ms-4">
                                <h4 class="m-0 mb-2 text-white font-20" data-aos-duration="1000" data-aos="zoom-in-up">
                                    Robust Backend</h4>
                                <p class="text-muted font-18" data-aos-duration="1000" data-aos="zoom-in-up">Built a
                                    robust and easy-to-use backend for efficient
                                    management and updates.</p>
                            </div>
                        </div>
                        <a href="" class="btn-frame mt-2" data-aos-duration="1000" data-aos="zoom-in-up">
                            VIEW PROJECT
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!------ PROJECTS ------>
    <section class="shadow py-2 py-sm-2 py-md-5 py-lg-5" data-aos-duration="1000" data-aos="fade-up">
        <div class="container container-sm container-md container-lg container-xl container-xxl py-5">
            <div class="text-white mb-5">
                <b class="border border-2 border-primary py-1 px-3 text-uppercase rounded-pill text-light font-14"
                    data-aos-duration="1000" data-aos="zoom-in-up">
                    OUR WORK
                </b>
                <h3 class="text-white font-40 fw-bold m-0 my-2" data-aos-duration="1000" data-aos="zoom-in-up">Similar
                    Projects</h3>
                <p class="text-muted font-18 m-0 col-sm-6" data-aos-duration="1000" data-aos="zoom-in-up">
                    Creating impact with every project, experience the innovation.
                </p>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 row-cols-xl-4 row-cols-xll-4 g-4">
                <article class="col" data-aos-duration="1000" data-aos="zoom-in-up">
                    <div class="card bg-transparent shadow project-card h-100 position-relative rounded-4">
                        <div class="card-header border-0 p-0 bg-transparent  rounded-4">
                            <img src="{{ url_for('static', filename='/images/projects/1.webp')}}"
                                class="card-img-top object-cover rounded-4" alt="" data-aos-duration="1000"
                                data-aos="flip-left">
                        </div>
                        <div
                            class="card-body position-absolute bottom-0 start-0 w-100 h-100 d-flex flex-column flex-end p-4 rounded-4 rounded-top-0">
                            <div class="mt-auto py-3">
                                <b class="badge bg-danger rounded-0 font-12 px-2">UI / UX</b>
                                <h3 class="fw-bold font-20 my-4 m-0 text-white ">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                </h3>
                                <a href=""
                                    class="btn btn-outline-primary btn-sm rounded-pill border border-primary border-3 px-3 font-14 text-white">Case
                                    study</a>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="col" data-aos-duration="1000" data-aos="zoom-in-up">
                    <div class="card bg-transparent shadow project-card h-100 position-relative rounded-4">
                        <div class="card-header border-0 p-0 bg-transparent  rounded-4">
                            <img src="{{ url_for('static', filename='/images/projects/2.webp')}}"
                                class="card-img-top object-cover rounded-4" alt="" data-aos-duration="1000"
                                data-aos="flip-left">
                        </div>
                        <div
                            class="card-body position-absolute bottom-0 start-0 w-100 h-100 d-flex flex-column flex-end p-4 rounded-4 rounded-top-0">
                            <div class="mt-auto py-3">
                                <b class="badge bg-danger rounded-0 font-12 px-2">UI / UX</b>
                                <h3 class="fw-bold font-20 my-4 m-0 text-white ">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                </h3>
                                <a href=""
                                    class="btn btn-outline-primary btn-sm rounded-pill border border-primary border-3 px-3 font-14 text-white">Case
                                    study</a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <!------ PROJECTS ------>

</div>
{% endblock %}

{% block scripts %} {% endblock %}