{% extends "layouts/primary.html" %}

{% block title %} Project | {% endblock %}

{% block seo %}
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="robots" content="index, follow" />
<link rel="canonical" href="" />
<meta property="og:title" content="Project details | NexTash" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="NexTash" />
<meta property="og:url" content="" />
{% endblock %}


{% block content %}
<div class="bg-1 bg-cover bg-fixed bg-no-repeat">
    <!-- HEADER -->
    <section class="shadow py-5">
        <div class="container container-sm container-md container-lg container-xl container-xxl py-5">
            <div class="row">
                <div class="col-sm-12 text-white py-2">
                    <b class="border border-primary border-2 rounded-pill px-3 py-1 text-primary font-16 d-inline-block mb-2"
                        data-aos-duration="1000" data-aos="fade-up">
                        WEB & APP PROJECT
                    </b>
                    <h3 class="display-1 fw-bold m-0 mb-2" data-aos-duration="1000" data-aos="fade-up">
                        Fintech Frontier
                    </h3>
                </div>
                <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-8 col-xll-8 text-muted py-2 font-20"
                    data-aos-duration="1000" data-aos="fade-up">
                    - The Fintech Frontier project was a comprehensive venture that incorporated our expertise in both
                    website design and mobile app development. Our team was given the opportunity to redefine the
                    digital experience for a leading player in the financial technology sector.
                </div>
            </div>
        </div>
    </section>
    <!-- HEADER -->
    <!-- INFO -->
    <section class="shadow py-2">
        <div class="container container-sm container-md container-lg container-xl container-xxl py-5">
            <ul
                class="list-group list-group-horizontal justify-content-evenly flex-column flex-sm-column flex-md-row flex-lg-row">
                <li class="list-group-item border-0 d-flex align-items-start my-2 p-0 bg-transparent">
                    <div class="p-2 border border-2 border-primary bg-dark text-primary me-2 font-26 bx bx-user-circle"
                        data-aos-duration="1000" data-aos="zoom-in-up">
                    </div>
                    <div class="ms-3" data-aos-duration="1000" data-aos="zoom-in-up">
                        <h3 class="font-20 fw-bold m-0 text-white mb-2">Client</h3>
                        <p class="text-muted font-16">Mindful LLC. </p>
                    </div>
                </li>
                <li class="list-group-item border-0 d-flex align-items-start my-2 p-0 bg-transparent">
                    <div class="p-2 border border-2 border-primary bg-dark text-primary me-2 font-26 bx bx-map"
                        data-aos-duration="1000" data-aos="zoom-in-up"></div>
                    <div class="ms-3" data-aos-duration="1000" data-aos="zoom-in-up">
                        <h3 class="font-20 fw-bold m-0 text-white mb-2">Location</h3>
                        <p class="text-muted font-16">Mindful LLC. </p>
                    </div>
                </li>
                <li class="list-group-item border-0 d-flex align-items-start my-2 p-0 bg-transparent">
                    <div class="p-2 border border-2 border-primary bg-dark text-primary me-2 font-26 bx bx-calendar"
                        data-aos-duration="1000" data-aos="zoom-in-up">
                    </div>
                    <div class="ms-3" data-aos-duration="1000" data-aos="zoom-in-up">
                        <h3 class="font-20 fw-bold m-0 text-white mb-2">Date</h3>
                        <p class="text-muted font-16">March 2023 </p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!-- INFO -->
    <!-- OVERVIEW -->
    <section class="shadow py-5">
        <div class="card bg-transparent border-0 py-5 rounded-0">
            <div class="container container-sm container-md container-lg container-xl container-xxl">
                <div class="row align-items-center justify-content-between">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 col-xll-5" data-tilt data-tilt-max="20"
                        data-tilt-speed="400">
                        <div class="position-relative image-box">
                            <div data-aos-duration="1000" data-aos="zoom-in-up"
                                class="bg-dotted border-shadow square-1">
                            </div>
                            <div data-aos-duration="1000" data-aos="zoom-in-up"
                                class="bg-dotted-primary border-shadow square-2"></div>
                            <div class="border-shadow border border-primary border-5 p-2 image-lg"
                                data-aos-duration="1000" data-aos="zoom-in-up">
                                <img src="{{ url_for('static', filename='images/projects/1.webp')}}"
                                    class="object-cover h-100 w-100" alt="Overview" />
                            </div>
                            <div class="border-shadow border border-primary border-5 p-2 image-sm"
                                data-aos-duration="1000" data-aos="zoom-in-up">
                                <img src="{{ url_for('static', filename='images/projects/2.webp')}}"
                                    class="object-cover h-100 w-100" alt="Overview" />
                            </div>
                        </div>
                    </div>
                    <div
                        class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 col-xll-5 my-5 order-0 order-sm-0 order-md-0 order-lg-1 order-xl-1 order-xll-1">

                        <h3 class="text-white font-40 fw-bold m-0 my-3" data-aos-duration="1000" data-aos="zoom-in-up">
                            Overview</h3>
                        <p class="text-white font-18 m-0 mb-5" data-aos-duration="1000" data-aos="zoom-in-up">
                            Our approach combined cutting-edge design with robust functionality. We delivered a
                            high-performing website and a user-friendly mobile application that effectively positioned
                            Fintech Frontier as a trailblazer in their field. By focusing on creating a strong digital
                            journey, we not only helped Fintech Frontier extend their reach but also enhance their
                            customer engagement and satisfaction levels.
                        </p>
                        <div class="d-flex align-items-start mb-2">
                            <div class="bx bx-star bg-gray-700 border border-2 border-primary font-30 text-white rounded-circle p-3"
                                data-aos-duration="1000" data-aos="zoom-in-up">
                            </div>
                            <div class="ms-4">
                                <h4 class="m-0 mb-2 text-white font-20" data-aos-duration="1000" data-aos="zoom-in-up">
                                    Unified Design</h4>
                                <p class="text-muted font-18" data-aos-duration="1000" data-aos="zoom-in-up">Maintained
                                    consistent branding and design across the
                                    website and mobile app.</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-start mb-2">
                            <div class="bx bx-star bg-gray-700 border border-2 border-primary font-30 text-white rounded-circle p-3"
                                data-aos-duration="1000" data-aos="zoom-in-up">
                            </div>
                            <div class="ms-4">
                                <h4 class="m-0 mb-2 text-white font-20" data-aos-duration="1000" data-aos="zoom-in-up">
                                    Secure Transactions</h4>
                                <p class="text-muted font-18" data-aos-duration="1000" data-aos="zoom-in-up">Integrated
                                    secure payment gateways for safe and convenient
                                    transactions.</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-start mb-2">
                            <div class="bx bx-star bg-gray-700 border border-2 border-primary font-30 text-white rounded-circle p-3"
                                data-aos-duration="1000" data-aos="zoom-in-up">
                            </div>
                            <div class="ms-4">
                                <h4 class="m-0 mb-2 text-white font-20" data-aos-duration="1000" data-aos="zoom-in-up">
                                    Robust Backend</h4>
                                <p class="text-muted font-18" data-aos-duration="1000" data-aos="zoom-in-up">Built a
                                    robust and easy-to-use backend for efficient
                                    management and updates.</p>
                            </div>
                        </div>
                        <a href="" class="btn-frame mt-2" data-aos-duration="1000" data-aos="zoom-in-up">
                            VIEW PROJECT
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--PROCESS-->
    {% include "components/process.html" %}
    <!--PROCESS-->

    <!--PROJECTS-->
    <section class="container container-sm container-md container-lg container-xl container-xxl py-5">
        <div class="text-white mb-5">
            <b class="border border-2 border-primary py-1 px-3 text-uppercase rounded-pill text-light font-14">
                OUR WORK
            </b>
            <h3 class="text-white font-40 fw-bold m-0 my-2">
                Recent Projects Showcase
            </h3>
            <p class="text-muted font-18 m-0 col-sm-6">
                Creating impact with every project, experience the innovation.
            </p>
        </div>
        {% include "components/projects.html" %}
        <div class="text-center py-5">
            <button class="btn btn-primary text-white rounded-pill px-4 py-2 font-14">
                Load more
            </button>
        </div>
    </section>
    <!--PROJECTS-->

    <!-- FEEDBACKS -->
    {% include "components/feedbacks.html" %}
    <!-- FEEDBACKS -->

    <!-- CLIENTS -->
    {% include "components/clients.html" %}
    <!-- CLIENTS -->
</div>
{% endblock %}