{% extends "layouts/primary.html" %}

{% block title %} Project | {% endblock %}

{% block seo %}
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="robots" content="index, follow" />
<link rel="canonical" href="" />
<meta property="og:title" content="Project details | NexTash" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="NexTash" />
<meta property="og:url" content="" />
<style>
    .m-0{
        margin: 0px;
        padding: 0px;
    }
</style>
{% endblock %}

{% block content %}
<!-- HEADER -->
<section class="section">
    <div class="section-container">
        <div class="section-body">
            <div class="section-label page-label"><span>WEB & APP PROJECT</span></div>
            <h2 class="section-heading page-heading">Fintech Frontier</h2>
            <p class="section-description page-description">
                - The Fintech Frontier project was a comprehensive venture that
                incorporated our expertise in both website design and mobile app
                development. Our team was given the opportunity to redefine the digital
                experience for a leading player in the financial technology sector.
            </p>
        </div>
    </div>
</section>
<!-- HEADER -->

<!-- INFO -->
<section class="section">
    <div class="section-container">
        <div class="row row-cols-3">
            <div class="col">
                <article class="card card-hover">
                    <div class="card-body">
                        <div class="media">
                            <i class="bx bx-user-circle icon"></i>
                            <div class="media-body">
                                <h4 class="media-heading">Client</h4>
                                <p class="media-description">John doe</p>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col">
                <article class="card card-hover">
                    <div class="card-body">
                        <div class="media">
                            <i class="bx bx-map icon"></i>
                            <div class="media-body">
                                <h4 class="media-heading">Location</h4>
                                <p class="media-description">Mindful LLC.</p>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col">
                <article class="card card-hover">
                    <div class="card-body">
                        <div class="media">
                            <i class="bx bx-time icon"></i>
                            <div class="media-body">
                                <h4 class="media-heading">Date</h4>
                                <p class="media-description">14 March 2023</p>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<!-- INFO -->

<!-- OVERVIEW -->
<section class="section">
    <div class="section-container">
        <div class="row row-cols-2 align-items-center justify-content-between">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg card card-hover">
                        <img src="{{ url_for('static', filename='images/projects/1.webp')}}" class="image"
                            alt="Overview" />
                    </div>
                    <div class="image-sm card card-hover">
                        <img src="{{ url_for('static', filename='images/projects/2.webp')}}" class="image"
                            alt="Overview" />
                    </div>
                </div>
            </div>
            <div class="col">
                <h3 class="section-heading">Overview</h3>
                <p class="section-description">
                    Our approach combined cutting-edge design with robust functionality.
                    We delivered a high-performing website and a user-friendly mobile
                    application that effectively positioned Fintech Frontier as a
                    trailblazer in their field.
                </p>
                <div class="media">
                    <i class="bx bx-star icon"></i>
                    <div class="media-body">
                        <h4 class="media-heading">Unified Design</h4>
                        <p class="media-description">
                            Maintained consistent branding and design across the website and
                            mobile app.
                        </p>
                    </div>
                </div>
                <br /><br />
                <div class="media">
                    <i class="bx bx-star icon"></i>
                    <div class="media-body">
                        <h4 class="media-heading">Secure Transactions</h4>
                        <p class="media-description">
                            Integrated secure payment gateways for safe and convenient
                            transactions.
                        </p>
                    </div>
                </div>
                <br /><br />
                <div class="media">
                    <i class="bx bx-star icon"></i>
                    <div class="media-body">
                        <h4 class="media-heading">Robust Backend</h4>
                        <p class="media-description">
                            Built a robust and easy-to-use backend for efficient management
                            and updates.
                        </p>
                    </div>
                </div>
                <br />
                <a href="" class="btn-outline">VIEW PROJECT</a>
            </div>
        </div>
    </div>
</section>
<!-- OVERVIEW -->

<!--PROCESS-->
{% include "components/process.html" %}
<!--PROCESS-->

<!-- Projects -->
<section class="section">
    <div class="section-container">
        <div class="section-header">
            <span class="section-label">OUR WORK</span>
            <h3 class="section-heading">Recent Projects Showcase</h3>
            <p class="section-description">
                Creating impact with every project, experience the innovation.
            </p>
        </div>
        <div class="section-body">{% include "components/projects.html" %}</div>
        <div class="section-footer">
            <p class="section-description">Explore more products showcase</p>
            <a href="/case-studies" class="btn-outline"> Read more</a>
        </div>
    </div>
</section>
<!-- Projects -->

<!-- FEEDBACKS -->
{% include "components/feedbacks.html" %}
<!-- FEEDBACKS -->

<!-- CLIENTS -->
{% include "components/clients.html" %}
<!-- CLIENTS -->
{% endblock %}