{% extends "layouts/primary.html" %} {% block title %} SEO | {% endblock %} {%
block seo %}
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="robots" content="index, follow" />
<link rel="canonical" href="" />
<meta property="og:title" content=" | NexTash" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="NexTash" />
<meta property="og:url" content="" />
{% endblock %} {% block content %}
<!-- HEADER -->
<section class="section">
    <div class="section-container">
        <div class="section-body">
            <div class="section-label page-label"><span>Service</span></div>
            <h2 class="section-heading page-heading">SEO</h2>
            <div class="section-description page-description">
                <p>
                    Every decision we make needs to answer the million-dollar question:
                    how will this benefit our partner’s goal best? We work to develop
                    solutions
                </p>
                <br />
                <p>
                    We like to be different, in the same way that every mission is
                    different. Every project is an opportunity to create result that will
                    help you
                </p>
                <br />
                <div class="row row-cols-2 align-items-center">
                    <div class="col">
                        <ul class="list-s">
                            <li>SEO Audit and Analysis</li>
                            <li>On-Page Optimization</li>
                            <li>Off-Page Optimization</li>
                            <li>Technical SEO</li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="list-s">
                            <li>Content Creation and Optimization</li>
                            <li>Local SEO</li>
                            <li>SEO Reporting and Analysis</li>
                            <li>SEO Consultation and Strategy</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- HEADER -->

<!-- DETAILS -->
<section class="section">
    <div class="section-container">
        <div class="row row-cols-2 align-items-center justify-content-between">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg card card-hover">
                        <img src="{{ url_for('static', filename='images/services/87.webp')}}" class="image"
                            alt="SEO Audit and Analysis" />
                    </div>
                    <div class="image-sm card card-hover">
                        <img src="{{ url_for('static', filename='images/services/86.webp')}}" class="image"
                            alt="SEO Audit and Analysis" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">01.</span>
                <h3 class="section-heading">SEO Audit and Analysis</h3>
                <ol class="list-s">
                    <li>
                        Comprehensive website analysis to identify technical issues, on-page
                        optimization opportunities, and areas for improvement.
                    </li>
                    <li>
                        Keyword research and analysis to determine relevant keywords and
                        phrases for targeting.
                    </li>
                    <li>
                        Competitor analysis to understand their SEO strategies and identify
                        areas of competitive advantage.
                    </li>
                    <li>
                        Identification of website performance metrics, including organic
                        traffic, rankings, and user engagement.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row row-cols-2 align-items-center justify-content-between">
            <div class="col order-sm-first">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg card card-hover">
                        <img src="{{ url_for('static', filename='images/services/89.webp')}}" class="image"
                            alt=" On-Page Optimization" />
                    </div>
                    <div class="image-sm card card-hover">
                        <img src="{{ url_for('static', filename='images/services/84.webp')}}" class="image"
                            alt=" On-Page Optimization" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">02.</span>
                <h3 class="section-heading">On-Page Optimization</h3>
                <ol class="list-s">
                    <li>
                        Keyword optimization of website content, including headings, meta
                        tags, URLs, and image alt tags.
                    </li>
                    <li>
                        Content optimization to ensure relevance, readability, and user
                        engagement.
                    </li>
                    <li>
                        Site structure optimization, including navigation, internal linking,
                        and XML sitemap creation.
                    </li>
                    <li>
                        Optimization of page load speed, mobile responsiveness, and
                        usability for enhanced user experience.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row row-cols-2 align-items-center justify-content-between">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg card card-hover">
                        <img src="{{ url_for('static', filename='images/services/75.webp')}}" class="image"
                            alt="Off-Page Optimization " />
                    </div>
                    <div class="image-sm card card-hover">
                        <img src="{{ url_for('static', filename='images/services/76.webp')}}" class="image"
                            alt="Off-Page Optimization " />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">03.</span>
                <h3 class="section-heading">Off-Page Optimization</h3>
                <ol class="list-s">
                    <li>
                        Link building strategies to increase the number and quality of
                        backlinks to the website
                    </li>
                    <li>
                        Guest blogging, outreach, and content promotion to generate
                        high-quality backlinks from authoritative websites
                    </li>
                    <li>
                        Social media signals and social bookmarking to enhance website
                        visibility and reach
                    </li>
                    <li>
                        Online directory submissions and local SEO optimization for
                        location-based businesses
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row row-cols-2 align-items-center justify-content-between">
            <div class="col order-sm-first">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg card card-hover">
                        <img src="{{ url_for('static', filename='images/services/97.webp')}}" class="image"
                            alt="Technical SEO" />
                    </div>
                    <div class="image-sm card card-hover">
                        <img src="{{ url_for('static', filename='images/services/98.webp')}}" class="image"
                            alt="Technical SEO" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">04.</span>
                <h3 class="section-heading">Technical SEO</h3>
                <ol class="list-s">
                    <li>
                        Website crawlability and indexability analysis to ensure search
                        engines can access and understand the website's content
                    </li>
                    <li>
                        Website speed optimization to improve user experience and search
                        engine rankings.
                    </li>
                    <li>
                        Mobile optimization to ensure the website is mobile-friendly and
                        meets mobile search requirements.
                    </li>
                    <li>
                        Schema markup implementation to enhance search engine understanding
                        of structured data on the website.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row row-cols-2 align-items-center justify-content-between">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg card card-hover">
                        <img src="{{ url_for('static', filename='images/services/85.webp')}}" class="image"
                            alt="Content Creation and Optimization" />
                    </div>
                    <div class="image-sm card card-hover">
                        <img src="{{ url_for('static', filename='images/services/84.webp')}}" class="image"
                            alt="Content Creation and Optimization" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">05.</span>
                <h3 class="section-heading">Content Creation and Optimization</h3>
                <ol class="list-s">
                    <li>
                        Creation of high-quality, relevant, and optimized content for
                        website pages, blog posts, articles, and other resources.
                    </li>
                    <li>
                        Keyword integration and optimization within content to improve
                        visibility for target search terms.
                    </li>
                    <li>
                        Content strategy development to align with target audience needs and
                        search intent.
                    </li>
                    <li>
                        Optimization of multimedia content such as images and videos for
                        search engines.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row row-cols-2 align-items-center justify-content-between">
            <div class="col order-sm-first">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg card card-hover">
                        <img src="{{ url_for('static', filename='images/services/55.webp')}}" class="image"
                            alt="Local SEO" />
                    </div>
                    <div class="image-sm card card-hover">
                        <img src="{{ url_for('static', filename='images/services/57.webp')}}" class="image"
                            alt="Local SEO" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">06.</span>
                <h3 class="section-heading">Local SEO</h3>
                <ol class="list-s">
                    <li>
                        Local keyword research and optimization for businesses targeting
                        specific geographic locations.
                    </li>
                    <li>
                        Google My Business optimization to enhance local business visibility
                        on Google Maps and local search results.
                    </li>
                    <li>
                        Online reviews management and reputation management for local
                        businesses.
                    </li>
                    <li>
                        Local citation building and NAP (Name, Address, Phone number)
                        consistency across directories and listings.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row row-cols-2 align-items-center justify-content-between">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg card card-hover">
                        <img src="{{ url_for('static', filename='images/services/97.webp')}}" class="image"
                            alt="SEO Reporting and Analysis" />
                    </div>
                    <div class="image-sm card card-hover">
                        <img src="{{ url_for('static', filename='images/services/98.webp')}}" class="image"
                            alt="SEO Reporting and Analysis" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">07.</span>
                <h3 class="section-heading">SEO Reporting and Analysis</h3>
                <ol class="list-s">
                    <li>
                        Regular monitoring and reporting of website performance metrics,
                        including organic traffic, keyword rankings, and conversions.
                    </li>
                    <li>
                        Analysis of user behavior, click-through rates, and bounce rates to
                        identify areas of improvement.
                    </li>
                    <li>
                        Identification of trends, opportunities, and recommendations for
                        ongoing SEO optimization.
                    </li>
                    <li>
                        Customized reports and dashboards to track progress and measure ROI.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row row-cols-2 align-items-center justify-content-between">
            <div class="col order-sm-first">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg card card-hover">
                        <img src="{{ url_for('static', filename='images/services/55.webp')}}" class="image"
                            alt="SEO Consultation and Strategy" />
                    </div>
                    <div class="image-sm card card-hover">
                        <img src="{{ url_for('static', filename='images/services/57.webp')}}" class="image"
                            alt="SEO Consultation and Strategy" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">08.</span>
                <h3 class="section-heading">SEO Consultation and Strategy</h3>
                <ol class="list-s">
                    <li>
                        Consultation services to understand business goals and develop an
                        effective SEO strategy
                    </li>
                    <li>
                        Guidance on best practices, industry trends, and algorithm updates
                    </li>
                    <li>
                        Assistance with website migrations, domain changes, or other
                        SEO-sensitive activities.
                    </li>
                    <li>
                        Ongoing SEO support, guidance, and collaboration with internal
                        teams.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- DETAILS -->

<!-- WHY CHOOSE US -->
{% include "components/why-choose-us.html" %}
<!-- WHY CHOOSE US -->

<!--PROCESS-->
{% include "components/process.html" %}
<!--PROCESS-->

<!--PROJECTS-->
<section class="section">
    <div class="section-container">
        <div class="section-header">
            <b class="section-label">OUR WORK</b>
            <h3 class="section-heading">Recent Projects Showcase</h3>
            <p class="section-description">
                Creating impact with every project, experience the innovation.
            </p>
        </div>
        <div class="section-body">{% include "components/projects.html" %}</div>
        <div class="section-footer">
            <button class="btn-outline">Load more</button>
        </div>
    </div>
</section>
<!--PROJECTS-->

<!-- FEEDBACKS -->
{% include "components/feedbacks.html" %}
<!-- FEEDBACKS -->

<!-- CLIENTS -->
{% include "components/clients.html" %}
<!-- CLIENTS -->
{% endblock %}