{% extends "layouts/primary.html" %}

{% block title %} Services | {% endblock %}

{% block seo %}
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="robots" content="index, follow" />
<link rel="canonical" href="" />
<meta property="og:title" content=" | Nextash" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="Nextash" />
<meta property="og:url" content="" />
{% endblock %}

{% block style %}{% endblock %}

{% block content %}
<div class="bg-1 bg-cover bg-fixed bg-no-repeat">
    <!-- Header -->
    <section class="shadow py-2 py-sm-2 py-md-5 py-lg-5">
        <div class="container container-sm container-md container-lg container-xl container-xxl py-5">
            <div class="row">
                <div class="col-sm-12 text-white py-2">
                    <b class="border border-primary border-2 rounded-pill px-3 py-1 text-primary font-16">Service</b>
                    <h3 class="display-1 fw-bold m-0 mb-2 col-sm-5">Mobile App Development </h3>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-8 my-3">
                    <div class="row text-muted font-18">
                        <div class="col-sm-6 mb-3">
                            <p class="m-0">
                                Every decision we make needs to answer the million-dollar question: how will
                                this benefit our partner’s goal best? We work to develop solutions
                            </p>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <p class="m-0">
                                We like to be different, in the same way that every mission is different. Every
                                project
                                is
                                an
                                opportunity to create result that will help you
                            </p>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <ul>
                                <li>Mobile App Design and Development</li>
                                <li>Native App Development</li>
                                <li>Hybrid App Development:</li>
                                <li>UI/UX Design</li>
                            </ul>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <ul>
                                <li>Backend Development</li>
                                <li>Testing and Quality Assurance</li>
                                <li>Deployment and Maintenance</li>
                                <li>Store Optimization (ASO)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Header -->

    <section class="shadow py-2 py-sm-2 py-md-5 py-lg-5">
        <div class="container container-sm container-md container-lg container-xl container-xxl py-5">
            <div class="row py-5 my-5 align-items-center">
                <div class="col-sm-6 py-2 order-0">
                    <div class="position-relative p-2 border border-primary border-5">
                        <div class="bg-dotted position-absolute start-0 top-0 size-100 z-index-1 ms--30 mt--30">
                        </div>
                        <div
                            class="bg-dotted-primary position-absolute bottom-0 end-0 size-100 z-index-1 me--30 mb--30">
                        </div>
                        <img src="{{ url_for('static', filename='images/services/app-development/1-min.webp')}}"
                            class="shadow z-index-2 position-relative w-100 h-100 object-cover shadow" alt="">
                        <img src="{{ url_for('static', filename='images/services/app-development/2-min.webp')}}"
                            class="size-200 object-cover shadow position-absolute bottom-0 start-0 z-index-3 border-primary border border-5 p-2 ms--30 mb--30"
                            alt="">
                    </div>
                </div>
                <div class="col-sm-6 py-2 order-2">
                    <span class="display-1 text- text-stroke rounded-circle">01.</span>
                    <h3 class="text-white display-3 mb-4 fw-bold"> Mobile App Design and Development </h3>
                    <ol class="font-18 text-muted mb-3">
                        <li>
                            Custom mobile app development for iOS (iPhone/iPad) and Android platforms.
                        </li>
                        <li>
                            User-centric design and intuitive interfaces for a seamless user
                            experience.
                        </li>
                        <li>
                            Integration of native features like GPS, camera, push notifications,
                            and
                            in-app
                            purchases.
                        </li>
                        <li>
                            Cross-platform development using frameworks like React Native or
                            Flutter
                            for
                            cost-effective
                            solutions.
                        </li>
                        <li>
                            App testing, debugging, and optimization for performance and
                            stability.
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row py-5 my-5 align-items-center">
                <div class="col-sm-6 py-2 order-1">
                    <div class="position-relative p-2 border border-primary border-5">
                        <div class="bg-dotted position-absolute end-0 top-0 size-100 z-index-1 me--30 mt--30">
                        </div>
                        <div
                            class="bg-dotted-primary position-absolute bottom-0 start-0 size-100 z-index-1 ms--30 mb--30">
                        </div>
                        <img src="{{ url_for('static', filename='images/services/app-development/3-min.webp')}}"
                            class="shadow z-index-2 position-relative w-100 h-100 object-cover shadow" alt="">
                        <img src="{{ url_for('static', filename='images/services/app-development/4-min.webp')}}"
                            class="size-200 object-cover shadow position-absolute bottom-0 end-0 z-index-3 border-primary border border-5 p-2 me--30 mb--30"
                            alt="">
                    </div>
                </div>
                <div class="col-sm-6 py-2 order-0">
                    <span class="display-1 text- text-stroke rounded-circle">02.</span>
                    <h3 class="text-white display-3 mb-4 fw-bold"> Native App Development</h3>
                    <ol class="font-18 text-muted mb-3 ">
                        <li>
                            Development of native mobile apps using platform-specific languages
                            and
                            technologies
                            (Swift/Objective-C for iOS, Java/Kotlin for Android).
                        </li>
                        <li>
                            Utilization of platform-specific features and design guidelines to
                            deliver a
                            polished and seamless
                            user experience.</li>
                        <li>
                            Integration with device capabilities and APIs to access
                            functionalities
                            like
                            camera,
                            contacts,
                            sensors, and more.
                        </li>
                        <li>
                            Thorough testing and debugging to ensure compatibility and
                            performance
                            on
                            specific
                            operating
                            systems.
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row py-5 my-5 align-items-center">
                <div class="col-sm-6 py-2 order-0">
                    <div class="position-relative p-2 border border-primary border-5">
                        <div class="bg-dotted position-absolute start-0 top-0 size-100 z-index-1 ms--30 mt--30">
                        </div>
                        <div
                            class="bg-dotted-primary position-absolute bottom-0 end-0 size-100 z-index-1 me--30 mb--30">
                        </div>
                        <img src="{{ url_for('static', filename='images/services/app-development/5-min.webp')}}"
                            class="shadow z-index-2 position-relative w-100 h-100 object-cover shadow" alt="">
                        <img src="{{ url_for('static', filename='images/services/app-development/6-min.webp')}}"
                            class="size-200 object-cover shadow position-absolute bottom-0 start-0 z-index-3 border-primary border border-5 p-2 ms--30 mb--30"
                            alt="">
                    </div>
                </div>
                <div class="col-sm-6 py-2 order-2">
                    <span class="display-1 text- text-stroke rounded-circle">03.</span>
                    <h3 class="text-white display-3 mb-4 fw-bold"> Hybrid App Development </h3>
                    <ol class="font-18 text-muted mb-3 ">
                        <li>Creation of hybrid mobile apps using web technologies (HTML, CSS,
                            JavaScript)
                            wrapped in a native
                            container.</li>
                        <li>Development frameworks like Ionic, Cordova, or Xamarin to build
                            cross-platform apps.
                        </li>
                        <li>Code reuse across multiple platforms for efficient development and
                            cost
                            savings.
                        </li>
                        <li>Integration with device features through plugins and APIs.</li>
                    </ol>
                </div>
            </div>
            <div class="row py-5 my-5 align-items-center">
                <div class="col-sm-6 py-2 order-1">
                    <div class="position-relative p-2 border border-primary border-5">
                        <div class="bg-dotted position-absolute end-0 top-0 size-100 z-index-1 me--30 mt--30">
                        </div>
                        <div
                            class="bg-dotted-primary position-absolute bottom-0 start-0 size-100 z-index-1 ms--30 mb--30">
                        </div>
                        <img src="{{ url_for('static', filename='images/services/app-development/7-min.webp')}}"
                            class="shadow z-index-2 position-relative w-100 h-100 object-cover shadow" alt="">
                        <img src="{{ url_for('static', filename='images/services/app-development/8-min.webp')}}"
                            class="size-200 object-cover shadow position-absolute bottom-0 end-0 z-index-3 border-primary border border-5 p-2 me--30 mb--30"
                            alt="">
                    </div>
                </div>
                <div class="col-sm-6 py-2 order-0">
                    <span class="display-1 text- text-stroke rounded-circle">04.</span>
                    <h3 class="text-white display-3 mb-4 fw-bold">UI/UX Design</h3>
                    <ol class="font-18 text-muted mb-3 ">
                        <li>User interface (UI) and user experience (UX) design tailored to
                            mobile
                            apps.
                        </li>
                        <li>Creation of wireframes, prototypes, and interactive mockups to
                            visualize
                            app
                            functionality and flow.
                        </li>
                        <li>Design consistency across platforms, maintaining brand identity and
                            usability
                            standards.</li>
                        <li>User research and usability testing to ensure a user-friendly and
                            intuitive
                            app
                            design.</li>
                    </ol>
                </div>
            </div>
            <div class="row py-5 my-5 align-items-center">
                <div class="col-sm-6 py-2 order-0">
                    <div class="position-relative p-2 border border-primary border-5">
                        <div class="bg-dotted position-absolute start-0 top-0 size-100 z-index-1 ms--30 mt--30">
                        </div>
                        <div
                            class="bg-dotted-primary position-absolute bottom-0 end-0 size-100 z-index-1 me--30 mb--30">
                        </div>
                        <img src="{{ url_for('static', filename='images/services/app-development/9-min.webp')}}"
                            class="shadow z-index-2 position-relative w-100 h-100 object-cover shadow" alt="">
                        <img src="{{ url_for('static', filename='images/services/app-development/10-min.webp')}}"
                            class="size-200 object-cover shadow position-absolute bottom-0 start-0 z-index-3 border-primary border border-5 p-2 ms--30 mb--30"
                            alt="">
                    </div>
                </div>
                <div class="col-sm-6 py-2 order-2">
                    <span class="display-1 text- text-stroke rounded-circle">05.</span>
                    <h3 class="text-white display-3 mb-4 fw-bold"> Backend Development </h3>
                    <ol class="font-18 text-muted mb-3 ">
                        <li>Comprehensive testing strategies, including functional testing,
                            compatibility
                            testing, performance
                            testing, and security testing.</li>
                        <li>Real device testing on different screen sizes, operating systems,
                            and
                            network
                            conditions.</li>
                        <li>Bug fixing, error handling, and crash reporting to ensure app
                            stability
                            and
                            reliability.</li>
                        <li>Adherence to coding standards and best practices to maintain code
                            quality.
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row py-5 my-5 align-items-center">
                <div class="col-sm-6 py-2 order-1">
                    <div class="position-relative p-2 border border-primary border-5">
                        <div class="bg-dotted position-absolute start-0 top-0 size-100 z-index-1 ms--30 mt--30">
                        </div>
                        <div
                            class="bg-dotted-primary position-absolute bottom-0 end-0 size-100 z-index-1 me--30 mb--30">
                        </div>
                        <img src="{{ url_for('static', filename='images/services/app-development/11-min.webp')}}"
                            class="shadow z-index-2 position-relative w-100 h-100 object-cover shadow" alt="">
                        <img src="{{ url_for('static', filename='images/services/app-development/12-min.webp')}}"
                            class="size-200 object-cover shadow position-absolute bottom-0 start-0 z-index-3 border-primary border border-5 p-2 ms--30 mb--30"
                            alt="">
                    </div>
                </div>
                <div class="col-sm-6 py-2 order-0">
                    <span class="display-1 text- text-stroke rounded-circle">06.</span>
                    <h3 class="text-white display-3 mb-4 fw-bold"> Testing and Quality Assurance</h3>
                    <ol class="font-18 text-muted mb-3 ">
                        <li>Assistance with app store submission and compliance with platform
                            guidelines.</li>
                        <li>Continuous app monitoring, bug fixing, and performance optimization.
                        </li>
                        <li>Integration of analytics tools to gather insights on user behavior
                            and
                            app
                            performance.</li>
                        <li>Regular updates, feature enhancements, and support to keep the app
                            up-to-date and
                            aligned with
                            evolving
                            user needs.</li>
                    </ol>
                </div>
            </div>
            <div class="row py-5 my-5 align-items-center">
                <div class="col-sm-6 py-2 order-0">
                    <div class="position-relative p-2 border border-primary border-5">
                        <div class="bg-dotted position-absolute start-0 top-0 size-100 z-index-1 ms--30 mt--30">
                        </div>
                        <div
                            class="bg-dotted-primary position-absolute bottom-0 end-0 size-100 z-index-1 me--30 mb--30">
                        </div>
                        <img src="{{ url_for('static', filename='images/services/app-development/13-min.webp')}}"
                            class="shadow z-index-2 position-relative w-100 h-100 object-cover shadow" alt="">
                        <img src="{{ url_for('static', filename='images/services/app-development/14-min.webp')}}"
                            class="size-200 object-cover shadow position-absolute bottom-0 start-0 z-index-3 border-primary border border-5 p-2 ms--30 mb--30"
                            alt="">
                    </div>
                </div>
                <div class="col-sm-6 py-2 order-1">
                    <span class="display-1 text- text-stroke rounded-circle">07.</span>
                    <h3 class="text-white display-3 mb-4 fw-bold">App Deployment and Maintenance</h3>
                    <ol class="font-18 text-muted mb-3 ">
                        <li>Optimization of app metadata, keywords, descriptions, and visuals to
                            improve
                            app
                            visibility and downloads.
                        </li>
                        <li>
                            Competitor analysis and research to identify opportunities and
                            enhance
                            discoverability.
                        </li>
                        <li>
                            Monitoring and analysis of user reviews and ratings to maintain app
                            reputation and
                            address user feedback.
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row py-5 my-5 align-items-center">
                <div class="col-sm-6 py-2 order-1">
                    <div class="position-relative p-2 border border-primary border-5">
                        <div class="bg-dotted position-absolute end-0 top-0 size-100 z-index-1 me--30 mt--30">
                        </div>
                        <div
                            class="bg-dotted-primary position-absolute bottom-0 start-0 size-100 z-index-1 ms--30 mb--30">
                        </div>
                        <img src="{{ url_for('static', filename='images/services/app-development/15-min.webp')}}"
                            class="shadow z-index-2 position-relative w-100 h-100 object-cover shadow" alt="">
                        <img src="{{ url_for('static', filename='images/services/app-development/16-min.webp')}}"
                            class="size-200 object-cover shadow position-absolute bottom-0 end-0 z-index-3 border-primary border border-5 p-2 me--30 mb--30"
                            alt="">
                    </div>
                </div>
                <div class="col-sm-6 py-2 order-0">
                    <span class="display-1 text- text-stroke rounded-circle">08.</span>
                    <h3 class="text-white display-3 mb-4 fw-bold">App Store Optimization (ASO)</h3>
                    <ol class="font-18 text-muted mb-3 ">
                        <li>Optimization of app metadata, keywords, descriptions, and visuals to
                            improve
                            app
                            visibility and
                            downloads.</li>
                        <li>Competitor analysis and research to identify opportunities and
                            enhance
                            discoverability.</li>
                        <li>Monitoring and analysis of user reviews and ratings to maintain app
                            reputation and
                            address user
                            feedback.</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!--------- Row --------->
    <section class="container container-sm container-md container-lg container-xl container-xxl py-5">
        <div class="text-white mb-5">
            <b class="border border-2 border-primary py-1 px-3 text-uppercase rounded-pill text-light font-14">
              OUR WORK
            </b>
            <h3 class="text-white font-40 fw-bold m-0 my-2">Recent Projects Showcase</h3>
            <p class="text-muted font-18 m-0 col-sm-6">
              Creating impact with every project, experience the innovation.
            </p>
          </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-4 g-4">
            <article class="col">
                <div class="card bg-transparent shadow project-card h-100 position-relative rounded-4">
                    <div class="card-header border-0 p-0 bg-transparent  rounded-4">
                        <img src="{{ url_for('static', filename='images/projects/1.webp')}}"
                            class="card-img-top object-cover rounded-4" alt="">
                    </div>
                    <div
                        class="card-body position-absolute bottom-0 start-0 w-100 h-100 d-flex flex-column flex-end p-4 rounded-4 rounded-top-0">
                        <div class="mt-auto py-3">
                            <b class="badge bg-danger rounded-0 font-12 px-2">UI / UX</b>
                            <h3 class="fw-bold font-20 my-4 m-0 text-white ">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            </h3>
                            <a href=""
                                class="btn btn-outline-primary btn-sm rounded-pill border border-primary border-3 px-3 font-14 text-white">Case
                                study</a>
                        </div>
                    </div>
                </div>
            </article>
            <article class="col">
                <div class="card bg-transparent shadow project-card h-100 position-relative rounded-4">
                    <div class="card-header border-0 p-0 bg-transparent  rounded-4">
                        <img src="{{ url_for('static', filename='images/projects/2.webp')}}"
                            class="card-img-top object-cover rounded-4" alt="">
                    </div>
                    <div
                        class="card-body position-absolute bottom-0 start-0 w-100 h-100 d-flex flex-column flex-end p-4 rounded-4 rounded-top-0">
                        <div class="mt-auto py-3">
                            <b class="badge bg-danger rounded-0 font-12 px-2">UI / UX</b>
                            <h3 class="fw-bold font-20 my-4 m-0 text-white ">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            </h3>
                            <a href=""
                                class="btn btn-outline-primary btn-sm rounded-pill border border-primary border-3 px-3 font-14 text-white">Case
                                study</a>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="text-center py-5">
            <button class="btn btn-primary text-white rounded-pill px-4 py-2 font-14">Load more</button>
        </div>
    </section>
    <!--------- Row --------->

    <!-- Feedbacks -->
    {% include "components/feedbacks.html" %}
    <!-- Feedbacks -->

    <!------ Process ------>
    {% include "components/process.html" %}
    <!------ Process ------>
    <!------ Clients ------->
    {% include "components/clients.html" %}
    <!------ Clients ------->
</div>
{% endblock %}