{% extends "layouts/primary.html" %} {% block title %} Graphics designing | {%
endblock %} {% block seo %}
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="robots" content="index, follow" />
<link rel="canonical" href="" />
<meta property="og:title" content=" | NexTash" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="NexTash" />
<meta property="og:url" content="" />
{% endblock %} {% block content %}
<!-- HEADER -->
<section class="section">
    <div class="section-container">
        <div class="section-body">
            <div class="section-label page-label"><span>Service</span></div>
            <h2 class="section-heading page-heading">Graphics designing</h2>
            <div class="section-description page-description">
                <p>
                    Every decision we make needs to answer the million-dollar question:
                    how will this benefit our partner’s goal best? We work to develop
                    solutions
                </p>
                <br />
                <p>
                    We like to be different, in the same way that every mission is
                    different. Every project is an opportunity to create result that will
                    help you
                </p>
                <br />
                <div class="row row-cols-2 align-items-center">
                    <div class="col">
                        <ul class="list-s">
                            <li>Logo Design</li>
                            <li>Branding and Identity Design</li>
                            <li>Website and User Interface (UI) Design</li>
                            <li>Print Design</li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="list-s">
                            <li>Advertising and Marketing Design</li>
                            <li>Illustration and Infographic Design</li>
                            <li>Motion Graphics and Animation</li>
                            <li>Visual Branding Consultation</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- HEADER -->

<!-- DETAILS -->

<section class="section">
    <div class="section-container">
        <div class="row row-cols-2 align-items-center justify-content-between">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg card card-hover">
                        <img src="{{ url_for('static', filename='images/services/210.webp')}}" class="image"
                            alt="Logo Design" />
                    </div>
                    <div class="image-sm card card-hover">
                        <img src="{{ url_for('static', filename='images/services/49.webp')}}" class="image"
                            alt="Logo Design" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">01.</span>
                <h3 class="section-heading">Logo Design</h3>
                <ol class="list-s">
                    <li>
                        Creation of unique and memorable logos that represent a brand's
                        identity and values.
                    </li>
                    <li>
                        Collaboration with clients to understand their vision, target
                        audience, and design preferences.
                    </li>
                    <li>
                        Development of multiple logo concepts and iterations for client
                        review and feedback.
                    </li>
                    <li>
                        Delivery of final logo files in various formats suitable for digital
                        and print media.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row row-cols-2 align-items-center justify-content-between">
            <div class="col order-sm-first">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg card card-hover">
                        <img src="{{ url_for('static', filename='images/services/211.webp')}}" class="image"
                            alt="Branding and Identity Design" />
                    </div>
                    <div class="image-sm card card-hover">
                        <img src="{{ url_for('static', filename='images/services/212.webp')}}" class="image"
                            alt="Branding and Identity Design" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">02.</span>
                <h3 class="section-heading">Branding and Identity Design</h3>
                <ol class="list-s">
                    <li>
                        Development of cohesive brand identities, including color palettes,
                        typography, and visual styles.
                    </li>
                    <li>
                        Design of brand assets such as business cards, letterheads,
                        envelopes, and brand guidelines.
                    </li>
                    <li>
                        Creation of brand collateral, including brochures, flyers, banners,
                        and social media graphics.
                    </li>
                    <li>
                        Consistency in design elements to ensure a unified brand presence
                        across all touchpoints.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row row-cols-2 align-items-center justify-content-between">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg card card-hover">
                        <img src="{{ url_for('static', filename='images/services/215.webp')}}" class="image"
                            alt="Website and User Interface (UI) Design" />
                    </div>
                    <div class="image-sm card card-hover">
                        <img src="{{ url_for('static', filename='images/services/216.webp')}}" class="image"
                            alt="Website and User Interface (UI) Design" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">03.</span>
                <h3 class="section-heading">Website and User Interface (UI) Design</h3>
                <ol class="list-s">
                    <li>
                        Design of visually appealing and user-friendly website interfaces.
                    </li>
                    <li>
                        Wireframing and prototyping to plan and test user interactions and
                        user flows.
                    </li>
                    <li>Creation of custom icons, buttons, and other UI elements.</li>
                    <li>
                        Collaboration with web developers to ensure seamless integration of
                        design and functionality.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row row-cols-2 align-items-center justify-content-between">
            <div class="col order-sm-first">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg card card-hover">
                        <img src="{{ url_for('static', filename='images/services/208.webp')}}" class="image"
                            alt="Print Design" />
                    </div>
                    <div class="image-sm card card-hover">
                        <img src="{{ url_for('static', filename='images/services/55.webp')}}" class="image"
                            alt="Print Design" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">04.</span>
                <h3 class="section-heading">Print Design</h3>
                <ol class="list-s">
                    <li>
                        Design of print materials such as posters, flyers, banners, business
                        cards, and packaging.
                    </li>
                    <li>
                        Collaboration with print vendors to ensure accurate color
                        reproduction and print quality.
                    </li>
                    <li>
                        Attention to typography, layout, and visual hierarchy for effective
                        communication.
                    </li>
                    <li>
                        Preparation of print-ready files in appropriate formats and
                        specifications.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row row-cols-2 align-items-center justify-content-between">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg card card-hover">
                        <img src="{{ url_for('static', filename='images/services/207.webp')}}" class="image"
                            alt=" Advertising and Marketing Design" />
                    </div>
                    <div class="image-sm card card-hover">
                        <img src="{{ url_for('static', filename='images/services/206.webp')}}" class="image"
                            alt=" Advertising and Marketing Design" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">05.</span>
                <h3 class="section-heading">Advertising and Marketing Design</h3>
                <ol class="list-s">
                    <li>
                        Creation of visually compelling graphics for online and offline
                        advertising campaigns.
                    </li>
                    <li>
                        Design of digital ad banners, social media ads, and email marketing
                        graphics.
                    </li>
                    <li>
                        Layout and design of print advertisements for magazines, newspapers,
                        and billboards.
                    </li>
                    <li>
                        Incorporation of persuasive visuals and call-to-action elements for
                        effective marketing communication.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row row-cols-2 align-items-center justify-content-between">
            <div class="col order-sm-first">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg card card-hover">
                        <img src="{{ url_for('static', filename='images/services/209.webp')}}" class="image"
                            alt=" Illustration and Infographic Design" />
                    </div>
                    <div class="image-sm card card-hover">
                        <img src="{{ url_for('static', filename='images/services/213.webp')}}" class="image"
                            alt=" Illustration and Infographic Design" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">06.</span>
                <h3 class="section-heading">Illustration and Infographic Design</h3>
                <ol class="list-s">
                    <li>
                        Custom illustration creation to visually represent concepts, ideas,
                        or stories.
                    </li>
                    <li>
                        Design of infographics to present complex information or data in a
                        visually appealing and easy-to-understand manner.
                    </li>
                    <li>
                        Use of illustration and infographics in various digital and print
                        media, such as websites, presentations, and reports.
                    </li>
                    <li>
                        Attention to detail and artistic style to match the desired tone and
                        message of the project.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row row-cols-2 align-items-center justify-content-between">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg card card-hover">
                        <img src="{{ url_for('static', filename='images/services/214.webp')}}" class="image"
                            alt="Motion Graphics and Animation" />
                    </div>
                    <div class="image-sm card card-hover">
                        <img src="{{ url_for('static', filename='images/services/215.webp')}}" class="image"
                            alt="Motion Graphics and Animation" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">07.</span>
                <h3 class="section-heading">Motion Graphics and Animation</h3>
                <ol class="list-s">
                    <li>
                        Creation of motion graphics and animations for videos,
                        presentations, and websites.
                    </li>
                    <li>
                        Incorporation of visual effects, transitions, and animated elements
                        to enhance storytelling.
                    </li>
                    <li>
                        Collaboration with video producers and animators to bring static
                        designs to life.
                    </li>
                    <li>
                        Use of industry-standard software and techniques to create
                        professional-grade motion graphics.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row row-cols-2 align-items-center justify-content-between">
            <div class="col order-sm-first">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg card card-hover">
                        <img src="{{ url_for('static', filename='images/services/31.webp')}}" class="image"
                            alt="Visual Branding Consultation" />
                    </div>
                    <div class="image-sm card card-hover">
                        <img src="{{ url_for('static', filename='images/services/32.webp')}}" class="image"
                            alt="Visual Branding Consultation" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">08.</span>
                <h3 class="section-heading">Visual Branding Consultation</h3>
                <ol class="list-s">
                    <li>
                        Consultation services to understand a client's brand identity and
                        visual goals.
                    </li>
                    <li>
                        Guidance on visual branding strategies, including color psychology,
                        typography selection, and style direction.
                    </li>
                    <li>
                        Assistance with creating a consistent visual language and design
                        system for brand recognition.
                    </li>
                    <li>
                        Feedback and recommendations on existing designs or branding
                        materials for improvement.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- DETAILS -->

<!-- WHY CHOOSE US -->
{% include "components/why-choose-us.html" %}
<!-- WHY CHOOSE US -->

<!--PROCESS-->
{% include "components/process.html" %}
<!--PROCESS-->

<!--PROJECTS-->
<section class="section">
    <div class="section-container">
        <div class="section-header">
            <b class="section-label">OUR WORK</b>
            <h3 class="section-heading">Recent Projects Showcase</h3>
            <p class="section-description">
                Creating impact with every project, experience the innovation.
            </p>
        </div>
        <div class="section-body">{% include "components/projects.html" %}</div>
        <div class="section-footer">
            <button class="btn-outline">Load more</button>
        </div>
    </div>
</section>
<!--PROJECTS-->

<!-- FEEDBACKS -->
{% include "components/feedbacks.html" %}
<!-- FEEDBACKS -->

<!-- CLIENTS -->
{% include "components/clients.html" %}
<!-- CLIENTS -->
{% endblock %}