{% extends "layouts/primary.html" %}

{% block title %} Technical Support | {%endblock %}

{% block seo %}
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="robots" content="index, follow" />
<link rel="canonical" href="" />
<meta property="og:title" content=" | NexTash" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="NexTash" />
<meta property="og:url" content="" />
{% endblock %}

{% block content %}
<div class="bg-1 bg-cover bg-no-repeat bg-fixed">
    <!-- HEADER -->
    <section class="shadow py-5">
        <div class="container container-sm container-md container-lg container-xl container-xxl">
            <div
                class="row align-items-center justify-content-center my-5 py-2 py-sm-2 py-md-5 py-lg-5 py-xl-5 py-xl-5">
                <div class="col-sm-12 text-white">
                    <b class="border border-primary border-2 rounded-pill px-3 py-1 text-primary font-16 d-inline-block mb-2"
                        data-aos-duration="1000" data-aos="fade-up">Service</b>
                    <h3 class="display-1 fw-bold m-0 mb-2 col-12 col-sm-12 col-md-10 col-lg-10 col-xl-8 col-xll-8"
                        data-aos-duration="1000" data-aos="fade-up">
                        Technical Support
                    </h3>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xll-8 my-5">
                    <div class="row text-muted font-18">
                        <div class="col-sm-6 mb-3">
                            <p class="m-0" data-aos-duration="1000" data-aos="fade-up">
                                Every decision we make needs to answer the million-dollar
                                question: how will this benefit our partner’s goal best? We work
                                to develop solutions
                            </p>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <p class="m-0" data-aos-duration="1000" data-aos="fade-up">
                                We like to be different, in the same way that every mission is
                                different. Every project is an opportunity to create result that
                                will help you
                            </p>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <ul data-aos-duration="1000" data-aos="fade-up">
                                <li>Help Desk Support</li>
                                <li>Remote Technical Support:</li>
                                <li>Hardware Support</li>
                                <li>Software Support</li>
                            </ul>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <ul data-aos-duration="1000" data-aos="fade-up">
                                <li>Network Support</li>
                                <li>Email Support</li>
                                <li>Data Backup and Recovery Support</li>
                                <li>24/7 Technical Support</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- HEADER -->

    <!-- DETAILS -->
    <section class="shadow py-2 py-sm-2 py-md-5 py-lg-5">
        <div class="container container-sm container-md container-lg container-xl container-xxl py-5">
            <div class="row align-items-center justify-content-between">
                <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 col-xll-5 my-5 order-0">
                    <div class="position-relative image-box">
                        <div data-aos-duration="1000" data-aos="zoom-in-up" class="bg-dotted border-shadow square-1">
                        </div>
                        <div data-aos-duration="1000" data-aos="zoom-in-up"
                            class="bg-dotted-primary border-shadow square-2"></div>
                        <div class="border-shadow border border-primary border-5 p-2 image-lg" data-aos-duration="1000"
                            data-aos="zoom-in-up">
                            <img src="{{ url_for('static', filename='images/services/187.webp')}}"
                                class="object-cover h-100 w-100" alt="Help Desk Support" />
                        </div>
                        <div class="border-shadow border border-primary border-5 p-2 image-sm" data-aos-duration="1000"
                            data-aos="zoom-in-up">
                            <img src="{{ url_for('static', filename='images/services/92.webp')}}"
                                class="object-cover h-100 w-100" alt="Help Desk Support" />
                        </div>
                    </div>
                </div>
                <div
                    class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 col-xll-5 my-5 order-0 order-sm-0 order-md-0 order-lg-1 order-xl-1 order-xll-1">
                    <span class="display-1 text- text-stroke rounded-circle" data-aos-duration="1000"
                        data-aos="zoom-in-up">01.</span>
                    <h3 class="text-white display-3 mb-4 fw-bold" data-aos-duration="1000" data-aos="zoom-in-up">
                        Help Desk Support
                    </h3>
                    <ol class="font-18 text-muted mb-3" data-aos-duration="1000" data-aos="zoom-in-up">
                        <li>
                            Friendly and knowledgeable support agents available via phone,
                            email, or chat.
                        </li>
                        <li>
                            Prompt response to troubleshoot and resolve user-reported issues.
                        </li>
                        <li>
                            Guided step-by-step assistance to help users resolve technical
                            problems.
                        </li>
                        <li>
                            Ticketing system to track and prioritize support requests
                            efficiently.
                        </li>
                        <li>Timely escalation and follow-up for complex issues.</li>
                    </ol>
                </div>
            </div>
            <div class="row align-items-center justify-content-between">
                <div
                    class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 col-xll-5 my-5 order-0 order-sm-0 order-md-0 order-lg-1 order-xl-1 order-xll-1">
                    <div class="position-relative image-box">
                        <div data-aos-duration="1000" data-aos="zoom-in-up" class="bg-dotted border-shadow square-1">
                        </div>
                        <div data-aos-duration="1000" data-aos="zoom-in-up"
                            class="bg-dotted-primary border-shadow square-2"></div>
                        <div class="border-shadow border border-primary border-5 p-2 image-lg" data-aos-duration="1000"
                            data-aos="zoom-in-up">
                            <img src="{{ url_for('static', filename='images/services/101.webp')}}"
                                class="object-cover h-100 w-100" alt="Remote Technical Support" />
                        </div>
                        <div class="border-shadow border border-primary border-5 p-2 image-sm" data-aos-duration="1000"
                            data-aos="zoom-in-up">
                            <img src="{{ url_for('static', filename='images/services/111.webp')}}"
                                class="object-cover h-100 w-100" alt="Remote Technical Support" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xll-6 my-5 order-0">
                    <span class="display-1 text- text-stroke rounded-circle" data-aos-duration="1000"
                        data-aos="zoom-in-up">02.</span>
                    <h3 class="text-white display-3 mb-4 fw-bold" data-aos-duration="1000" data-aos="zoom-in-up">
                        Remote Technical Support
                    </h3>
                    <ol class="font-18 text-muted mb-3" data-aos-duration="1000" data-aos="zoom-in-up">
                        <li>
                            Remote access capabilities to diagnose and resolve issues quickly.
                        </li>
                        <li>
                            Secure and encrypted connections for data privacy and
                            confidentiality.
                        </li>
                        <li>
                            Troubleshooting software installations, configuration, and errors
                            remotely.
                        </li>
                        <li>
                            Efficiently resolving problems without the need for on-site
                            visits.
                        </li>
                        <li>Supporting users regardless of their geographic location.</li>
                    </ol>
                </div>
            </div>
            <div class="row align-items-center justify-content-between">
                <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 col-xll-5 my-5 order-0">
                    <div class="position-relative image-box">
                        <div data-aos-duration="1000" data-aos="zoom-in-up" class="bg-dotted border-shadow square-1">
                        </div>
                        <div data-aos-duration="1000" data-aos="zoom-in-up"
                            class="bg-dotted-primary border-shadow square-2"></div>
                        <div class="border-shadow border border-primary border-5 p-2 image-lg" data-aos-duration="1000"
                            data-aos="zoom-in-up">
                            <img src="{{ url_for('static', filename='images/services/142.webp')}}"
                                class="object-cover h-100 w-100" alt="Hardware Support" />
                        </div>
                        <div class="border-shadow border border-primary border-5 p-2 image-sm" data-aos-duration="1000"
                            data-aos="zoom-in-up">
                            <img src="{{ url_for('static', filename='images/services/144.webp')}}"
                                class="object-cover h-100 w-100" alt="Hardware Support" />
                        </div>
                    </div>
                </div>
                <div
                    class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 col-xll-5 my-5 order-0 order-sm-0 order-md-0 order-lg-1 order-xl-1 order-xll-1">
                    <span class="display-1 text- text-stroke rounded-circle" data-aos-duration="1000"
                        data-aos="zoom-in-up">03.</span>
                    <h3 class="text-white display-3 mb-4 fw-bold" data-aos-duration="1000" data-aos="zoom-in-up">
                        Hardware Support
                    </h3>
                    <ol class="font-18 text-muted mb-3" data-aos-duration="1000" data-aos="zoom-in-up">
                        <li>Troubleshooting and diagnosing hardware-related issues.</li>
                        <li>Repairing or replacing faulty hardware components.</li>
                        <li>Providing hardware compatibility guidance for upgrades.</li>
                        <li>
                            Assisting with hardware setup, installation, and configuration.
                        </li>
                        <li>
                            Performing preventive maintenance to maximize hardware lifespan.
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row align-items-center justify-content-between">
                <div
                    class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 col-xll-5 my-5 order-0 order-sm-0 order-md-0 order-lg-1 order-xl-1 order-xll-1">
                    <div class="position-relative image-box">
                        <div data-aos-duration="1000" data-aos="zoom-in-up" class="bg-dotted border-shadow square-1">
                        </div>
                        <div data-aos-duration="1000" data-aos="zoom-in-up"
                            class="bg-dotted-primary border-shadow square-2"></div>
                        <div class="border-shadow border border-primary border-5 p-2 image-lg" data-aos-duration="1000"
                            data-aos="zoom-in-up">
                            <img src="{{ url_for('static', filename='images/services/162.webp')}}"
                                class="object-cover h-100 w-100" alt="Software Support" />
                        </div>
                        <div class="border-shadow border border-primary border-5 p-2 image-sm" data-aos-duration="1000"
                            data-aos="zoom-in-up">
                            <img src="{{ url_for('static', filename='images/services/174.webp')}}"
                                class="object-cover h-100 w-100" alt="Software Support" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xll-6 my-5 order-0">
                    <span class="display-1 text- text-stroke rounded-circle" data-aos-duration="1000"
                        data-aos="zoom-in-up">04.</span>
                    <h3 class="text-white display-3 mb-4 fw-bold" data-aos-duration="1000" data-aos="zoom-in-up">
                        Software Support
                    </h3>
                    <ol class="font-18 text-muted mb-3" data-aos-duration="1000" data-aos="zoom-in-up">
                        <li>Assisting with software installations and updates.</li>
                        <li>
                            Troubleshooting software errors, crashes, and compatibility
                            issues.
                        </li>
                        <li>Guiding users through software configuration and usage.</li>
                        <li>Providing software patches and updates to fix known issues.</li>
                        <li>Offering software recommendations based on specific needs.</li>
                    </ol>
                </div>
            </div>
            <div class="row align-items-center justify-content-between">
                <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 col-xll-5 my-5 order-0">
                    <div class="position-relative image-box">
                        <div data-aos-duration="1000" data-aos="zoom-in-up" class="bg-dotted border-shadow square-1">
                        </div>
                        <div data-aos-duration="1000" data-aos="zoom-in-up"
                            class="bg-dotted-primary border-shadow square-2"></div>
                        <div class="border-shadow border border-primary border-5 p-2 image-lg" data-aos-duration="1000"
                            data-aos="zoom-in-up">
                            <img src="{{ url_for('static', filename='images/services/112.webp')}}"
                                class="object-cover h-100 w-100" alt="Network Support" />
                        </div>
                        <div class="border-shadow border border-primary border-5 p-2 image-sm" data-aos-duration="1000"
                            data-aos="zoom-in-up">
                            <img src="{{ url_for('static', filename='images/services/114.webp')}}"
                                class="object-cover h-100 w-100" alt="Network Support" />
                        </div>
                    </div>
                </div>
                <div
                    class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 col-xll-5 my-5 order-0 order-sm-0 order-md-0 order-lg-1 order-xl-1 order-xll-1">
                    <span class="display-1 text- text-stroke rounded-circle" data-aos-duration="1000"
                        data-aos="zoom-in-up">05.</span>
                    <h3 class="text-white display-3 mb-4 fw-bold" data-aos-duration="1000" data-aos="zoom-in-up">
                        Network Support
                    </h3>
                    <ol class="font-18 text-muted mb-3" data-aos-duration="1000" data-aos="zoom-in-up">
                        <li>Diagnosing and resolving network connectivity issues.</li>
                        <li>
                            Troubleshooting network equipment, such as routers and switches.
                        </li>
                        <li>Optimizing network performance and bandwidth management.</li>
                        <li>
                            Configuring network security measures, such as firewalls and VPNs.
                        </li>
                        <li>
                            Providing remote support for both wired and wireless networks.
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row align-items-center justify-content-between">
                <div
                    class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 col-xll-5 my-5 order-0 order-sm-0 order-md-0 order-lg-1 order-xl-1 order-xll-1">
                    <div class="position-relative image-box">
                        <div data-aos-duration="1000" data-aos="zoom-in-up" class="bg-dotted border-shadow square-1">
                        </div>
                        <div data-aos-duration="1000" data-aos="zoom-in-up"
                            class="bg-dotted-primary border-shadow square-2"></div>
                        <div class="border-shadow border border-primary border-5 p-2 image-lg" data-aos-duration="1000"
                            data-aos="zoom-in-up">
                            <img src="{{ url_for('static', filename='images/services/186.webp')}}"
                                class="object-cover h-100 w-100" alt="Email Support" />
                        </div>
                        <div class="border-shadow border border-primary border-5 p-2 image-sm" data-aos-duration="1000"
                            data-aos="zoom-in-up">
                            <img src="{{ url_for('static', filename='images/services/184.webp')}}"
                                class="object-cover h-100 w-100" alt="Email Support" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xll-6 my-5 order-0">
                    <span class="display-1 text- text-stroke rounded-circle" data-aos-duration="1000"
                        data-aos="zoom-in-up">06.</span>
                    <h3 class="text-white display-3 mb-4 fw-bold" data-aos-duration="1000" data-aos="zoom-in-up">
                        Email Support
                    </h3>
                    <ol class="font-18 text-muted mb-3" data-aos-duration="1000" data-aos="zoom-in-up">
                        <li>Setting up and configuring email clients and accounts.</li>
                        <li>Troubleshooting email delivery and synchronization issues.</li>
                        <li>
                            Assisting with spam and malware filtering for email security.
                        </li>
                        <li>Guiding users on email best practices and etiquette.</li>
                        <li>
                            Resolving issues related to email attachments and file sharing.
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row align-items-center justify-content-between">
                <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 col-xll-5 my-5 order-0">
                    <div class="position-relative image-box">
                        <div data-aos-duration="1000" data-aos="zoom-in-up" class="bg-dotted border-shadow square-1">
                        </div>
                        <div data-aos-duration="1000" data-aos="zoom-in-up"
                            class="bg-dotted-primary border-shadow square-2"></div>
                        <div class="border-shadow border border-primary border-5 p-2 image-lg" data-aos-duration="1000"
                            data-aos="zoom-in-up">
                            <img src="{{ url_for('static', filename='images/services/187.webp')}}"
                                class="object-cover h-100 w-100" alt="Data Backup and Recovery Support" />
                        </div>
                        <div class="border-shadow border border-primary border-5 p-2 image-sm" data-aos-duration="1000"
                            data-aos="zoom-in-up">
                            <img src="{{ url_for('static', filename='images/services/177.webp')}}"
                                class="object-cover h-100 w-100" alt="Data Backup and Recovery Support" />
                        </div>
                    </div>
                </div>
                <div
                    class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 col-xll-5 my-5 order-0 order-sm-0 order-md-0 order-lg-1 order-xl-1 order-xll-1">
                    <span class="display-1 text- text-stroke rounded-circle" data-aos-duration="1000"
                        data-aos="zoom-in-up">07.</span>
                    <h3 class="text-white display-3 mb-4 fw-bold" data-aos-duration="1000" data-aos="zoom-in-up">
                        Data Backup and Recovery Support
                    </h3>
                    <ol class="font-18 text-muted mb-3" data-aos-duration="1000" data-aos="zoom-in-up">
                        <li>Assisting with data backup setup and scheduling.</li>
                        <li>Recovering data from backups in case of data loss.</li>
                        <li>Ensuring data integrity and verification of backups.</li>
                        <li>Guiding users on data recovery procedures and options.</li>
                        <li>Providing preventive measures to avoid data loss.</li>
                    </ol>
                </div>
            </div>
            <div class="row align-items-center justify-content-between">
                <div
                    class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 col-xll-5 my-5 order-0 order-sm-0 order-md-0 order-lg-1 order-xl-1 order-xll-1">
                    <div class="position-relative image-box">
                        <div data-aos-duration="1000" data-aos="zoom-in-up" class="bg-dotted border-shadow square-1">
                        </div>
                        <div data-aos-duration="1000" data-aos="zoom-in-up"
                            class="bg-dotted-primary border-shadow square-2"></div>
                        <div class="border-shadow border border-primary border-5 p-2 image-lg" data-aos-duration="1000"
                            data-aos="zoom-in-up">
                            <img src="{{ url_for('static', filename='images/services/105.webp')}}"
                                class="object-cover h-100 w-100" alt="24/7 Technical Support" />
                        </div>
                        <div class="border-shadow border border-primary border-5 p-2 image-sm" data-aos-duration="1000"
                            data-aos="zoom-in-up">
                            <img src="{{ url_for('static', filename='images/services/91.webp')}}"
                                class="object-cover h-100 w-100" alt="24/7 Technical Support" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xll-6 my-5 order-0">
                    <span class="display-1 text- text-stroke rounded-circle" data-aos-duration="1000"
                        data-aos="zoom-in-up">08.</span>
                    <h3 class="text-white display-3 mb-4 fw-bold" data-aos-duration="1000" data-aos="zoom-in-up">
                        24/7 Technical Support
                    </h3>
                    <ol class="font-18 text-muted mb-3" data-aos-duration="1000" data-aos="zoom-in-up">
                        <li>
                            Offering round-the-clock technical assistance for critical issues.
                        </li>
                        <li>Ensuring continuous support during weekends and holidays.</li>
                        <li>Providing peace of mind with constant availability.</li>
                        <li>Rapid response times for urgent matters.</li>
                        <li>Resolving issues promptly, regardless of the time.</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!-- DETAILS -->

    <!-- WHY CHOOSE US -->
    {% include "components/why-choose-us.html" %}
    <!-- WHY CHOOSE US -->

    <!--PROCESS-->
    {% include "components/process.html" %}
    <!--PROCESS-->

    <!--PROJECTS-->
    <section class="container container-sm container-md container-lg container-xl container-xxl py-5">
        <div class="text-white mb-5">
            <b class="border border-2 border-primary py-1 px-3 text-uppercase rounded-pill text-light font-14">
                OUR WORK
            </b>
            <h3 class="text-white font-40 fw-bold m-0 my-2">
                Recent Projects Showcase
            </h3>
            <p class="text-muted font-18 m-0 col-sm-6">
                Creating impact with every project, experience the innovation.
            </p>
        </div>
        {% include "components/projects.html" %}
        <div class="text-center py-5">
            <button class="btn btn-primary text-white rounded-pill px-4 py-2 font-14">
                Load more
            </button>
        </div>
    </section>
    <!--PROJECTS-->

    <!-- FEEDBACKS -->
    {% include "components/feedbacks.html" %}
    <!-- FEEDBACKS -->

    <!-- CLIENTS -->
    {% include "components/clients.html" %}
    <!-- CLIENTS -->
</div>
{% endblock %}