{% extends "layouts/primary.html" %}

{% block title %} DevOps | {% endblock %}

{% block seo %}
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="robots" content="index, follow" />
<link rel="canonical" href="" />
<meta property="og:title" content=" | NexTash" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="NexTash" />
<meta property="og:url" content="" />
{% endblock %}

{% block content %}
<!-- HEADER -->
<section class="section">
    <div class="section-container">
        <div class="section-body">
            <div class="section-label page-label"><span>Service</span></div>
            <h2 class="section-heading page-heading">DevOps</h2>
            <div class="section-description page-description">
                <p>
                    Every decision we make needs to answer the million-dollar question:
                    how will this benefit our partner’s goal best? We work to develop
                    solutions
                </p>
                <br />
                <p>
                    We like to be different, in the same way that every mission is
                    different. Every project is an opportunity to create result that will
                    help you
                </p>
                <br />
                <div class="row">
                    <div class="col">
                        <ul class="list-s">
                            <li>Continuous Integration and Deployment (CI/CD)</li>
                            <li>Infrastructure as Code (IaC)</li>
                            <li>Continuous Monitoring and Logging</li>
                            <li>Automated Testing</li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="list-s">
                            <li>Containerization and Orchestration</li>
                            <li>Collaboration and Communication</li>
                            <li>Security and Compliance</li>
                            <li>DevOps Culture and Training</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- HEADER -->

<!-- DETAILS -->
<section class="section">
    <div class="section-container">
        <div class="row row-cols-2 align-items-center justify-content-between">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg card card-hover">
                        <img src="{{ url_for('static', filename='images/services/145.webp')}}" class="image"
                            alt="Continuous Integration and Deployment (CI/CD)" />
                    </div>
                    <div class="image-sm card card-hover">
                        <img src="{{ url_for('static', filename='images/services/137.webp')}}" class="image"
                            alt="Continuous Integration and Deployment (CI/CD)" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">01.</span>
                <h3 class="section-heading">
                    Continuous Integration and Deployment (CI/CD)
                </h3>
                <ol class="section-description">
                    <li>
                        Implementing CI/CD pipelines for automated code integration and
                        deployment.
                    </li>
                    <li>
                        Enabling seamless code changes and frequent releases for faster
                        time-to-market.
                    </li>
                    <li>
                        Ensuring code quality through automated testing and code review
                        processes.
                    </li>
                    <li>Reducing the risk of errors and conflicts during deployment.</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row row-cols-2 align-items-center justify-content-between">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg card card-hover">
                        <img src="{{ url_for('static', filename='images/services/74.webp')}}" class="image"
                            alt="Infrastructure as Code (IaC)" />
                    </div>
                    <div class="image-sm card card-hover">
                        <img src="{{ url_for('static', filename='images/services/75.webp')}}" class="image"
                            alt="Infrastructure as Code (IaC)" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">02.</span>
                <h3 class="section-heading">Infrastructure as Code (IaC)</h3>
                <ol class="section-description">
                    <li>
                        Leveraging IaC tools like Terraform and Ansible for
                        infrastructure automation.
                    </li>
                    <li>
                        Defining infrastructure configurations in version-controlled
                        code repositories.
                    </li>
                    <li>
                        Ensuring consistent and reproducible infrastructure deployments.
                    </li>
                    <li>
                        Facilitating scalability and rapid provisioning of resources.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row row-cols-2 align-items-center justify-content-between">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg card card-hover">
                        <img src="{{ url_for('static', filename='images/services/97.webp')}}" class="image"
                            alt="Continuous Monitoring and Logging" />
                    </div>
                    <div class="image-sm card card-hover">
                        <img src="{{ url_for('static', filename='images/services/98.webp')}}" class="image"
                            alt="Continuous Monitoring and Logging" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">03.</span>
                <h3 class="section-heading">
                    Continuous Monitoring and Logging
                </h3>
                <ol class="section-description">
                    <li>
                        Implementing real-time monitoring and alerting for
                        applications and infrastructure.
                    </li>
                    <li>
                        Utilizing tools like Prometheus and Grafana for performance
                        tracking.
                    </li>
                    <li>
                        Setting up centralized logging for comprehensive visibility
                        into system behavior.
                    </li>
                    <li>
                        Proactively identifying and resolving issues before they
                        impact users.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row row-cols-2 align-items-center justify-content-between">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg card card-hover">
                        <img src="{{ url_for('static', filename='images/services/70.webp')}}" class="image"
                            alt="Automated Testing" />
                    </div>
                    <div class="image-sm card card-hover">
                        <img src="{{ url_for('static', filename='images/services/5.webp')}}" class="image"
                            alt="Automated Testing" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">04.</span>
                <h3 class="section-heading">Automated Testing</h3>
                <ol class="section-description">
                    <li>
                        Integrating automated testing suites into the CI/CD
                        pipeline.
                    </li>
                    <li>
                        Conducting unit tests, integration tests, and end-to-end
                        tests.
                    </li>
                    <li>
                        Ensuring code changes do not introduce regressions or
                        defects.
                    </li>
                    <li>
                        Accelerating testing processes and improving software
                        quality.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row row-cols-2 align-items-center justify-content-between">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg card card-hover">
                        <img src="{{ url_for('static', filename='images/services/2.webp')}}" class="image"
                            alt="Containerization and Orchestration" />
                    </div>
                    <div class="image-sm card card-hover">
                        <img src="{{ url_for('static', filename='images/services/46.webp')}}" class="image"
                            alt="Containerization and Orchestration" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">05.</span>
                <h3 class="section-heading">
                    Containerization and Orchestration
                </h3>
                <ol class="section-description">
                    <li>
                        Adopting container technologies like Docker for
                        application packaging.
                    </li>
                    <li>
                        Utilizing Kubernetes for container orchestration and
                        resource management.
                    </li>
                    <li>
                        Enabling portability and scalability across
                        different environments.
                    </li>
                    <li>
                        Simplifying application deployment and management.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row row-cols-2 align-items-center justify-content-between">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg card card-hover">
                        <img src="{{ url_for('static', filename='images/services/7.webp')}}" class="image"
                            alt="Collaboration and Communication" />
                    </div>
                    <div class="image-sm card card-hover">
                        <img src="{{ url_for('static', filename='images/services/8.webp')}}" class="image"
                            alt="Collaboration and Communication" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">06.</span>
                <h3 class="section-heading">
                    Collaboration and Communication
                </h3>
                <ol class="section-description">
                    <li>
                        Facilitating collaboration between development,
                        operations, and other teams.
                    </li>
                    <li>
                        Implementing tools like Slack and Microsoft
                        Teams for seamless communication.
                    </li>
                    <li>
                        Enhancing transparency and knowledge sharing
                        across the organization.
                    </li>
                    <li>
                        Reducing silos and improving cross-functional
                        teamwork.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row row-cols-2 align-items-center justify-content-between">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg card card-hover">
                        <img src="{{ url_for('static', filename='images/services/169.webp')}}" class="image"
                            alt="Security and Compliance" />
                    </div>
                    <div class="image-sm card card-hover">
                        <img src="{{ url_for('static', filename='images/services/11.webp')}}" class="image"
                            alt="Security and Compliance" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">07.</span>
                <h3 class="section-heading">
                    Security and Compliance
                </h3>
                <ol class="section-description">
                    <li>
                        Integrating security measures into every
                        stage of the DevOps lifecycle.
                    </li>
                    <li>
                        Conducting regular security assessments and
                        vulnerability scanning.
                    </li>
                    <li>
                        Ensuring compliance with industry
                        regulations and data protection standards.
                    </li>
                    <li>
                        Implementing security best practices to
                        protect sensitive data.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row row-cols-2 align-items-center justify-content-between">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg card card-hover">
                        <img src="{{ url_for('static', filename='images/services/110.webp')}}" class="image"
                            alt="DevOps Culture and Training" />
                    </div>
                    <div class="image-sm card card-hover">
                        <img src="{{ url_for('static', filename='images/services/111.webp')}}" class="image"
                            alt="DevOps Culture and Training" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">08.</span>
                <h3 class="section-heading">
                    DevOps Culture and Training
                </h3>
                <ol class="section-description">
                    <li>
                        Fostering a DevOps culture of
                        collaboration, trust, and continuous
                        improvement.
                    </li>
                    <li>
                        Providing training and workshops to up
                        skill teams in DevOps practices.
                    </li>
                    <li>
                        Encouraging a proactive and adaptive
                        approach to change and innovation.
                    </li>
                    <li>
                        Building a strong foundation for
                        successful DevOps implementation.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- DETAILS -->

<!-- WHY CHOOSE US -->
{% include "components/why-choose-us.html" %}
<!-- WHY CHOOSE US -->

<!--PROCESS-->
{% include "components/process.html" %}
<!--PROCESS-->

<!--PROJECTS-->
<section class="section">
    <div class="section-container">
        <div class="section-header">
            <b class="section-label">OUR WORK</b>
            <h3 class="section-heading">
                Recent Projects Showcase
            </h3>
            <p class="section-description">
                Creating impact with every project,
                experience the innovation.
            </p>
        </div>
        <div class="section-body">
            {% include "components/projects.html" %}
        </div>
        <div class="section-footer">
            <button class="btn-outline">Load more</button>
        </div>
    </div>
</section>
<!--PROJECTS-->

<!-- FEEDBACKS -->
{% include "components/feedbacks.html" %}
<!-- FEEDBACKS -->

<!-- CLIENTS -->
{% include "components/clients.html" %}
<!-- CLIENTS -->
{% endblock %}