{% extends "layouts/primary.html" %}

{% block title %} Web Development | {% endblock %}

{% block seo %}
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="robots" content="index, follow" />
<link rel="canonical" href="" />
<meta property="og:title" content=" | NexTash" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="NexTash" />
<meta property="og:url" content="" />
{% endblock %}

{% block style %}{% endblock %}

{% block content %}
<div class="bg-1 bg-cover bg-fixed bg-no-repeat">
    <!-- Header -->
    <section class="shadow py-2 py-sm-2 py-md-5 py-lg-5">
        <div class="container container-sm container-md container-lg container-xl container-xxl py-5">
            <div class="row">
                <div class="col-sm-12 text-white py-2">
                    <b class="border border-primary border-2 rounded-pill px-3 py-1 text-primary font-16 d-inline-block mb-2">Service</b>
                    <h3 class="display-1 fw-bold m-0 mb-2 col-sm-5">Web Development </h3>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-8 my-3">
                    <div class="row text-muted font-18">
                        <div class="col-sm-6 mb-3">
                            <p class="m-0">
                                Every decision we make needs to answer the million-dollar question: how will
                                this benefit our partner’s goal best? We work to develop solutions
                            </p>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <p class="m-0">
                                We like to be different, in the same way that every mission is different. Every
                                project
                                is
                                an
                                opportunity to create result that will help you
                            </p>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <ul>
                                <li>Website Design and Development</li>
                                <li>E-commerce Development</li>
                                <li>Web Application Development</li>
                                <li>Content Management Systems (CMS)</li>
                            </ul>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <ul>
                                <li>Web Hosting and Maintenance</li>
                                <li>Mobile Responsive Design</li>
                                <li>Search Engine Optimization (SEO)</li>
                                <li>Website Analytics and Tracking</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Header -->

    <section class="shadow py-2 py-sm-2 py-md-5 py-lg-5">
        <div class="container container-sm container-md container-lg container-xl container-xxl py-5">
            <div class="row py-5 my-5 align-items-center">
                <div class="col-sm-6 py-2 order-0">
                    <div class="position-relative p-2 border border-primary border-5">
                        <div class="bg-dotted position-absolute start-0 top-0 size-100 z-index-1 ms--30 mt--30">
                        </div>
                        <div
                            class="bg-dotted-primary position-absolute bottom-0 end-0 size-100 z-index-1 me--30 mb--30">
                        </div>
                        <img src="{{ url_for('static', filename='images/services/app-development/1-min.webp')}}"
                            class="shadow z-index-2 position-relative w-100 h-100 object-cover shadow" alt="">
                        <img src="{{ url_for('static', filename='images/services/app-development/2-min.webp')}}"
                            class="size-200 object-cover shadow position-absolute bottom-0 start-0 z-index-3 border-primary border border-5 p-2 ms--30 mb--30"
                            alt="">
                    </div>
                </div>
                <div class="col-sm-6 py-2 order-2">
                    <span class="display-1 text- text-stroke rounded-circle">01.</span>
                    <h3 class="text-white display-3 mb-4 fw-bold"> Website Design and Development </h3>
                    <ol class="font-16 text-muted mb-3">
                        <li>Custom website design and development tailored to your specific business needs.</li>
                        <li>Responsive web design to ensure your website looks great on all devices.</li>
                        <li>User-friendly interfaces and intuitive navigation for enhanced user experience.</li>
                        <li>Integration of interactive elements, such as forms, maps, videos, and social media plugins.
                        </li>
                        <li>Content management system (CMS) implementation for easy website maintenance and updates.
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row py-5 my-5 align-items-center">
                <div class="col-sm-6 py-2 order-1">
                    <div class="position-relative p-2 border border-primary border-5">
                        <div class="bg-dotted position-absolute end-0 top-0 size-100 z-index-1 me--30 mt--30">
                        </div>
                        <div
                            class="bg-dotted-primary position-absolute bottom-0 start-0 size-100 z-index-1 ms--30 mb--30">
                        </div>
                        <img src="{{ url_for('static', filename='images/services/app-development/3-min.webp')}}"
                            class="shadow z-index-2 position-relative w-100 h-100 object-cover shadow" alt="">
                        <img src="{{ url_for('static', filename='images/services/app-development/4-min.webp')}}"
                            class="size-200 object-cover shadow position-absolute bottom-0 end-0 z-index-3 border-primary border border-5 p-2 me--30 mb--30"
                            alt="">
                    </div>
                </div>
                <div class="col-sm-6 py-2 order-0">
                    <span class="display-1 text- text-stroke rounded-circle">02.</span>
                    <h3 class="text-white display-3 mb-4 fw-bold"> E-commerce Development</h3>
                    <ol class="font-16 text-muted mb-3">
                        <li>Creation of robust and secure e-commerce platforms to sell products or services online.</li>
                        <li>Integration with popular payment gateways for seamless and secure online transactions.</li>
                        <li>Shopping cart functionality with features like product catalog management, inventory
                            tracking, and
                            order
                            management.</li>
                        <li>User account management, including registration, login, and personalized shopping
                            experiences.</li>
                        <li>Streamlined checkout processes and integration with shipping and fulfillment services.</li>
                    </ol>
                </div>
            </div>
            <div class="row py-5 my-5 align-items-center">
                <div class="col-sm-6 py-2 order-0">
                    <div class="position-relative p-2 border border-primary border-5">
                        <div class="bg-dotted position-absolute start-0 top-0 size-100 z-index-1 ms--30 mt--30">
                        </div>
                        <div
                            class="bg-dotted-primary position-absolute bottom-0 end-0 size-100 z-index-1 me--30 mb--30">
                        </div>
                        <img src="{{ url_for('static', filename='images/services/app-development/5-min.webp')}}"
                            class="shadow z-index-2 position-relative w-100 h-100 object-cover shadow" alt="">
                        <img src="{{ url_for('static', filename='images/services/app-development/6-min.webp')}}"
                            class="size-200 object-cover shadow position-absolute bottom-0 start-0 z-index-3 border-primary border border-5 p-2 ms--30 mb--30"
                            alt="">
                    </div>
                </div>
                <div class="col-sm-6 py-2 order-2">
                    <span class="display-1 text- text-stroke rounded-circle">03.</span>
                    <h3 class="text-white display-3 mb-4 fw-bold"> Web Application Development </h3>
                    <ol class="font-16 text-muted mb-3">
                        <li>Custom web application development for specific business requirements.</li>
                        <li>Development of scalable and secure web applications using modern technologies.</li>
                        <li>Integration with databases and third-party APIs to enhance functionality.</li>
                        <li>User management and role-based access control for secure access to sensitive information.
                        </li>
                        <li>Ongoing maintenance, updates, and support for web applications.</li>
                    </ol>
                </div>
            </div>
            <div class="row py-5 my-5 align-items-center">
                <div class="col-sm-6 py-2 order-1">
                    <div class="position-relative p-2 border border-primary border-5">
                        <div class="bg-dotted position-absolute end-0 top-0 size-100 z-index-1 me--30 mt--30">
                        </div>
                        <div
                            class="bg-dotted-primary position-absolute bottom-0 start-0 size-100 z-index-1 ms--30 mb--30">
                        </div>
                        <img src="{{ url_for('static', filename='images/services/app-development/7-min.webp')}}"
                            class="shadow z-index-2 position-relative w-100 h-100 object-cover shadow" alt="">
                        <img src="{{ url_for('static', filename='images/services/app-development/8-min.webp')}}"
                            class="size-200 object-cover shadow position-absolute bottom-0 end-0 z-index-3 border-primary border border-5 p-2 me--30 mb--30"
                            alt="">
                    </div>
                </div>
                <div class="col-sm-6 py-2 order-0">
                    <span class="display-1 text- text-stroke rounded-circle">04.</span>
                    <h3 class="text-white display-3 mb-4 fw-bold">Content Management Systems (CMS)</h3>
                    <ol class="font-16 text-muted mb-3">
                        <li>Development and customization of CMS platforms like WordPress, Drupal, or Joomla.</li>
                        <li>Theme and plugin development to extend the functionality and appearance of your CMS.</li>
                        <li>Training and support to help you manage and update your website's content.</li>
                        <li>Migration services to transfer your existing website to a CMS for easier management.</li>
                    </ol>
                </div>
            </div>
            <div class="row py-5 my-5 align-items-center">
                <div class="col-sm-6 py-2 order-0">
                    <div class="position-relative p-2 border border-primary border-5">
                        <div class="bg-dotted position-absolute start-0 top-0 size-100 z-index-1 ms--30 mt--30">
                        </div>
                        <div
                            class="bg-dotted-primary position-absolute bottom-0 end-0 size-100 z-index-1 me--30 mb--30">
                        </div>
                        <img src="{{ url_for('static', filename='images/services/app-development/9-min.webp')}}"
                            class="shadow z-index-2 position-relative w-100 h-100 object-cover shadow" alt="">
                        <img src="{{ url_for('static', filename='images/services/app-development/10-min.webp')}}"
                            class="size-200 object-cover shadow position-absolute bottom-0 start-0 z-index-3 border-primary border border-5 p-2 ms--30 mb--30"
                            alt="">
                    </div>
                </div>
                <div class="col-sm-6 py-2 order-2">
                    <span class="display-1 text- text-stroke rounded-circle">05.</span>
                    <h3 class="text-white display-3 mb-4 fw-bold"> Web Hosting and Maintenance </h3>
                    <ol class="font-16 text-muted mb-3">
                        <li>Assistance with domain registration and selection of a suitable web hosting provider.</li>
                        <li>Continuous monitoring, backups, and security updates to ensure the stability and safety of
                            your
                            website.
                        </li>
                        <li>Performance optimization to enhance page load speed and overall user experience.</li>
                        <li>Regular content updates, bug fixes, and troubleshooting.</li>
                    </ol>
                </div>
            </div>
            <div class="row py-5 my-5 align-items-center">
                <div class="col-sm-6 py-2 order-1">
                    <div class="position-relative p-2 border border-primary border-5">
                        <div class="bg-dotted position-absolute start-0 top-0 size-100 z-index-1 ms--30 mt--30">
                        </div>
                        <div
                            class="bg-dotted-primary position-absolute bottom-0 end-0 size-100 z-index-1 me--30 mb--30">
                        </div>
                        <img src="{{ url_for('static', filename='images/services/app-development/11-min.webp')}}"
                            class="shadow z-index-2 position-relative w-100 h-100 object-cover shadow" alt="">
                        <img src="{{ url_for('static', filename='images/services/app-development/12-min.webp')}}"
                            class="size-200 object-cover shadow position-absolute bottom-0 start-0 z-index-3 border-primary border border-5 p-2 ms--30 mb--30"
                            alt="">
                    </div>
                </div>
                <div class="col-sm-6 py-2 order-0">
                    <span class="display-1 text- text-stroke rounded-circle">06.</span>
                    <h3 class="text-white display-3 mb-4 fw-bold"> Mobile Responsive Design</h3>
                    <ol class="font-16 text-muted mb-3">
                        <li>Optimization of websites for mobile devices, ensuring a seamless experience across different
                            screen
                            sizes.
                        </li>
                        <li>Responsive design techniques to adapt layouts, images, and content for optimal mobile
                            viewing.</li>
                        <li>Mobile app development to complement your web presence and reach a wider audience.</li>
                    </ol>
                </div>
            </div>
            <div class="row py-5 my-5 align-items-center">
                <div class="col-sm-6 py-2 order-0">
                    <div class="position-relative p-2 border border-primary border-5">
                        <div class="bg-dotted position-absolute start-0 top-0 size-100 z-index-1 ms--30 mt--30">
                        </div>
                        <div
                            class="bg-dotted-primary position-absolute bottom-0 end-0 size-100 z-index-1 me--30 mb--30">
                        </div>
                        <img src="{{ url_for('static', filename='images/services/app-development/13-min.webp')}}"
                            class="shadow z-index-2 position-relative w-100 h-100 object-cover shadow" alt="">
                        <img src="{{ url_for('static', filename='images/services/app-development/14-min.webp')}}"
                            class="size-200 object-cover shadow position-absolute bottom-0 start-0 z-index-3 border-primary border border-5 p-2 ms--30 mb--30"
                            alt="">
                    </div>
                </div>
                <div class="col-sm-6 py-2 order-1">
                    <span class="display-1 text- text-stroke rounded-circle">07.</span>
                    <h3 class="text-white display-3 mb-4 fw-bold">Search Engine Optimization (SEO)</h3>
                    <ol class="font-16 text-muted mb-3">
                        <li>On-page and off-page optimization techniques to improve your website's visibility in search
                            engine
                            rankings.
                        </li>
                        <li>Keyword research, content optimization, and link building strategies to increase organic
                            traffic.
                        </li>
                        <li> SEO audits and analysis to identify areas for improvement and implement effective
                            strategies.</li>
                    </ol>
                </div>
            </div>
            <div class="row py-5 my-5 align-items-center">
                <div class="col-sm-6 py-2 order-1">
                    <div class="position-relative p-2 border border-primary border-5">
                        <div class="bg-dotted position-absolute end-0 top-0 size-100 z-index-1 me--30 mt--30">
                        </div>
                        <div
                            class="bg-dotted-primary position-absolute bottom-0 start-0 size-100 z-index-1 ms--30 mb--30">
                        </div>
                        <img src="{{ url_for('static', filename='images/services/app-development/15-min.webp')}}"
                            class="shadow z-index-2 position-relative w-100 h-100 object-cover shadow" alt="">
                        <img src="{{ url_for('static', filename='images/services/app-development/16-min.webp')}}"
                            class="size-200 object-cover shadow position-absolute bottom-0 end-0 z-index-3 border-primary border border-5 p-2 me--30 mb--30"
                            alt="">
                    </div>
                </div>
                <div class="col-sm-6 py-2 order-0">
                    <span class="display-1 text- text-stroke rounded-circle">08.</span>
                    <h3 class="text-white display-3 mb-4 fw-bold">Website Analytics and Tracking</h3>
                    <ol class="font-16 text-muted mb-3">
                        <li>Implementation of tracking tools like Google Analytics to monitor website performance and
                            user
                            behavior.
                        </li>
                        <li>Reporting and analysis of key metrics to measure the success of your online presence.</li>
                        <li>Data-driven insights to make informed decisions and optimize your website for better
                            results.</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!--------- Row --------->
    <section class="container container-sm container-md container-lg container-xl container-xxl py-5">
        <div class="text-white mb-5">
            <b class="border border-2 border-primary py-1 px-3 text-uppercase rounded-pill text-light font-14">
                OUR WORK
            </b>
            <h3 class="text-white font-40 fw-bold m-0 my-2">Recent Projects Showcase</h3>
            <p class="text-muted font-18 m-0 col-sm-6">
                Creating impact with every project, experience the innovation.
            </p>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-4 g-4">
            <article class="col">
                <div class="card bg-transparent shadow project-card h-100 position-relative rounded-4">
                    <div class="card-header border-0 p-0 bg-transparent  rounded-4">
                        <img src="{{ url_for('static', filename='images/projects/1.webp')}}"
                            class="card-img-top object-cover rounded-4" alt="">
                    </div>
                    <div
                        class="card-body position-absolute bottom-0 start-0 w-100 h-100 d-flex flex-column flex-end p-4 rounded-4 rounded-top-0">
                        <div class="mt-auto py-3">
                            <b class="badge bg-danger rounded-0 font-12 px-2">UI / UX</b>
                            <h3 class="fw-bold font-20 my-4 m-0 text-white ">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            </h3>
                            <a href=""
                                class="btn btn-outline-primary btn-sm rounded-pill border border-primary border-3 px-3 font-14 text-white">Case
                                study</a>
                        </div>
                    </div>
                </div>
            </article>
            <article class="col">
                <div class="card bg-transparent shadow project-card h-100 position-relative rounded-4">
                    <div class="card-header border-0 p-0 bg-transparent  rounded-4">
                        <img src="{{ url_for('static', filename='images/projects/2.webp')}}"
                            class="card-img-top object-cover rounded-4" alt="">
                    </div>
                    <div
                        class="card-body position-absolute bottom-0 start-0 w-100 h-100 d-flex flex-column flex-end p-4 rounded-4 rounded-top-0">
                        <div class="mt-auto py-3">
                            <b class="badge bg-danger rounded-0 font-12 px-2">UI / UX</b>
                            <h3 class="fw-bold font-20 my-4 m-0 text-white ">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            </h3>
                            <a href=""
                                class="btn btn-outline-primary btn-sm rounded-pill border border-primary border-3 px-3 font-14 text-white">Case
                                study</a>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="text-center py-5">
            <button class="btn btn-primary text-white rounded-pill px-4 py-2 font-14">Load more</button>
        </div>
    </section>
    <!--------- Row --------->

    <!-- Feedbacks -->
    {% include "components/feedbacks.html" %}
    <!-- Feedbacks -->

    <!------ Process ------>
    {% include "components/process.html" %}
    <!------ Process ------>
    <!------ Clients ------->
    {% include "components/clients.html" %}
    <!------ Clients ------->
</div>
{% endblock %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NexTash</title>
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/stylesheet.css">
    <link rel="stylesheet" href="./libs/boxicons/css/boxicons.min.css">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href="" />
    <meta property="og:title" content=" | NexTash" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="NexTash" />
    <meta property="og:url" content="" />
</head>

<body class="bg-black font-bevietnam">

    <!-------- Navbar ------->
    <header class="navbar navbar-expand fixed-top top-0 p-0" id="navbar">
        <nav class="container container-sm container-md container-lg container-xl container-xxl w-100">
            <ul class="navbar-nav d-flex align-items-center justify-content-between w-100 font-kaushan">
                <li class="nav-item">
                    <a href="index.html">
                        <img src="./images/logo.png" class="d-inline-block" width="60">
                    </a>
                </li>
                <li class="nav-item">
                    <button type="button" class="nav-link btn p-0 text-white font-30 bx bx-menu-alt-right"></button>
                </li>
            </ul>
        </nav>
    </header>
    <!-------- Navbar ------->

    <!--------- Bg ---------->
    <div class="lines position-fixed top-0 end-0 start-0 z-index--1 m-auto">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <!--------- Bg ---------->

    <!------- Content ------->
    <main class="bg-1 bg-cover">
        <section class="bg-clip py-5 mt-3">
            <div class="design"></div>
            <div class="d-flex align-items-center flex-column py-5">
                <h2 class="fw-bold text-big mb-2 m-0 text-white z-index-999">Services</h2>
                <div class="breadcrumb d-flex align-items-center font-kaushan z-index-999 m-0">
                    <nuxt-link to="/" class="breadcrumb-item p-1 text-white font-20 text-decoration-none">
                        Home
                    </nuxt-link>
                    <nuxt-link to="/services" class="breadcrumb-item p-1 text-white font-20 text-decoration-none">
                        Services
                    </nuxt-link>
                    <nuxt-link to="/services/web-development"
                        class="breadcrumb-item p-1 text-primary font-20 text-decoration-none">
                        Web development
                    </nuxt-link>
                </div>
            </div>
        </section>
        <section class="container container-sm container-md container-lg container-xl container-xxl py-5">
            <h2 class="text-big font-bowlbyone text-white mb-5"> Sure! Here are some details about web development IT
                services:
            </h2>
            <h3 class="font-20 text-white fw-bold mb-4">1. </h3>

            <h3 class="font-20 text-white fw-bold mb-4">2. :</h3>

            <h3 class="font-20 text-white fw-bold mb-4">3. :</h3>

            <h3 class="font-20 text-white fw-bold mb-4">4. </h3>


            <h3 class="font-20 text-white fw-bold mb-4">5. </h3>


            <h3 class="font-20 text-white fw-bold mb-4">6. :</h3>

            <h3 class="font-20 text-white fw-bold mb-4">7. :</h3>

            <h3 class="font-20 text-white fw-bold mb-4">8. :</h3>

            <p class="font-16 text-muted mb-3">
                Remember, these details can vary depending on the specific web development service provider. It's
                essential to
                discuss your requirements with the service provider to ensure they align with your business goals.
            </p>
        </section>
    </main>
    <!------- Content ------->

    <!-------- Footer ------->
    <footer class="fw-bold position-relative z-index-999">
        <section class="py-5"
            style="background-image: url(./images/patterns/2-min.webp);background-size: cover;margin-bottom: -80px;">
            <div class="container container-sm container-md container-lg container-xl container-xxl py-5">
                <div class="d-flex align-items-center flex-column justify-content-center">
                    <h3 class="text-white font-40 mb-5 text-center bg-black p-2 rounded-2">
                        We would love to hear <br> more about your project
                    </h3>

                    <a href=""
                        class="btn btn-dark  text-white fw-bold position-relative d-flex rounded-circle d-inline-block size-150">
                        <div class="m-auto font-14">
                            Let's discuss <i class="bx bx-right-top-arrow-circle font-20 ms-2"></i>
                        </div>
                    </a>
                </div>

        </section>
        <section class="shadow border-5 border-primary border-bottom">
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                    <path id="gentle-wave"
                        d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                </defs>
                <g class="waves-parallax">
                    <use xlink:href="#gentle-wave" x="48" y="0" class="shadow" fill="#111" />
                    <use xlink:href="#gentle-wave" x="48" y="3" fill="#444" />
                    <use xlink:href="#gentle-wave" x="48" y="5" fill="#FF0000" />
                    <use xlink:href="#gentle-wave" x="48" y="7" fill="#000" />
                </g>
            </svg>
        </section>
        <section class="bg-dark fw-bold shadow border-dark border-bottom position-relative z-index-9">
            <div class="container container-sm container-md container-lg container-xl container-xxl">
                <div class="row py-5 justify-content-between">
                    <article class="col-xl-4 col-md-4 my-3">
                        <div class="d-flex align-items-center">
                            <i class="bx bx-map text-danger font-40 rounded-5 p-2 bg-gray-700 shadow-sm"></i>
                            <div class="ms-3">
                                <h4 class="text-white font-18 m-0 mb-1 fw-bold">Find us</h4>
                                <p class="text-muted font-16 m-0">1010 Avenue, sw 54321, chandigarh</p>
                            </div>
                        </div>
                    </article>
                    <article class="col-xl-4 col-md-4 my-3">
                        <div class="d-flex align-items-center">
                            <i class="bx bx-phone text-danger font-40 rounded-5 p-2 bg-gray-700 shadow-sm"></i>
                            <div class="ms-3">
                                <h4 class="text-white font-18 m-0 mb-1 fw-bold">Call us</h4>
                                <p class="text-muted font-16 m-0">+98765432100</p>
                            </div>
                        </div>
                    </article>
                    <article class="col-xl-4 col-md-4 my-3">
                        <div class="d-flex align-items-center">
                            <i class="bx bx-envelope-open text-danger font-40 rounded-5 p-2 bg-gray-700 shadow-sm"></i>
                            <div class="ms-3">
                                <h4 class="text-white font-18 m-0 mb-1 fw-bold">Mail us</h4>
                                <p class="text-muted font-16 m-0">mail@info.com</p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </section>
        <section class="bg-1 bg-cover">
            <div class="container container-sm container-md container-lg container-xl container-xxl">
                <div class="row font-14">
                    <div class="col-sm-4 py-5 ">
                        <a href="index.html" class="mb-4 d-inline-block" role="img" aria-label="NexTash logo">
                            <img src="./images/logo.png" class="img-fluid size-70" alt="NexTash logo">
                        </a>
                        <p class="text-muted">
                            Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor
                            incididuntut consec tetur adipisicing elit,Lorem ipsum dolor sit amet.
                        </p>
                        <h3 class="text-white font-20 mb-3">Follow us</h3>
                        <div class="d-flex align-items-center mt-3">
                            <a href="#"
                                class="bx bxl-facebook-square font-24 btn text-muted p-1 rounded-circle me-1"></a>
                            <a href="#" class="bx bxl-twitter font-24 btn text-muted p-1 rounded-circle me-1"></a>
                            <a href="#" class="bx bxl-google font-24 btn text-muted p-1 rounded-circle me-1"></a>
                            <a href="#" class="bx bxl-instagram font-24 btn text-muted p-1 rounded-circle me-1"></a>
                            <a href="#" class="bx bxl-github font-24 btn text-muted p-1 rounded-circle me-1"></a>
                        </div>
                    </div>
                    <div class="col-sm-4 py-5 ">
                        <h3 class="text-white font-20 mb-3" role="heading" aria-level="3">Information</h3>
                        <ul type="none" class="p-0 m-0">
                            <li class="float-start w-50 mb-2">
                                <a href="about-us.html" class="text-decoration-none text-muted font-14">About us</a>
                            </li>
                            <li class="float-start w-50 mb-2">
                                <a href="contact-us.html" class="text-decoration-none text-muted font-14">Contact us</a>
                            </li>
                            <li class="float-start w-50 mb-2">
                                <a href="services.html" class="text-decoration-none text-muted font-14">Services</a>
                            </li>

                            <li class="float-start w-50 mb-2">
                                <a href="expert-team.html" class="text-decoration-none text-muted font-14">Expert
                                    team</a>
                            </li>
                            <li class="float-start w-50 mb-2">
                                <a href="blogs.html" class="text-decoration-none text-muted font-14">Blogs</a>
                            </li>
                            <li class="float-start w-50 mb-2">
                                <a href="projects.html" class="text-decoration-none text-muted font-14">Projects</a>
                            </li>
                            <li class="float-start w-50 mb-2">
                                <a href="jobs.html" class="text-decoration-none text-muted font-14">Jobs</a>
                            </li>

                            <li class="float-start w-50 mb-2">
                                <a href="news.html" class="text-decoration-none text-muted font-14">Latest News</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4 py-5">
                        <h3 class="text-white font-20 mb-3" role="heading" aria-level="3">Subscribe</h3>
                        <p class="text-muted mb-4">
                            Don’t miss to subscribe to our new feeds, kindly fill the form below.
                        </p>
                        <form action="subscribed-successfully.html"
                            class="input-group bg-gray-700 my-3 font-14 rounded-pill">
                            <input type="text" placeholder="Email Address..."
                                class="form-control shadow-none py-3 fw-bold bg-transparent text-white border-0 font-14 px-3">
                            <button class="bx bx-send btn font-20 fw-normal text-white p-2 px-4"></button>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-black py-3 border-top border-dark border-2 font-14">
            <div class="container">
                <div class="d-flex flex-column flex-lg-row justify-content-between text-muted ">
                    <p class="m-0 my-1">Copyright &copy; 2023, All Right Reserved
                        <a href="https://NexTash.com/" class="text-decoration-none text-white">NexTash</a>
                    </p>
                    <ul class="d-flex align-items-center m-0 p-0 my-1" type="none">
                        <li>
                            <a href="terms-and-conditions.html" class="text-decoration-none text-muted px-2">Terms</a>
                        </li>
                        <li>
                            <a href="privacy-policy.html" class="text-decoration-none text-muted px-2">Privacy</a>
                        </li>
                        <li>
                            <a href="cookies-policy.html" class="text-decoration-none text-muted px-2">Cookies</a>
                        </li>
                        <li>
                            <a href="contact-us.html" class="text-decoration-none text-muted px-2">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </footer>
    <!-------- Footer ------->

    <!------- Scripts ------->
    <script src="./js/bootstrap/bootstrap.min.js"></script>
    <!------- Scripts ------->
</body>

</html>