{% extends "layouts/primary.html" %}

{% block title %} Branding | {% endblock %}

{% block seo %}
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="robots" content="index, follow" />
<link rel="canonical" href="" />
<meta property="og:title" content=" | NexTash" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="NexTash" />
<meta property="og:url" content="" />
{% endblock %}

{% block content %}
<!-- HEADER -->
<section class="section">
    <div class="section-container">
        <div class="section-body">
            <div class="section-label page-label"><span>Service</span></div>
            <h2 class="section-heading page-heading">Branding</h2>
            <div class="section-description page-description">
                <p>
                    Every decision we make needs to answer the million-dollar
                    question: how will this benefit our partner’s goal best? We work
                    to develop solutions
                </p>
                <br>
                <p>
                    We like to be different, in the same way that every mission is
                    different. Every project is an opportunity to create result that
                    will help you
                </p>
                <br>
                <div class="row">
                    <div class="col">
                        <ul class="list-s">
                            <li>Brand Strategy</li>
                            <li>Logo Design</li>
                            <li>Visual Identity</li>
                            <li>Brand Messaging</li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="list-s">
                            <li>Online Branding</li>
                            <li>Print and Packaging Design</li>
                            <li>Brand Experience Design</li>
                            <li>Brand Audit and Management</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- HEADER -->

<!-- DETAILS -->
<section class="section">
    <div class="section-container">
        <div class="row align-items-center g-5">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg card card-hover">
                        <img src="{{ url_for('static', filename='images/services/201.webp')}}" class="image"
                            alt="Brand Strategy" />
                    </div>
                    <div class="image-sm card card-hover">
                        <img src="{{ url_for('static', filename='images/services/49.webp')}}" class="image"
                            alt="Brand Strategy" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">01.</span>
                <h3 class="section-heading">Brand Strategy</h3>
                <ol class="list-s">
                    <li>In-depth market research and competitor analysis.</li>
                    <li>Crafting a unique brand positioning and value proposition.</li>
                    <li>Defining target audience personas and brand messaging.</li>
                    <li>
                        Developing a cohesive brand architecture for product lines and
                        sub-brands.
                    </li>
                    <li>
                        Establishing brand guidelines to ensure consistent brand
                        representation.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row align-items-center g-5">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg card card-hover">
                        <img src="{{ url_for('static', filename='images/services/207.webp')}}" class="image"
                            alt="Logo Design" />
                    </div>
                    <div class="image-sm card card-hover">
                        <img src="{{ url_for('static', filename='images/services/56.webp')}}" class="image"
                            alt="Logo Design" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">02.</span>
                <h3 class="section-heading">Logo Design</h3>
                <ol class="list-s">
                    <li>Collaborative process to understand your brand essence.</li>
                    <li>Creating custom logos that reflect your brand personality.</li>
                    <li>Design variations for versatility across different platforms.</li>
                    <li>Attention to color psychology and visual aesthetics.</li>
                    <li>
                        Timeless and scalable designs for long-term brand recognition.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row align-items-center g-5">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg card card-hover">
                        <img src="{{ url_for('static', filename='images/services/65.webp')}}" class="image"
                            alt="Visual Identity" />
                    </div>
                    <div class="image-sm card card-hover">
                        <img src="{{ url_for('static', filename='images/services/64.webp')}}" class="image"
                            alt="Visual Identity" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">03.</span>
                <h3 class="section-heading">Visual Identity</h3>
                <ol class="list-s">
                    <li>Designing visual elements that align with your brand values.</li>
                    <li>Selecting color palettes that evoke the desired emotions.</li>
                    <li>Crafting typography that complements your brand personality.</li>
                    <li>
                        Developing iconography and graphic elements for brand consistency.
                    </li>
                    <li>
                        Designing templates for marketing collateral and digital assets.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row align-items-center g-5">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg card card-hover">
                        <img src="{{ url_for('static', filename='images/services/186.webp')}}" class="image"
                            alt="Brand Messaging" />
                    </div>
                    <div class="image-sm card card-hover">
                        <img src="{{ url_for('static', filename='images/services/55.webp')}}" class="image"
                            alt="Brand Messaging" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">04.</span>
                <h3 class="section-heading">Brand Messaging</h3>
                <ol class="list-s">
                    <li>
                        Crafting a compelling brand story that connects with your audience.
                    </li>
                    <li>
                        Developing taglines and slogans that leave a lasting impression.
                    </li>
                    <li>Defining key brand messages for different touchpoints.</li>
                    <li>
                        Ensuring consistency in brand voice and tone across all
                        communications.
                    </li>
                    <li>
                        Creating brand narratives that evoke emotions and engage customers.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row align-items-center g-5">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg card card-hover">
                        <img src="{{ url_for('static', filename='images/services/94.webp')}}" class="image"
                            alt="Online Branding" />
                    </div>
                    <div class="image-sm card card-hover">
                        <img src="{{ url_for('static', filename='images/services/14.webp')}}" class="image"
                            alt="Online Branding" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">05.</span>
                <h3 class="section-heading">Online Branding</h3>
                <ol class="list-s">
                    <li>Designing engaging and responsive brand websites.</li>
                    <li>Optimizing websites for search engine visibility (SEO).</li>
                    <li>
                        Developing brand-focused content for website and social media.
                    </li>
                    <li>Implementing brand storytelling through multimedia content.</li>
                    <li>Integrating social media strategies to build brand community.</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row align-items-center g-5">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg card card-hover">
                        <img src="{{ url_for('static', filename='images/services/28.webp')}}" class="image"
                            alt="Print and Packaging Design" />
                    </div>
                    <div class="image-sm card card-hover">
                        <img src="{{ url_for('static', filename='images/services/26.webp')}}" class="image"
                            alt="Print and Packaging Design" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">06.</span>
                <h3 class="section-heading">Print and Packaging Design</h3>
                <ol class="list-s">
                    <li>
                        Designing eye-catching print materials that reinforce brand
                        identity.
                    </li>
                    <li>Creating packaging that stands out on the shelves.</li>
                    <li>
                        Considering sustainability and eco-friendly packaging options.
                    </li>
                    <li>Ensuring packaging aligns with brand messaging and values.</li>
                    <li>Collaborating with print vendors for high-quality production.</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row g-5 align-items-center">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg card card-hover">
                        <img src="{{ url_for('static', filename='images/services/38.webp')}}" class="image"
                            alt="Brand Experience Design" />
                    </div>
                    <div class="image-sm card card-hover">
                        <img src="{{ url_for('static', filename='images/services/43.webp')}}" class="image"
                            alt="Brand Experience Design" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">07.</span>
                <h3 class="section-heading">Brand Experience Design</h3>
                <ol class="list-s">
                    <li>Crafting memorable brand experiences for customers.</li>
                    <li>Designing branded environments and physical spaces.</li>
                    <li>Creating interactive and immersive brand activations.</li>
                    <li>Integrating sensory elements to evoke emotional connections.</li>
                    <li>Ensuring brand consistency across all touchpoints.</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row align-items-center g-5">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg card card-hover">
                        <img src="{{ url_for('static', filename='images/services/31.webp')}}" class="image"
                            alt="Brand Audit and Management" />
                    </div>
                    <div class="image-sm card card-hover">
                        <img src="{{ url_for('static', filename='images/services/32.webp')}}" class="image"
                            alt="Brand Audit and Management" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">08.</span>
                <h3 class="section-heading">Brand Audit and Management</h3>
                <ol class="list-s">
                    <li>
                        Conducting comprehensive brand audits to evaluate brand health.
                    </li>
                    <li>
                        Identifying strengths, weaknesses, and opportunities for
                        improvement.
                    </li>
                    <li>Developing brand management strategies for long-term success.</li>
                    <li>Monitoring brand sentiment and perception.</li>
                    <li>Implementing brand crisis management plans.</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- DETAILS -->

<!-- WHY CHOOSE US -->
{% include "components/why-choose-us.html" %}
<!-- WHY CHOOSE US -->

<!--PROCESS-->
{% include "components/process.html" %}
<!--PROCESS-->

<!--PROJECTS-->
<section class="section">
    <div class="section-container">
        <div class="section-header">
            <b class="section-label">OUR WORK</b>
            <h3 class="section-heading">Recent Projects Showcase</h3>
            <p class="section-description">
                Creating impact with every project, experience the innovation.
            </p>
        </div>
        <div class="section-body">{% include "components/projects.html" %}</div>
        <div class="section-footer">
            <button class="btn-outline">Load more</button>
        </div>
    </div>
</section>
<!--PROJECTS-->

<!-- FEEDBACKS -->
{% include "components/feedbacks.html" %}
<!-- FEEDBACKS -->

<!-- CLIENTS -->
{% include "components/clients.html" %}
<!-- CLIENTS -->
{% endblock %}