{% extends "layouts/primary.html" %}

{% block title %} Managed hosting | {%endblock %}

{% block seo %}
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="robots" content="index, follow" />
<link rel="canonical" href="" />
<meta property="og:title" content=" | NexTash" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="NexTash" />
<meta property="og:url" content="" />
{% endblock %}


{% block content %}
<!-- HEADER -->
<section class="section">
    <div class="section-container">
        <div class="section-body">
            <div class="section-label page-label"><span>Service</span></div>
            <h2 class="section-heading page-heading">Managed hosting</h2>
            <div class="section-description page-description">
                <p>
                    Every decision we make needs to answer the million-dollar question:
                    how will this benefit our partner’s goal best? We work to develop
                    solutions
                </p>
                <br />
                <p>
                    We like to be different, in the same way that every mission is
                    different. Every project is an opportunity to create result that will
                    help you
                </p>
                <br />
                <div class="row">
                    <div class="col">
                        <ul class="list-s">
                            <li>Shared Hosting</li>
                            <li>Virtual Private Server (VPS) Hosting</li>
                            <li>Dedicated Server Hosting</li>
                            <li>Cloud Hosting</li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="list-s">
                            <li>Managed WordPress Hosting</li>
                            <li>E-commerce Hosting</li>
                            <li>Email Hosting</li>
                            <li>Domain Name Registration</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- HEADER -->

<!-- DETAILS -->
<section class="section">
    <div class="section-container">
        <div class="row align-items-center g-5">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg" data-aos="zoom-in-up">
                        <img src="{{ url_for('static', filename='images/services/106.webp')}}" class="image"
                            alt="Shared Hosting" />
                    </div>
                    <div class="image-sm" data-aos="zoom-in-up">
                        <img src="{{ url_for('static', filename='images/services/112.webp')}}" class="image"
                            alt="Shared Hosting" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label" data-aos="zoom-in-up">01.</span>
                <h3 class="section-heading">Shared Hosting</h3>
                <ol class="list-s">
                    <li>
                        Shared hosting is a cost-effective option where multiple websites
                        are hosted on the same server.
                    </li>
                    <li>
                        Ideal for small to medium-sized websites with moderate traffic and
                        resource requirements.
                    </li>
                    <li>
                        Hosting provider manages server maintenance, security, and technical
                        support.
                    </li>
                    <li>
                        Limited control and resources allocated among multiple websites on
                        the same server.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row align-items-center g-5">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg" data-aos="zoom-in-up">
                        <img src="{{ url_for('static', filename='images/services/105.webp')}}" class="image"
                            alt="Virtual Private Server (VPS) Hosting" />
                    </div>
                    <div class="image-sm" data-aos="zoom-in-up">
                        <img src="{{ url_for('static', filename='images/services/109.webp')}}" class="image"
                            alt="Virtual Private Server (VPS) Hosting" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label" data-aos="zoom-in-up">02.</span>
                <h3 class="section-heading">Virtual Private Server (VPS) Hosting</h3>
                <ol class="list-s">
                    <li>
                        VPS hosting offers a virtualized environment with dedicated
                        resources within a shared server.
                    </li>
                    <li>
                        Provides more control, flexibility, and scalability compared to
                        shared hosting.
                    </li>
                    <li>
                        Each VPS operates independently, ensuring better performance and
                        security.
                    </li>
                    <li>
                        Suitable for websites with higher traffic, resource-intensive
                        applications, or specific customization needs.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row align-items-center g-5">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg" data-aos="zoom-in-up">
                        <img src="{{ url_for('static', filename='images/services/161.webp')}}" class="image"
                            alt="Dedicated Server Hosting" />
                    </div>
                    <div class="image-sm" data-aos="zoom-in-up">
                        <img src="{{ url_for('static', filename='images/services/164.webp')}}" class="image"
                            alt="Dedicated Server Hosting" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label" data-aos="zoom-in-up">03.</span>
                <h3 class="section-heading">Dedicated Server Hosting</h3>
                <ol class="list-s">
                    <li>
                        Dedicated server hosting provides an entire physical server
                        dedicated to a single website or application.
                    </li>
                    <li>
                        Offers maximum control, customization, and performance for
                        high-traffic websites or resource-intensive applications.
                    </li>
                    <li>
                        Flexibility to choose hardware specifications, operating system, and
                        server management options.
                    </li>
                    <li>
                        Requires technical expertise or managed services for server
                        administration and maintenance.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row align-items-center g-5">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg" data-aos="zoom-in-up">
                        <img src="{{ url_for('static', filename='images/services/163.webp')}}" class="image"
                            alt="Cloud Hosting" />
                    </div>
                    <div class="image-sm" data-aos="zoom-in-up">
                        <img src="{{ url_for('static', filename='images/services/165.webp')}}" class="image"
                            alt="Cloud Hosting" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label" data-aos="zoom-in-up">04.</span>
                <h3 class="section-heading">Cloud Hosting</h3>
                <ol class="list-s">
                    <li>
                        Cloud hosting utilizes a network of interconnected servers to
                        distribute website data and resources.
                    </li>
                    <li>
                        Offers high scalability, flexibility, and redundancy to handle
                        traffic spikes and ensure high availability.
                    </li>
                    <li>
                        Pay-as-you-go pricing model allows scaling resources based on
                        demand.
                    </li>
                    <li>
                        Ideal for websites with varying traffic patterns or those requiring
                        high availability and scalability.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row align-items-center g-5">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg" data-aos="zoom-in-up">
                        <img src="{{ url_for('static', filename='images/services/173.webp')}}" class="image"
                            alt="Managed WordPress Hosting" />
                    </div>
                    <div class="image-sm" data-aos="zoom-in-up">
                        <img src="{{ url_for('static', filename='images/services/170.webp')}}" class="image"
                            alt="Managed WordPress Hosting" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label" data-aos="zoom-in-up">05.</span>
                <h3 class="section-heading">Managed WordPress Hosting</h3>
                <ol class="list-s">
                    <li>
                        Managed WordPress hosting is specifically designed for
                        WordPress-powered websites.
                    </li>
                    <li>
                        Offers optimized performance, security, and automatic WordPress
                        updates.
                    </li>
                    <li>
                        Dedicated support for WordPress-related issues and expert assistance
                        with plugin and theme management.
                    </li>
                    <li>
                        Pre-installed caching, CDN integration, and other optimizations for
                        enhanced WordPress performance.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row align-items-center g-5">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg" data-aos="zoom-in-up">
                        <img src="{{ url_for('static', filename='images/services/196.webp')}}" class="image"
                            alt="E-commerce Hosting" />
                    </div>
                    <div class="image-sm" data-aos="zoom-in-up">
                        <img src="{{ url_for('static', filename='images/services/199.webp')}}" class="image"
                            alt="E-commerce Hosting" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label" data-aos="zoom-in-up">06.</span>
                <h3 class="section-heading">E-commerce Hosting</h3>
                <ol class="list-s">
                    <li>
                        E-commerce hosting focuses on hosting online stores and providing
                        features specific to e-commerce websites.
                    </li>
                    <li>
                        Includes shopping cart functionality, secure payment gateways, SSL
                        certificates, and inventory management tools.
                    </li>
                    <li>
                        Scalability to handle high traffic and resources required for online
                        transactions.
                    </li>
                    <li>
                        Enhanced security measures to protect customer data and sensitive
                        financial information.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row align-items-center g-5">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg" data-aos="zoom-in-up">
                        <img src="{{ url_for('static', filename='images/services/184.webp')}}" class="image"
                            alt="Email Hosting" />
                    </div>
                    <div class="image-sm" data-aos="zoom-in-up">
                        <img src="{{ url_for('static', filename='images/services/186.webp')}}" class="image"
                            alt="Email Hosting" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label" data-aos="zoom-in-up">07.</span>
                <h3 class="section-heading">Email Hosting</h3>
                <ol class="list-s">
                    <li>
                        Email hosting provides professional email services using your domain
                        name.
                    </li>
                    <li>
                        Offers features such as email account creation, mailbox storage,
                        spam filtering, and email forwarding.
                    </li>
                    <li>
                        Web-based email clients or support for popular email clients like
                        Microsoft Outlook.
                    </li>
                    <li>
                        Secure protocols (POP3, IMAP, SMTP) for email access and
                        transmission.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row align-items-center g-5">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg" data-aos="zoom-in-up">
                        <img src="{{ url_for('static', filename='images/services/176.webp')}}" class="image"
                            alt="Domain Name Registration" />
                    </div>
                    <div class="image-sm" data-aos="zoom-in-up">
                        <img src="{{ url_for('static', filename='images/services/181.webp')}}" class="image"
                            alt="Domain Name Registration" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label" data-aos="zoom-in-up">08.</span>
                <h3 class="section-heading">Domain Name Registration</h3>
                <ol class="list-s">
                    <li>
                        Domain name registration service allows you to register and manage
                        your website's domain name.
                    </li>
                    <li>
                        Helps in finding and securing a unique domain name for your website.
                    </li>
                    <li>
                        Assistance with domain transfers, DNS management, and domain privacy
                        protection.
                    </li>
                    <li>
                        Integration with web hosting services for easy setup and management.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- DETAILS -->

<!-- WHY CHOOSE US -->
{% include "components/why-choose-us.html" %}
<!-- WHY CHOOSE US -->

<!--PROCESS-->
{% include "components/process.html" %}
<!--PROCESS-->

<!--PROJECTS-->
<section class="section">
    <div class="section-container">
        <div class="section-header">
            <b class="section-label">OUR WORK</b>
            <h3 class="section-heading">Recent Projects Showcase</h3>
            <p class="section-description">
                Creating impact with every project, experience the innovation.
            </p>
        </div>
        <div class="section-body">{% include "components/projects.html" %}</div>
        <div class="section-footer">
            <button class="btn-outline">Load more</button>
        </div>
    </div>
</section>
<!--PROJECTS-->

<!-- FEEDBACKS -->
{% include "components/feedbacks.html" %}
<!-- FEEDBACKS -->

<!-- CLIENTS -->
{% include "components/clients.html" %}
<!-- CLIENTS -->
{% endblock %}