{% extends "layouts/primary.html" %}

{% block title %} Networking | {% endblock%}

{% block seo %}
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="robots" content="index, follow" />
<link rel="canonical" href="" />
<meta property="og:title" content=" | NexTash" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="NexTash" />
<meta property="og:url" content="" />
{% endblock %}

{% block content %}
<!-- HEADER -->
<section class="section">
    <div class="section-container">
        <div class="section-body">
            <div class="section-label page-label"><span>Service</span></div>
            <h2 class="section-heading page-heading">Networking</h2>
            <div class="section-description page-description">
                <p>
                    Every decision we make needs to answer the million-dollar question:
                    how will this benefit our partner’s goal best? We work to develop
                    solutions
                </p>
                <br />
                <p>
                    We like to be different, in the same way that every mission is
                    different. Every project is an opportunity to create result that will
                    help you
                </p>
                <br />
                <div class="row">
                    <div class="col">
                        <ul class="section-slist">
                            <li>Network Design and Implementation</li>
                            <li>Network Security Solutions</li>
                            <li>Data Center Networking</li>
                            <li>Cloud Networking Integration</li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="section-slist">
                            <li>Wireless Networking Solutions</li>
                            <li>Network Monitoring and Management</li>
                            <li>Software-Defined Networking (SDN)</li>
                            <li>Network Consulting and Support</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- HEADER -->

<!-- DETAILS -->
<section class="section">
    <div class="section-container">
        <div class="row align-items-center g-5">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg">
                        <img src="{{ url_for('static', filename='images/services/1.webp')}}" class="image"
                            alt="Network Design and Implementation" />
                    </div>
                    <div class="image-sm">
                        <img src="{{ url_for('static', filename='images/services/4.webp')}}" class="image"
                            alt="Network Design and Implementation" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">01.</span>
                <h3 class="section-heading">Network Design and Implementation</h3>
                <ol class="section-description">
                    <li>
                        Collaborative assessment of your organization's networking
                        requirements.
                    </li>
                    <li>Tailored network architecture design for optimal performance.</li>
                    <li>Scalable solutions that adapt to your business growth.</li>
                    <li>Implementation of wired and wireless network infrastructure.</li>
                    <li>Integration of cutting-edge networking technologies.</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row align-items-center g-5">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg">
                        <img src="{{ url_for('static', filename='images/services/9.webp')}}" class="image"
                            alt="Network Security Solutions" />
                    </div>
                    <div class="image-sm">
                        <img src="{{ url_for('static', filename='images/services/11.webp')}}" class="image"
                            alt="Network Security Solutions" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">02.</span>
                <h3 class="section-heading">Network Security Solutions</h3>
                <ol class="section-description">
                    <li>
                        Implementation of firewalls and intrusion prevention systems (IPS).
                    </li>
                    <li>
                        Secure access controls with multi-factor authentication (MFA).
                    </li>
                    <li>
                        Network segmentation to isolate critical assets and protect
                        sensitive data.
                    </li>
                    <li>
                        Encrypted communication to safeguard data during transmission.
                    </li>
                    <li>Regular security audits and vulnerability assessments.</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row align-items-center g-5">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg">
                        <img src="{{ url_for('static', filename='images/services/19.webp')}}" class="image"
                            alt="Data Center Networking" />
                    </div>
                    <div class="image-sm">
                        <img src="{{ url_for('static', filename='images/services/25.webp')}}" class="image"
                            alt="Data Center Networking" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">03.</span>
                <h3 class="section-heading">Data Center Networking</h3>
                <ol class="section-description">
                    <li>
                        Design and deployment of high-performance data center networks.
                    </li>
                    <li>
                        Virtualization and software-defined networking (SDN) integration.
                    </li>
                    <li>
                        Ensuring redundancy and failover mechanisms for high availability.
                    </li>
                    <li>
                        Efficient traffic load balancing for optimized resource utilization.
                    </li>
                    <li>Management and monitoring tools for comprehensive visibility.</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row align-items-center g-5">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg">
                        <img src="{{ url_for('static', filename='images/services/22.webp')}}" class="image"
                            alt="Cloud Networking Integration" />
                    </div>
                    <div class="image-sm">
                        <img src="{{ url_for('static', filename='images/services/16.webp')}}" class="image"
                            alt="Cloud Networking Integration" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">04.</span>
                <h3 class="section-heading">Cloud Networking Integration</h3>
                <ol class="section-description">
                    <li>Seamless integration with public and private cloud platforms.</li>
                    <li>
                        Configuring secure connections to cloud services (e.g., AWS, Azure).
                    </li>
                    <li>Implementing hybrid cloud networking solutions.</li>
                    <li>
                        Ensuring consistent network performance across on-premises and cloud
                        environments.
                    </li>
                    <li>Cloud-based network management for simplified administration.</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row align-items-center g-5">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg">
                        <img src="{{ url_for('static', filename='images/services/18.webp')}}" class="image"
                            alt="Wireless Networking Solutions" />
                    </div>
                    <div class="image-sm">
                        <img src="{{ url_for('static', filename='images/services/12.webp')}}" class="image"
                            alt="Wireless Networking Solutions" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">05.</span>
                <h3 class="section-heading">Wireless Networking Solutions</h3>
                <ol class="section-description">
                    <li>
                        Designing high-performance Wi-Fi networks for seamless connectivity.
                    </li>
                    <li>Site surveys and signal optimization for maximum coverage.</li>
                    <li>
                        Implementation of guest Wi-Fi networks with secure access controls.
                    </li>
                    <li>Managing wireless interference and optimizing bandwidth.</li>
                    <li>
                        Continuous monitoring and troubleshooting of wireless networks.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row align-items-center g-5">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg">
                        <img src="{{ url_for('static', filename='images/services/183.webp')}}" class="image"
                            alt="Network Monitoring and Management" />
                    </div>
                    <div class="image-sm">
                        <img src="{{ url_for('static', filename='images/services/55.webp')}}" class="image"
                            alt="Network Monitoring and Management" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">06.</span>
                <h3 class="section-heading">Network Monitoring and Management</h3>
                <ol class="section-description">
                    <li>
                        Implementing network monitoring tools for real-time performance
                        insights.
                    </li>
                    <li>Proactive detection and resolution of network issues.</li>
                    <li>
                        Performance tuning and optimization to ensure efficient network
                        operation.
                    </li>
                    <li>
                        Centralized network management for streamlined administration.
                    </li>
                    <li>Customized reporting for network performance analysis.</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row align-items-center g-5">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg">
                        <img src="{{ url_for('static', filename='images/services/46.webp')}}" class="image"
                            alt="Software-Defined Networking (SDN)" />
                    </div>
                    <div class="image-sm">
                        <img src="{{ url_for('static', filename='images/services/47.webp')}}" class="image"
                            alt="Software-Defined Networking (SDN)" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">07.</span>
                <h3 class="section-heading">Software-Defined Networking (SDN)</h3>
                <ol class="section-description">
                    <li>
                        Implementing SDN solutions for agile and dynamic network management.
                    </li>
                    <li>Centralized control and automation of network configurations.</li>
                    <li>Enhancing network scalability and flexibility.</li>
                    <li>Dynamic allocation of network resources based on demand.</li>
                    <li>
                        Simplifying network provisioning and reducing operational
                        complexities.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row align-items-center g-5">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg">
                        <img src="{{ url_for('static', filename='images/services/187.webp')}}" class="image"
                            alt="Network Consulting and Support" />
                    </div>
                    <div class="image-sm">
                        <img src="{{ url_for('static', filename='images/services/93.webp')}}" class="image"
                            alt="Network Consulting and Support" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">08.</span>
                <h3 class="section-heading">Network Consulting and Support</h3>
                <ol class="section-description">
                    <li>
                        Expert consulting services for networking strategy and planning.
                    </li>
                    <li>
                        Providing guidance on network technology selection and upgrades.
                    </li>
                    <li>
                        Round-the-clock technical support for network troubleshooting.
                    </li>
                    <li>
                        Tailored service level agreements (SLAs) for ongoing maintenance.
                    </li>
                    <li>Regular network health checks and performance optimization.</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- DETAILS -->

<!-- WHY CHOOSE US -->
{% include "components/why-choose-us.html" %}
<!-- WHY CHOOSE US -->

<!--PROCESS-->
{% include "components/process.html" %}
<!--PROCESS-->

<!--PROJECTS-->
<section class="section">
    <div class="section-container">
        <div class="section-header">
            <b class="section-label">OUR WORK</b>
            <h3 class="section-heading">Recent Projects Showcase</h3>
            <p class="section-description">
                Creating impact with every project, experience the innovation.
            </p>
        </div>
        <div class="section-body">{% include "components/projects.html" %}</div>
        <div class="section-footer">
            <button class="btn-outline">Load more</button>
        </div>
    </div>
</section>
<!--PROJECTS-->

<!-- FEEDBACKS -->
{% include "components/feedbacks.html" %}
<!-- FEEDBACKS -->

<!-- CLIENTS -->
{% include "components/clients.html" %}
<!-- CLIENTS -->
{% endblock %}