{% extends "layouts/primary.html" %}

{% block title %} Technical Support | {%endblock %}

{% block seo %}
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="robots" content="index, follow" />
<link rel="canonical" href="" />
<meta property="og:title" content=" | NexTash" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="NexTash" />
<meta property="og:url" content="" />

{% endblock %} {% block content %}

<!-- HEADER -->
<section class="section">
    <div class="section-container">
        <div class="section-body">
            <div class="section-label page-label"><span>Service</span></div>
            <h2 class="section-heading page-heading">Technical Support</h2>
            <div class="section-description page-description">
                <p>
                    Every decision we make needs to answer the million-dollar question:
                    how will this benefit our partner’s goal best? We work to develop
                    solutions
                </p>
                <br />
                <p>
                    We like to be different, in the same way that every mission is
                    different. Every project is an opportunity to create result that will
                    help you
                </p>
                <br />
                <div class="row row-cols-2 align-items-center">
                    <div class="col">
                        <ul class="list-s">
                            <li>Help Desk Support</li>
                            <li>Remote Technical Support:</li>
                            <li>Hardware Support</li>
                            <li>Software Support</li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="list-s">
                            <li>Network Support</li>
                            <li>Email Support</li>
                            <li>Data Backup and Recovery Support</li>
                            <li>24/7 Technical Support</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- HEADER -->

<!-- DETAILS -->
<section class="section">
    <div class="section-container">
        <div class="row row-cols-2 align-items-center justify-content-between">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg card card-hover">
                        <img src="{{ url_for('static', filename='images/services/187.webp')}}" class="image"
                            alt="Help Desk Support" />
                    </div>
                    <div class="image-sm card card-hover">
                        <img src="{{ url_for('static', filename='images/services/92.webp')}}" class="image"
                            alt="Help Desk Support" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">01.</span>
                <h3 class="section-heading">Help Desk Support</h3>
                <ol class="section-description">
                    <li>
                        Friendly and knowledgeable support agents available via phone,
                        email, or chat.
                    </li>
                    <li>
                        Prompt response to troubleshoot and resolve user-reported issues.
                    </li>
                    <li>
                        Guided step-by-step assistance to help users resolve technical
                        problems.
                    </li>
                    <li>
                        Ticketing system to track and prioritize support requests
                        efficiently.
                    </li>
                    <li>Timely escalation and follow-up for complex issues.</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row row-cols-2 align-items-center justify-content-between">
            <div class="col order-sm-first">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg card card-hover">
                        <img src="{{ url_for('static', filename='images/services/101.webp')}}" class="image"
                            alt="Remote Technical Support" />
                    </div>
                    <div class="image-sm card card-hover">
                        <img src="{{ url_for('static', filename='images/services/111.webp')}}" class="image"
                            alt="Remote Technical Support" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">02.</span>
                <h3 class="section-heading">Remote Technical Support</h3>
                <ol class="section-description">
                    <li>
                        Remote access capabilities to diagnose and resolve issues quickly.
                    </li>
                    <li>
                        Secure and encrypted connections for data privacy and
                        confidentiality.
                    </li>
                    <li>
                        Troubleshooting software installations, configuration, and errors
                        remotely.
                    </li>
                    <li>
                        Efficiently resolving problems without the need for on-site visits.
                    </li>
                    <li>Supporting users regardless of their geographic location.</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="section-container">
        <div class="row row-cols-2 align-items-center justify-content-between">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg card card-hover">
                        <img src="{{ url_for('static', filename='images/services/142.webp')}}" class="image"
                            alt="Hardware Support" />
                    </div>
                    <div class="image-sm card card-hover">
                        <img src="{{ url_for('static', filename='images/services/144.webp')}}" class="image"
                            alt="Hardware Support" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">03.</span>
                <h3 class="section-heading">Hardware Support</h3>
                <ol class="section-description">
                    <li>Troubleshooting and diagnosing hardware-related issues.</li>
                    <li>Repairing or replacing faulty hardware components.</li>
                    <li>Providing hardware compatibility guidance for upgrades.</li>
                    <li>
                        Assisting with hardware setup, installation, and configuration.
                    </li>
                    <li>
                        Performing preventive maintenance to maximize hardware lifespan.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="section-container">
        <div class="row row-cols-2 align-items-center justify-content-between">
            <div class="col order-sm-first">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg card card-hover">
                        <img src="{{ url_for('static', filename='images/services/162.webp')}}" class="image"
                            alt="Software Support" />
                    </div>
                    <div class="image-sm card card-hover">
                        <img src="{{ url_for('static', filename='images/services/174.webp')}}" class="image"
                            alt="Software Support" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">04.</span>
                <h3 class="section-heading">Software Support</h3>
                <ol class="section-description">
                    <li>Assisting with software installations and updates.</li>
                    <li>
                        Troubleshooting software errors, crashes, and compatibility issues.
                    </li>
                    <li>Guiding users through software configuration and usage.</li>
                    <li>Providing software patches and updates to fix known issues.</li>
                    <li>Offering software recommendations based on specific needs.</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row row-cols-2 align-items-center justify-content-between">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg card card-hover">
                        <img src="{{ url_for('static', filename='images/services/112.webp')}}" class="image"
                            alt="Network Support" />
                    </div>
                    <div class="image-sm card card-hover">
                        <img src="{{ url_for('static', filename='images/services/114.webp')}}" class="image"
                            alt="Network Support" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">05.</span>
                <h3 class="section-heading">Network Support</h3>
                <ol class="section-description">
                    <li>Diagnosing and resolving network connectivity issues.</li>
                    <li>
                        Troubleshooting network equipment, such as routers and switches.
                    </li>
                    <li>Optimizing network performance and bandwidth management.</li>
                    <li>
                        Configuring network security measures, such as firewalls and VPNs.
                    </li>
                    <li>
                        Providing remote support for both wired and wireless networks.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row row-cols-2 align-items-center justify-content-between">
            <div class="col order-sm-first">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg card card-hover">
                        <img src="{{ url_for('static', filename='images/services/186.webp')}}" class="image"
                            alt="Email Support" />
                    </div>
                    <div class="image-sm card card-hover">
                        <img src="{{ url_for('static', filename='images/services/184.webp')}}" class="image"
                            alt="Email Support" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">06.</span>
                <h3 class="section-heading">Email Support</h3>
                <ol class="section-description">
                    <li>Setting up and configuring email clients and accounts.</li>
                    <li>Troubleshooting email delivery and synchronization issues.</li>
                    <li>Assisting with spam and malware filtering for email security.</li>
                    <li>Guiding users on email best practices and etiquette.</li>
                    <li>
                        Resolving issues related to email attachments and file sharing.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row row-cols-2 align-items-center justify-content-between">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg card card-hover">
                        <img src="{{ url_for('static', filename='images/services/187.webp')}}" class="image"
                            alt="Data Backup and Recovery Support" />
                    </div>
                    <div class="image-sm card card-hover">
                        <img src="{{ url_for('static', filename='images/services/177.webp')}}" class="image"
                            alt="Data Backup and Recovery Support" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">07.</span>
                <h3 class="section-heading">Data Backup and Recovery Support</h3>
                <ol class="section-description">
                    <li>Assisting with data backup setup and scheduling.</li>
                    <li>Recovering data from backups in case of data loss.</li>
                    <li>Ensuring data integrity and verification of backups.</li>
                    <li>Guiding users on data recovery procedures and options.</li>
                    <li>Providing preventive measures to avoid data loss.</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row row-cols-2 align-items-center justify-content-between">
            <div class="col order-sm-first">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg card card-hover">
                        <img src="{{ url_for('static', filename='images/services/105.webp')}}" class="image"
                            alt="24/7 Technical Support" />
                    </div>
                    <div class="image-sm card card-hover">
                        <img src="{{ url_for('static', filename='images/services/91.webp')}}" class="image"
                            alt="24/7 Technical Support" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">08.</span>
                <h3 class="section-heading">24/7 Technical Support</h3>
                <ol class="section-description">
                    <li>
                        Offering round-the-clock technical assistance for critical
                        issues.
                    </li>
                    <li>
                        Ensuring continuous support during weekends and holidays.
                    </li>
                    <li>Providing peace of mind with constant availability.</li>
                    <li>Rapid response times for urgent matters.</li>
                    <li>Resolving issues promptly, regardless of the time.</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- DETAILS -->

<!-- WHY CHOOSE US -->
{% include "components/why-choose-us.html" %}
<!-- WHY CHOOSE US -->

<!--PROCESS-->
{% include "components/process.html" %}
<!--PROCESS-->

<!--PROJECTS-->
<section class="section">
    <div class="section-container">
        <div class="section-header">
            <b class="section-label">OUR WORK</b>
            <h3 class="section-heading">Recent Projects Showcase</h3>
            <p class="section-description">
                Creating impact with every project, experience the innovation.
            </p>
        </div>
        <div class="section-body">
            {% include "components/projects.html" %}
        </div>
        <div class="section-footer">
            <button class="btn-outline">Load more</button>
        </div>
    </div>
</section>
<!--PROJECTS-->

<!-- FEEDBACKS -->
{% include "components/feedbacks.html" %}
<!-- FEEDBACKS -->

<!-- CLIENTS -->
{% include "components/clients.html" %}
<!-- CLIENTS -->
{% endblock %}