{% extends "layouts/primary.html" %}

{% block title %} Branding | {% endblock %}

{% block seo %}
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="robots" content="index, follow" />
<link rel="canonical" href="" />
<meta property="og:title" content=" | NexTash" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="NexTash" />
<meta property="og:url" content="" />
{% endblock %}

{% block style %}{% endblock %}

{% block content %}
<div class="bg-1 bg-cover bg-fixed bg-no-repeat">
    <!-- HEADER -->
    <section class="shadow py-2 py-sm-2 py-md-5 py-lg-5">
        <div class="container container-sm container-md container-lg container-xl container-xxl py-5">
            <div class="row">
                <div class="col-sm-12 text-white py-2">
                    <b class="border border-primary border-2 rounded-pill px-3 py-1 text-primary font-16 d-inline-block mb-2"
                        data-aos-duration="1000" data-aos="fade-up">Service</b>
                    <h3 class="display-1 fw-bold m-0 mb-2 col-sm-5" data-aos-duration="1000" data-aos="fade-up">Branding
                    </h3>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-8 my-3">
                    <div class="row text-muted font-18">
                        <div class="col-sm-6 mb-3">
                            <p class="m-0" data-aos-duration="1000" data-aos="fade-up">
                                Every decision we make needs to answer the million-dollar question: how will
                                this benefit our partner’s goal best? We work to develop solutions
                            </p>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <p class="m-0" data-aos-duration="1000" data-aos="fade-up">
                                We like to be different, in the same way that every mission is different. Every
                                project
                                is
                                an
                                opportunity to create result that will help you
                            </p>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <ul data-aos-duration="1000" data-aos="fade-up">
                                <li>Brand Strategy</li>
                                <li>Logo Design</li>
                                <li>Visual Identity</li>
                                <li>Brand Messaging</li>
                            </ul>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <ul data-aos-duration="1000" data-aos="fade-up">
                                <li>Online Branding</li>
                                <li>Print and Packaging Design</li>
                                <li>Brand Experience Design</li>
                                <li>Brand Audit and Management</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- HEADER -->

    <!-- DETAILS -->
    <section class="shadow py-2 py-sm-2 py-md-5 py-lg-5">
        <div class="container container-sm container-md container-lg container-xl container-xxl py-5">
            <div class="row py-5 my-5 align-items-center">
                <div class="col-sm-6 py-2 order-0">
                    <div class="position-relative p-2 border border-primary border-5">
                        <div data-aos-duration="1000" data-aos="zoom-in-up"
                            class="bg-dotted position-absolute start-0 top-0 size-100 z-index-1 ms--30 mt--30">
                        </div>
                        <div data-aos-duration="1000" data-aos="zoom-in-up"
                            class="bg-dotted-primary position-absolute bottom-0 end-0 size-100 z-index-1 me--30 mb--30">
                        </div>
                        <img src="{{ url_for('static', filename='images/services/app-development/1-min.webp')}}"
                            class="shadow z-index-2 position-relative w-100 h-100 object-cover shadow" alt=""
                            data-aos-duration="1000" data-aos="zoom-in-up">
                        <img src="{{ url_for('static', filename='images/services/app-development/2-min.webp')}}"
                            class="size-200 object-cover shadow position-absolute bottom-0 start-0 z-index-3 border-primary border border-5 p-2 ms--30 mb--30"
                            alt="" data-aos-duration="1000" data-aos="zoom-in-up">
                    </div>
                </div>
                <div class="col-sm-6 py-2 order-2">
                    <span class="display-1 text- text-stroke rounded-circle" data-aos-duration="1000"
                        data-aos="zoom-in-up">01.</span>
                    <h3 class="text-white display-3 mb-4 fw-bold" data-aos-duration="1000" data-aos="zoom-in-up"> Brand
                        Strategy </h3>
                    <ol class="font-18 text-muted mb-3 " data-aos-duration="1000" data-aos="zoom-in-up">
                        <li>In-depth market research and competitor analysis.</li>
                        <li>Crafting a unique brand positioning and value proposition.</li>
                        <li>Defining target audience personas and brand messaging.</li>
                        <li>Developing a cohesive brand architecture for product lines and sub-brands.</li>
                        <li>Establishing brand guidelines to ensure consistent brand representation.</li>
                    </ol>
                </div>
            </div>
            <div class="row py-5 my-5 align-items-center">
                <div class="col-sm-6 py-2 order-1">
                    <div class="position-relative p-2 border border-primary border-5">
                        <div data-aos-duration="1000" data-aos="zoom-in-up"
                            class="bg-dotted position-absolute end-0 top-0 size-100 z-index-1 me--30 mt--30">
                        </div>
                        <div data-aos-duration="1000" data-aos="zoom-in-up"
                            class="bg-dotted-primary position-absolute bottom-0 start-0 size-100 z-index-1 ms--30 mb--30">
                        </div>
                        <img src="{{ url_for('static', filename='images/services/app-development/3-min.webp')}}"
                            class="shadow z-index-2 position-relative w-100 h-100 object-cover shadow" alt=""
                            data-aos-duration="1000" data-aos="zoom-in-up">
                        <img src="{{ url_for('static', filename='images/services/app-development/4-min.webp')}}"
                            class="size-200 object-cover shadow position-absolute bottom-0 end-0 z-index-3 border-primary border border-5 p-2 me--30 mb--30"
                            alt="" data-aos-duration="1000" data-aos="zoom-in-up">
                    </div>
                </div>
                <div class="col-sm-6 py-2 order-0">
                    <span class="display-1 text- text-stroke rounded-circle" data-aos-duration="1000"
                        data-aos="zoom-in-up">02.</span>
                    <h3 class="text-white display-3 mb-4 fw-bold" data-aos-duration="1000" data-aos="zoom-in-up"> Logo
                        Design</h3>
                    <ol class="font-18 text-muted mb-3 " data-aos-duration="1000" data-aos="zoom-in-up">
                        <li>
                            Collaborative process to understand your brand essence.
                        </li>
                        <li>
                            Creating custom logos that reflect your brand personality.
                        </li>
                        <li>
                            Design variations for versatility across different platforms.
                        </li>
                        <li>
                            Attention to color psychology and visual aesthetics.
                        </li>
                        <li>
                            Timeless and scalable designs for long-term brand recognition.
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row py-5 my-5 align-items-center">
                <div class="col-sm-6 py-2 order-0">
                    <div class="position-relative p-2 border border-primary border-5">
                        <div data-aos-duration="1000" data-aos="zoom-in-up"
                            class="bg-dotted position-absolute start-0 top-0 size-100 z-index-1 ms--30 mt--30">
                        </div>
                        <div data-aos-duration="1000" data-aos="zoom-in-up"
                            class="bg-dotted-primary position-absolute bottom-0 end-0 size-100 z-index-1 me--30 mb--30">
                        </div>
                        <img src="{{ url_for('static', filename='images/services/app-development/5-min.webp')}}"
                            class="shadow z-index-2 position-relative w-100 h-100 object-cover shadow" alt=""
                            data-aos-duration="1000" data-aos="zoom-in-up">
                        <img src="{{ url_for('static', filename='images/services/app-development/6-min.webp')}}"
                            class="size-200 object-cover shadow position-absolute bottom-0 start-0 z-index-3 border-primary border border-5 p-2 ms--30 mb--30"
                            alt="" data-aos-duration="1000" data-aos="zoom-in-up">
                    </div>
                </div>
                <div class="col-sm-6 py-2 order-2">
                    <span class="display-1 text- text-stroke rounded-circle" data-aos-duration="1000"
                        data-aos="zoom-in-up">03.</span>
                    <h3 class="text-white display-3 mb-4 fw-bold" data-aos-duration="1000" data-aos="zoom-in-up"> Visual
                        Identity </h3>
                    <ol class="font-18 text-muted mb-3 " data-aos-duration="1000" data-aos="zoom-in-up">
                        <li>
                            Designing visual elements that align with your brand values.
                        </li>
                        <li>
                            Selecting color palettes that evoke the desired emotions.
                        </li>
                        <li>
                            Crafting typography that complements your brand personality.
                        </li>
                        <li>
                            Developing iconography and graphic elements for brand consistency.
                        </li>
                        <li>
                            Designing templates for marketing collateral and digital assets.
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row py-5 my-5 align-items-center">
                <div class="col-sm-6 py-2 order-1">
                    <div class="position-relative p-2 border border-primary border-5">
                        <div data-aos-duration="1000" data-aos="zoom-in-up"
                            class="bg-dotted position-absolute end-0 top-0 size-100 z-index-1 me--30 mt--30">
                        </div>
                        <div data-aos-duration="1000" data-aos="zoom-in-up"
                            class="bg-dotted-primary position-absolute bottom-0 start-0 size-100 z-index-1 ms--30 mb--30">
                        </div>
                        <img src="{{ url_for('static', filename='images/services/app-development/7-min.webp')}}"
                            class="shadow z-index-2 position-relative w-100 h-100 object-cover shadow" alt=""
                            data-aos-duration="1000" data-aos="zoom-in-up">
                        <img src="{{ url_for('static', filename='images/services/app-development/8-min.webp')}}"
                            class="size-200 object-cover shadow position-absolute bottom-0 end-0 z-index-3 border-primary border border-5 p-2 me--30 mb--30"
                            alt="" data-aos-duration="1000" data-aos="zoom-in-up">
                    </div>
                </div>
                <div class="col-sm-6 py-2 order-0">
                    <span class="display-1 text- text-stroke rounded-circle" data-aos-duration="1000"
                        data-aos="zoom-in-up">04.</span>
                    <h3 class="text-white display-3 mb-4 fw-bold" data-aos-duration="1000" data-aos="zoom-in-up">Brand
                        Messaging</h3>
                    <ol class="font-18 text-muted mb-3 " data-aos-duration="1000" data-aos="zoom-in-up">
                        <li>
                            Crafting a compelling brand story that connects with your audience.
                        </li>
                        <li>
                            Developing taglines and slogans that leave a lasting impression.
                        </li>
                        <li>
                            Defining key brand messages for different touchpoints.
                        </li>
                        <li>
                            Ensuring consistency in brand voice and tone across all communications.
                        </li>
                        <li>
                            Creating brand narratives that evoke emotions and engage customers.
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row py-5 my-5 align-items-center">
                <div class="col-sm-6 py-2 order-0">
                    <div class="position-relative p-2 border border-primary border-5">
                        <div data-aos-duration="1000" data-aos="zoom-in-up"
                            class="bg-dotted position-absolute start-0 top-0 size-100 z-index-1 ms--30 mt--30">
                        </div>
                        <div data-aos-duration="1000" data-aos="zoom-in-up"
                            class="bg-dotted-primary position-absolute bottom-0 end-0 size-100 z-index-1 me--30 mb--30">
                        </div>
                        <img src="{{ url_for('static', filename='images/services/app-development/9-min.webp')}}"
                            class="shadow z-index-2 position-relative w-100 h-100 object-cover shadow" alt=""
                            data-aos-duration="1000" data-aos="zoom-in-up">
                        <img src="{{ url_for('static', filename='images/services/app-development/10-min.webp')}}"
                            class="size-200 object-cover shadow position-absolute bottom-0 start-0 z-index-3 border-primary border border-5 p-2 ms--30 mb--30"
                            alt="" data-aos-duration="1000" data-aos="zoom-in-up">
                    </div>
                </div>
                <div class="col-sm-6 py-2 order-2">
                    <span class="display-1 text- text-stroke rounded-circle" data-aos-duration="1000"
                        data-aos="zoom-in-up">05.</span>
                    <h3 class="text-white display-3 mb-4 fw-bold" data-aos-duration="1000" data-aos="zoom-in-up"> Online
                        Branding </h3>
                    <ol class="font-18 text-muted mb-3 " data-aos-duration="1000" data-aos="zoom-in-up">
                        <li>Designing engaging and responsive brand websites.
                        </li>
                        <li>Optimizing websites for search engine visibility (SEO).
                        </li>
                        <li>Developing brand-focused content for website and social media.
                        </li>
                        <li>Implementing brand storytelling through multimedia content.
                        </li>
                        <li>Integrating social media strategies to build brand community.
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row py-5 my-5 align-items-center">
                <div class="col-sm-6 py-2 order-1">
                    <div class="position-relative p-2 border border-primary border-5">
                        <div data-aos-duration="1000" data-aos="zoom-in-up"
                            class="bg-dotted position-absolute start-0 top-0 size-100 z-index-1 ms--30 mt--30">
                        </div>
                        <div data-aos-duration="1000" data-aos="zoom-in-up"
                            class="bg-dotted-primary position-absolute bottom-0 end-0 size-100 z-index-1 me--30 mb--30">
                        </div>
                        <img src="{{ url_for('static', filename='images/services/app-development/11-min.webp')}}"
                            class="shadow z-index-2 position-relative w-100 h-100 object-cover shadow" alt=""
                            data-aos-duration="1000" data-aos="zoom-in-up">
                        <img src="{{ url_for('static', filename='images/services/app-development/12-min.webp')}}"
                            class="size-200 object-cover shadow position-absolute bottom-0 start-0 z-index-3 border-primary border border-5 p-2 ms--30 mb--30"
                            alt="" data-aos-duration="1000" data-aos="zoom-in-up">
                    </div>
                </div>
                <div class="col-sm-6 py-2 order-0">
                    <span class="display-1 text- text-stroke rounded-circle" data-aos-duration="1000"
                        data-aos="zoom-in-up">06.</span>
                    <h3 class="text-white display-3 mb-4 fw-bold" data-aos-duration="1000" data-aos="zoom-in-up"> Print
                        and Packaging Design</h3>
                    <ol class="font-18 text-muted mb-3 " data-aos-duration="1000" data-aos="zoom-in-up">
                        <li>Designing eye-catching print materials that reinforce brand identity.
                        </li>
                        <li>Creating packaging that stands out on the shelves.
                        </li>
                        <li>Considering sustainability and eco-friendly packaging options.
                        </li>
                        <li>Ensuring packaging aligns with brand messaging and values.
                        </li>
                        <li>Collaborating with print vendors for high-quality production.
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row py-5 my-5 align-items-center">
                <div class="col-sm-6 py-2 order-0">
                    <div class="position-relative p-2 border border-primary border-5">
                        <div data-aos-duration="1000" data-aos="zoom-in-up"
                            class="bg-dotted position-absolute start-0 top-0 size-100 z-index-1 ms--30 mt--30">
                        </div>
                        <div data-aos-duration="1000" data-aos="zoom-in-up"
                            class="bg-dotted-primary position-absolute bottom-0 end-0 size-100 z-index-1 me--30 mb--30">
                        </div>
                        <img src="{{ url_for('static', filename='images/services/app-development/13-min.webp')}}"
                            class="shadow z-index-2 position-relative w-100 h-100 object-cover shadow" alt=""
                            data-aos-duration="1000" data-aos="zoom-in-up">
                        <img src="{{ url_for('static', filename='images/services/app-development/14-min.webp')}}"
                            class="size-200 object-cover shadow position-absolute bottom-0 start-0 z-index-3 border-primary border border-5 p-2 ms--30 mb--30"
                            alt="" data-aos-duration="1000" data-aos="zoom-in-up">
                    </div>
                </div>
                <div class="col-sm-6 py-2 order-1">
                    <span class="display-1 text- text-stroke rounded-circle" data-aos-duration="1000"
                        data-aos="zoom-in-up">07.</span>
                    <h3 class="text-white display-3 mb-4 fw-bold" data-aos-duration="1000" data-aos="zoom-in-up">Brand
                        Experience Design</h3>
                    <ol class="font-18 text-muted mb-3 " data-aos-duration="1000" data-aos="zoom-in-up">
                        <li>Crafting memorable brand experiences for customers.
                        </li>
                        <li>Designing branded environments and physical spaces.
                        </li>
                        <li>Creating interactive and immersive brand activations.
                        </li>
                        <li>Integrating sensory elements to evoke emotional connections.
                        </li>
                        <li>Ensuring brand consistency across all touchpoints.
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row py-5 my-5 align-items-center">
                <div class="col-sm-6 py-2 order-1">
                    <div class="position-relative p-2 border border-primary border-5">
                        <div data-aos-duration="1000" data-aos="zoom-in-up"
                            class="bg-dotted position-absolute end-0 top-0 size-100 z-index-1 me--30 mt--30">
                        </div>
                        <div data-aos-duration="1000" data-aos="zoom-in-up"
                            class="bg-dotted-primary position-absolute bottom-0 start-0 size-100 z-index-1 ms--30 mb--30">
                        </div>
                        <img src="{{ url_for('static', filename='images/services/app-development/15-min.webp')}}"
                            class="shadow z-index-2 position-relative w-100 h-100 object-cover shadow" alt=""
                            data-aos-duration="1000" data-aos="zoom-in-up">
                        <img src="{{ url_for('static', filename='images/services/app-development/16-min.webp')}}"
                            class="size-200 object-cover shadow position-absolute bottom-0 end-0 z-index-3 border-primary border border-5 p-2 me--30 mb--30"
                            alt="" data-aos-duration="1000" data-aos="zoom-in-up">
                    </div>
                </div>
                <div class="col-sm-6 py-2 order-0">
                    <span class="display-1 text- text-stroke rounded-circle" data-aos-duration="1000"
                        data-aos="zoom-in-up">08.</span>
                    <h3 class="text-white display-3 mb-4 fw-bold" data-aos-duration="1000" data-aos="zoom-in-up">Brand
                        Audit and Management</h3>
                    <ol class="font-18 text-muted mb-3 " data-aos-duration="1000" data-aos="zoom-in-up">
                        <li>Conducting comprehensive brand audits to evaluate brand health.
                        </li>
                        <li>Identifying strengths, weaknesses, and opportunities for improvement.
                        </li>
                        <li>Developing brand management strategies for long-term success.
                        </li>
                        <li>Monitoring brand sentiment and perception.
                        </li>
                        <li>Implementing brand crisis management plans.
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!-- DETAILS -->

    <!-- WHY CHOOSE US -->
    {% include "components/why-choose-us.html" %}
    <!-- WHY CHOOSE US -->

    <!--PROCESS-->
    {% include "components/process.html" %}
    <!--PROCESS-->

    <!--PROJECTS-->
    <section class="container container-sm container-md container-lg container-xl container-xxl py-5">
        <div class="text-white mb-5">
            <b class="border border-2 border-primary py-1 px-3 text-uppercase rounded-pill text-light font-14">
                OUR WORK
            </b>
            <h3 class="text-white font-40 fw-bold m-0 my-2">Recent Projects Showcase</h3>
            <p class="text-muted font-18 m-0 col-sm-6">
                Creating impact with every project, experience the innovation.
            </p>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-4 g-4">
            <article class="col">
                <div class="card bg-transparent shadow project-card h-100 position-relative rounded-4">
                    <div class="card-header border-0 p-0 bg-transparent  rounded-4">
                        <img src="{{ url_for('static', filename='images/projects/1.webp')}}"
                            class="card-img-top object-cover rounded-4" alt="" data-aos-duration="1000"
                            data-aos="zoom-in-up">
                    </div>
                    <div
                        class="card-body position-absolute bottom-0 start-0 w-100 h-100 d-flex flex-column flex-end p-4 rounded-4 rounded-top-0">
                        <div class="mt-auto py-3">
                            <b class="badge bg-danger rounded-0 font-12 px-2">UI / UX</b>
                            <h3 class="fw-bold font-20 my-4 m-0 text-white ">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            </h3>
                            <a href=""
                                class="btn btn-outline-primary btn-sm rounded-pill border border-primary border-3 px-3 font-14 text-white">Case
                                study</a>
                        </div>
                    </div>
                </div>
            </article>
            <article class="col">
                <div class="card bg-transparent shadow project-card h-100 position-relative rounded-4">
                    <div class="card-header border-0 p-0 bg-transparent  rounded-4">
                        <img src="{{ url_for('static', filename='images/projects/2.webp')}}"
                            class="card-img-top object-cover rounded-4" alt="" data-aos-duration="1000"
                            data-aos="zoom-in-up">
                    </div>
                    <div
                        class="card-body position-absolute bottom-0 start-0 w-100 h-100 d-flex flex-column flex-end p-4 rounded-4 rounded-top-0">
                        <div class="mt-auto py-3">
                            <b class="badge bg-danger rounded-0 font-12 px-2">UI / UX</b>
                            <h3 class="fw-bold font-20 my-4 m-0 text-white ">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            </h3>
                            <a href=""
                                class="btn btn-outline-primary btn-sm rounded-pill border border-primary border-3 px-3 font-14 text-white">Case
                                study</a>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="text-center py-5">
            <button class="btn btn-primary text-white rounded-pill px-4 py-2 font-14">Load more</button>
        </div>
    </section>
    <!--PROJECTS-->

    <!-- FEEDBACKS -->
    {% include "components/feedbacks.html" %}
    <!-- FEEDBACKS -->

    <!-- CLIENTS -->
    {% include "components/clients.html" %}
    <!-- CLIENTS -->
</div>
{% endblock %}