{% extends "layouts/primary.html" %} {% block title %} Cyber security |
{%endblock %} {% block seo %}
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="robots" content="index, follow" />
<link rel="canonical" href="" />
<meta property="og:title" content=" | NexTash" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="NexTash" />
<meta property="og:url" content="" />
{% endblock %} {% block content %}
<!-- HEADER -->
<section class="section">
    <div class="section-container">
        <div class="section-body">
            <div class="section-label page-label"><span>Service</span></div>
            <h2 class="section-heading page-heading">Cyber security</h2>
            <div class="section-description page-description">
                <p>
                    Every decision we make needs to answer the million-dollar question:
                    how will this benefit our partner’s goal best? We work to develop
                    solutions
                </p>
                <br />
                <p>
                    We like to be different, in the same way that every mission is
                    different. Every project is an opportunity to create result that will
                    help you
                </p>
                <br />
                <div class="row">
                    <div class="col">
                        <ul class="list-s">
                            <li>Cyber Risk Assessment</li>
                            <li>Network Security</li>
                            <li>Endpoint Protection</li>
                            <li>Incident Response and Management</li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="list-s">
                            <li>Cloud Security</li>
                            <li>Employee Training and Awareness</li>
                            <li>Penetration Testing</li>
                            <li>Security Awareness Training</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- HEADER -->

<!-- DETAILS -->
<section class="section">
    <div class="section-container">
        <div class="row align-items-center g-5">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg card card-hover">
                        <img src="{{ url_for('static', filename='images/services/15.webp')}}" class="image"
                            alt="Cyber Risk Assessment" />
                    </div>
                    <div class="image-sm card card-hover"  >
                        <img src="{{ url_for('static', filename='images/services/12.webp')}}" class="image"
                            alt="Cyber Risk Assessment" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">01.</span>
                <h3 class="section-heading">Cyber Risk Assessment</h3>
                <ol class="list-s">
                    <li>
                        In-depth evaluation of your organization's cybersecurity posture.
                    </li>
                    <li>
                        Identifying potential vulnerabilities and weak points in your
                        infrastructure.
                    </li>
                    <li>
                        Assessing the potential impact of cyber threats on your business
                        operations.
                    </li>
                    <li>
                        Providing actionable recommendations to mitigate identified risks.
                    </li>
                    <li>
                        Assisting with compliance requirements and industry regulations.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row align-items-center g-5">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg card card-hover">
                        <img src="{{ url_for('static', filename='images/services/136.webp')}}" class="image"
                            alt="Network Security" />
                    </div>
                    <div class="image-sm card card-hover">
                        <img src="{{ url_for('static', filename='images/services/135.webp')}}" class="image"
                            alt="Network Security" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">02.</span>
                <h3 class="section-heading">Network Security</h3>
                <ol class="list-s">
                    <li>
                        Deploying robust firewalls, intrusion detection, and prevention
                        systems.
                    </li>
                    <li>
                        Setting up secure Virtual Private Networks (VPNs) for remote access.
                    </li>
                    <li>
                        Implementing secure access controls and multi-factor authentication.
                    </li>
                    <li>
                        Monitoring network traffic for suspicious activities and anomalies.
                    </li>
                    <li>Conducting regular security audits and updates.</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row align-items-center g-5">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg card card-hover">
                        <img src="{{ url_for('static', filename='images/services/133.webp')}}" class="image"
                            alt="Endpoint Protection" />
                    </div>
                    <div class="image-sm card card-hover">
                        <img src="{{ url_for('static', filename='images/services/139.webp')}}" class="image"
                            alt="Endpoint Protection" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">03.</span>
                <h3 class="section-heading">Endpoint Protection</h3>
                <ol class="list-s">
                    <li>Deploying advanced anti-malware and anti-virus solutions.</li>
                    <li>
                        Securing endpoints (computers, laptops, mobile devices) against
                        threats.
                    </li>
                    <li>
                        Enforcing data encryption and data loss prevention (DLP) measures.
                    </li>
                    <li>Implementing patch management to keep software up to date.</li>
                    <li>Monitoring endpoint activities for potential breaches.</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row align-items-center g-5">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg card card-hover">
                        <img src="{{ url_for('static', filename='images/services/142.webp')}}" class="image"
                            alt="Incident Response and Management" />
                    </div>
                    <div class="image-sm card card-hover">
                        <img src="{{ url_for('static', filename='images/services/140.webp')}}" class="image"
                            alt="Incident Response and Management" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">04.</span>
                <h3 class="section-heading">Incident Response and Management</h3>
                <ol class="list-s">
                    <li>
                        Developing incident response plans tailored to your organization.
                    </li>
                    <li>
                        Establishing protocols for immediate response to cybersecurity
                        incidents.
                    </li>
                    <li>
                        Conducting thorough investigations to understand the scope of
                        breaches.
                    </li>
                    <li>Containing and mitigating the impact of security incidents.</li>
                    <li>
                        Implementing measures to prevent similar incidents in the future.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row align-items-center g-5">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg card card-hover">
                        <img src="{{ url_for('static', filename='images/services/163.webp')}}" class="image"
                            alt="Cloud Security" />
                    </div>
                    <div class="image-sm card card-hover">
                        <img src="{{ url_for('static', filename='images/services/164.webp')}}" class="image"
                            alt="Cloud Security" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">05.</span>
                <h3 class="section-heading">Cloud Security</h3>
                <ol class="list-s">
                    <li>Evaluating cloud service providers for security compliance.</li>
                    <li>Implementing encryption and access controls for cloud data.</li>
                    <li>
                        Securing cloud infrastructure with firewalls and intrusion
                        detection.
                    </li>
                    <li>
                        Continuous monitoring of cloud resources for unauthorized access.
                    </li>
                    <li>Ensuring secure backups and disaster recovery plans.</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row align-items-center g-5">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg card card-hover">
                        <img src="{{ url_for('static', filename='images/services/169.webp')}}" class="image"
                            alt="Employee Training and Awareness" />
                    </div>
                    <div class="image-sm card card-hover">
                        <img src="{{ url_for('static', filename='images/services/157.webp')}}" class="image"
                            alt="Employee Training and Awareness" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">06.</span>
                <h3 class="section-heading">Employee Training and Awareness</h3>
                <ol class="list-s">
                    <li>Conducting cybersecurity awareness programs for employees.</li>
                    <li>
                        Educating staff on identifying phishing attempts and social
                        engineering.
                    </li>
                    <li>
                        Encouraging strong password management and data handling practices.
                    </li>
                    <li>
                        Fostering a culture of cybersecurity vigilance throughout the
                        organization.
                    </li>
                    <li>
                        Training employees to respond appropriately to potential threats.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row align-items-center g-5">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg card card-hover">
                        <img src="{{ url_for('static', filename='images/services/167.webp')}}" class="image"
                            alt="Penetration Testing" />
                    </div>
                    <div class="image-sm card card-hover">
                        <img src="{{ url_for('static', filename='images/services/164.webp')}}" class="image"
                            alt="Penetration Testing" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">07.</span>
                <h3 class="section-heading">Penetration Testing</h3>
                <ol class="list-s">
                    <li>
                        Simulating real-world cyberattacks to identify vulnerabilities.
                    </li>
                    <li>
                        Conducting ethical hacking to test the effectiveness of security
                        measures.
                    </li>
                    <li>
                        Identifying weak points and potential entry points for attackers.
                    </li>
                    <li>
                        Providing detailed reports and recommendations for remediation.
                    </li>
                    <li>
                        Ensuring your organization is well-prepared for actual cyber
                        threats.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section-container">
        <div class="row align-items-center g-5">
            <div class="col">
                <div class="image-box">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="image-lg card card-hover">
                        <img src="{{ url_for('static', filename='images/services/173.webp')}}" class="image"
                            alt="Security Awareness Training" />
                    </div>
                    <div class="image-sm card card-hover"  >
                        <img src="{{ url_for('static', filename='images/services/174.webp')}}" class="image"
                            alt="Security Awareness Training" />
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="section-label">08.</span>
                <h3 class="section-heading">Security Awareness Training</h3>
                <ol class="list-s">
                    <li>Providing comprehensive cybersecurity training for employees.</li>
                    <li>
                        Educating staff about the latest cyber threats and attack vectors.
                    </li>
                    <li>Training on safe browsing practices and email security.</li>
                    <li>
                        Creating a security-conscious workforce to prevent human errors.
                    </li>
                    <li>Conducting phishing simulations to test employee readiness.</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- DETAILS -->

<!-- WHY CHOOSE US -->
{% include "components/why-choose-us.html" %}
<!-- WHY CHOOSE US -->

<!--PROCESS-->
{% include "components/process.html" %}
<!--PROCESS-->

<!--PROJECTS-->
<section class="section">
    <div class="section-container">
        <div class="section-header">
            <b class="section-label">OUR WORK</b>
            <h3 class="section-heading">Recent Projects Showcase</h3>
            <p class="section-description">
                Creating impact with every project, experience the innovation.
            </p>
        </div>
        <div class="section-body">{% include "components/projects.html" %}</div>
        <div class="section-footer">
            <button class="btn-outline">Load more</button>
        </div>
    </div>
</section>
<!--PROJECTS-->

<!-- FEEDBACKS -->
{% include "components/feedbacks.html" %}
<!-- FEEDBACKS -->

<!-- CLIENTS -->
{% include "components/clients.html" %}
<!-- CLIENTS -->
{% endblock %}