{% extends "layouts/primary.html" %}

{% block title %} Services | {% endblock %}

{% block seo %}
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="robots" content="index, follow" />
<link rel="canonical" href="" />
<meta property="og:title" content=" | NexTash" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="NexTash" />
<meta property="og:url" content="" />
{% endblock %}

{% block style %}{% endblock %}

{% block content %}
<div class="bg-1 bg-cover bg-fixed bg-no-repeat">
    <!-- Header -->
    <section class="shadow py-2 py-sm-2 py-md-5 py-lg-5">
        <div class="container container-sm container-md container-lg container-xl container-xxl py-5">
            <div class="row">
                <div class="col-sm-12 text-white py-2">
                    <b
                        class="border border-primary border-2 rounded-pill px-3 py-1 text-primary font-16 d-inline-block mb-2" data-aos-duration="1000" data-aos="fade-up">
                        WHAT CAN WE DO?
                    </b>
                    <h3 class="display-1 fw-bold m-0 mb-2" data-aos-duration="1000" data-aos="fade-up">We combine our passion for design and code.</h3>
                </div>
                <div class="col-sm-3"></div>
                <div class="col-sm-6 text-muted py-2 font-20" data-aos-duration="1000" data-aos="fade-up">
                    - We help our clients succeed by creating brand identities, digital experiences, and print materials
                    that communicate clearly, achieve marketing goals, and look fantastic.
                </div>
            </div>
    </section>
    <!-- Header -->
    <div class="shadow py-2 py-sm-2 py-md-5 py-lg-5">
        <section class="container container-sm container-md container-lg container-xl container-xxl">
            <!------- Row ------->
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4">
                <!------- Col ------->
                <div class="col mb-4" data-aos-duration="1000" data-aos="zoom-in-up">
                    <article
                        class="card bg-rects bg-cover bg-no-repeat rounded-4 backdrop-10 bg-gray-800 shadow h-100 border-shadow border-2 border border-dark card-hover">
                        <div class="card-body px-3">
                            <div class="font-40 mb-4 bx bx-globe text-danger bg-gray-700 rounded-2 p-3"></div>
                            <h3 class="fw-bold font-24 mb-3 m-0 text-white">Branding</h3>
                            <p class="text-muted font-16">
                                Stand out from the crowd with our expert branding services. We create unique and
                                memorable identities that resonate with your target audience
                            </p>
                        </div>
                        <div class="card-footer border-0 bg-transparent p-3">
                            <a href="/service-branding"
                                class="btn btn-dark border border-primary border-2 fw-bold rounded-pill px-3 font-14">
                                Learn more
                            </a>
                        </div>
                    </article>
                </div>
                <!------- Col ------->
                <!------- Col ------->
                <div class="col mb-4" data-aos-duration="1000" data-aos="zoom-in-up">
                    <article
                        class="card bg-rects bg-cover bg-no-repeat rounded-4 backdrop-10 bg-gray-800 shadow h-100 border-shadow border-2 border border-dark card-hover">
                        <div class="card-body px-3">
                            <div class="font-40 mb-4 bx bx-globe text-danger bg-gray-700 rounded-2 p-3"></div>
                            <h3 class="fw-bold font-24 mb-3 m-0 text-white">Graphics Design</h3>
                            <p class="text-muted font-16">
                                Our creative team turns visions into reality with stunning graphic designs. From logos
                                to marketing materials, we craft visuals that leave a lasting impression.
                            </p>
                        </div>
                        <div class="card-footer border-0 bg-transparent p-3">
                            <a href="/service-graphics-designing"
                                class="btn btn-dark border border-primary border-2 fw-bold rounded-pill px-3 font-14">
                                Learn more
                            </a>
                        </div>
                    </article>
                </div>
                <!------- Col ------->
                <!------- Col ------->
                <div class="col mb-4" data-aos-duration="1000" data-aos="zoom-in-up">
                    <article
                        class="card bg-rects bg-cover bg-no-repeat rounded-4 backdrop-10 bg-gray-800 shadow h-100 border-shadow border-2 border border-dark card-hover">
                        <div class="card-body px-3">
                            <div class="font-40 mb-4 bx bx-globe text-danger bg-gray-700 rounded-2 p-3"></div>
                            <h3 class="fw-bold font-24 mb-3 m-0 text-white">Web development</h3>
                            <p class="text-muted font-16">
                                Build a powerful online presence with our top-notch web development services. We create
                                responsive and user-friendly websites tailored to your business needs.
                            </p>
                        </div>
                        <div class="card-footer border-0 bg-transparent p-3">
                            <a href="/service-web-development"
                                class="btn btn-dark border border-primary border-2 fw-bold rounded-pill px-3 font-14">
                                Learn more
                            </a>
                        </div>
                    </article>
                </div>
                <!------- Col ------->
                <!------- Col ------->
                <div class="col mb-4" data-aos-duration="1000" data-aos="zoom-in-up">
                    <article
                        class="card bg-rects bg-cover bg-no-repeat rounded-4 backdrop-10 bg-gray-800 shadow h-100 border-shadow border-2 border border-dark card-hover">
                        <div class="card-body px-3">
                            <div class="font-40 mb-4 bx bx-globe text-danger bg-gray-700 rounded-2 p-3"></div>
                            <h3 class="fw-bold font-24 mb-3 m-0 text-white">Mobile App Development</h3>
                            <p class="text-muted font-16">
                                Tap into the mobile market with our cutting-edge app development solutions. We design
                                and develop apps that deliver a seamless user experience.
                            </p>
                        </div>
                        <div class="card-footer border-0 bg-transparent p-3">
                            <a href="/service-mobile-app-development"
                                class="btn btn-dark border border-primary border-2 fw-bold rounded-pill px-3 font-14">
                                Learn more
                            </a>
                        </div>
                    </article>
                </div>
                <!------- Col ------->
                <!------- Col ------->
                <div class="col mb-4" data-aos-duration="1000" data-aos="zoom-in-up">
                    <article
                        class="card bg-rects bg-cover bg-no-repeat rounded-4 backdrop-10 bg-gray-800 shadow h-100 border-shadow border-2 border border-dark card-hover">
                        <div class="card-body px-3">
                            <div class="font-40 mb-4 bx bx-globe text-danger bg-gray-700 rounded-2 p-3"></div>
                            <h3 class="fw-bold font-24 mb-3 m-0 text-white">Digital Marketing</h3>
                            <p class="text-muted font-16">
                                Reach your business goals with our result-driven digital marketing strategies. We
                                optimize your online presence to attract and convert potential customers.
                            </p>
                        </div>
                        <div class="card-footer border-0 bg-transparent p-3">
                            <a href="/service-digital-marketing"
                                class="btn btn-dark border border-primary border-2 fw-bold rounded-pill px-3 font-14">
                                Learn more
                            </a>
                        </div>
                    </article>
                </div>
                <!------- Col ------->
                <!------- Col ------->
                <div class="col mb-4" data-aos-duration="1000" data-aos="zoom-in-up">
                    <article
                        class="card bg-rects bg-cover bg-no-repeat rounded-4 backdrop-10 bg-gray-800 shadow h-100 border-shadow border-2 border border-dark card-hover">
                        <div class="card-body px-3">
                            <div class="font-40 mb-4 bx bx-globe text-danger bg-gray-700 rounded-2 p-3"></div>
                            <h3 class="fw-bold font-24 mb-3 m-0 text-white">Cyber Security</h3>
                            <p class="text-muted font-16">
                                Safeguard your digital assets with our robust cybersecurity services. We protect your
                                data and systems from potential threats and breaches.
                            </p>
                        </div>
                        <div class="card-footer border-0 bg-transparent p-3">
                            <a href="/service-cyber-security"
                                class="btn btn-dark border border-primary border-2 fw-bold rounded-pill px-3 font-14">
                                Learn more
                            </a>
                        </div>
                    </article>
                </div>
                <!------- Col ------->
                <!------- Col ------->
                <div class="col mb-4" data-aos-duration="1000" data-aos="zoom-in-up">
                    <article
                        class="card bg-rects bg-cover bg-no-repeat rounded-4 backdrop-10 bg-gray-800 shadow h-100 border-shadow border-2 border border-dark card-hover">
                        <div class="card-body px-3">
                            <div class="font-40 mb-4 bx bx-globe text-danger bg-gray-700 rounded-2 p-3"></div>
                            <h3 class="fw-bold font-24 mb-3 m-0 text-white">DevOps</h3>
                            <p class="text-muted font-16">
                                Streamline your development and deployment processes with our DevOps expertise. We
                                enhance collaboration and accelerate your software delivery.
                            </p>
                        </div>
                        <div class="card-footer border-0 bg-transparent p-3">
                            <a href="/service-devops"
                                class="btn btn-dark border border-primary border-2 fw-bold rounded-pill px-3 font-14">
                                Learn more
                            </a>
                        </div>
                    </article>
                </div>
                <!------- Col ------->
                <!------- Col ------->
                <div class="col mb-4" data-aos-duration="1000" data-aos="zoom-in-up">
                    <article
                        class="card bg-rects bg-cover bg-no-repeat rounded-4 backdrop-10 bg-gray-800 shadow h-100 border-shadow border-2 border border-dark card-hover">
                        <div class="card-body px-3">
                            <div class="font-40 mb-4 bx bx-globe text-danger bg-gray-700 rounded-2 p-3"></div>
                            <h3 class="fw-bold font-24 mb-3 m-0 text-white">Networking</h3>
                            <p class="text-muted font-16">
                                Build a strong and reliable network infrastructure with our networking solutions. We
                                ensure seamless communication and data flow within your organization.
                            </p>
                        </div>
                        <div class="card-footer border-0 bg-transparent p-3">
                            <a href="/service-networking"
                                class="btn btn-dark border border-primary border-2 fw-bold rounded-pill px-3 font-14">
                                Learn more
                            </a>
                        </div>
                    </article>
                </div>
                <!------- Col ------->
                <!------- Col ------->
                <div class="col mb-4" data-aos-duration="1000" data-aos="zoom-in-up">
                    <article
                        class="card bg-rects bg-cover bg-no-repeat rounded-4 backdrop-10 bg-gray-800 shadow h-100 border-shadow border-2 border border-dark card-hover">
                        <div class="card-body px-3">
                            <div class="font-40 mb-4 bx bx-globe text-danger bg-gray-700 rounded-2 p-3"></div>
                            <h3 class="fw-bold font-24 mb-3 m-0 text-white">ERP Development</h3>
                            <p class="text-muted font-16">
                                Optimize your business operations with our customized ERP development. We create
                                efficient systems to manage your resources and processes.
                            </p>
                        </div>
                        <div class="card-footer border-0 bg-transparent p-3">
                            <a href="/service-erp-development"
                                class="btn btn-dark border border-primary border-2 fw-bold rounded-pill px-3 font-14">
                                Learn more
                            </a>
                        </div>
                    </article>
                </div>
                <!------- Col ------->
                <!------- Col ------->
                <div class="col mb-4" data-aos-duration="1000" data-aos="zoom-in-up">
                    <article
                        class="card bg-rects bg-cover bg-no-repeat rounded-4 backdrop-10 bg-gray-800 shadow h-100 border-shadow border-2 border border-dark card-hover">
                        <div class="card-body px-3">
                            <div class="font-40 mb-4 bx bx-globe text-danger bg-gray-700 rounded-2 p-3"></div>
                            <h3 class="fw-bold font-24 mb-3 m-0 text-white">Database Administration</h3>
                            <p class="text-muted font-16">
                                Ensure the performance and security of your databases with our expert administration
                                services. We handle data management so you can focus on your core business.
                            </p>
                        </div>
                        <div class="card-footer border-0 bg-transparent p-3">
                            <a href="/service-database-administration"
                                class="btn btn-dark border border-primary border-2 fw-bold rounded-pill px-3 font-14">
                                Learn more
                            </a>
                        </div>
                    </article>
                </div>
                <!------- Col ------->
                <!------- Col ------->
                <div class="col mb-4" data-aos-duration="1000" data-aos="zoom-in-up">
                    <article
                        class="card bg-rects bg-cover bg-no-repeat rounded-4 backdrop-10 bg-gray-800 shadow h-100 border-shadow border-2 border border-dark card-hover">
                        <div class="card-body px-3">
                            <div class="font-40 mb-4 bx bx-globe text-danger bg-gray-700 rounded-2 p-3"></div>
                            <h3 class="fw-bold font-24 mb-3 m-0 text-white">Server Administration</h3>
                            <p class="text-muted font-16">
                                Keep your servers running smoothly with our reliable administration services. We take
                                care of server maintenance and troubleshooting.
                            </p>
                        </div>
                        <div class="card-footer border-0 bg-transparent p-3">
                            <a href="/service-server-administration"
                                class="btn btn-dark border border-primary border-2 fw-bold rounded-pill px-3 font-14">
                                Learn more
                            </a>
                        </div>
                    </article>
                </div>
                <!------- Col ------->
                <!------- Col ------->
                <div class="col mb-4" data-aos-duration="1000" data-aos="zoom-in-up">
                    <article
                        class="card bg-rects bg-cover bg-no-repeat rounded-4 backdrop-10 bg-gray-800 shadow h-100 border-shadow border-2 border border-dark card-hover">
                        <div class="card-body px-3">
                            <div class="font-40 mb-4 bx bx-globe text-danger bg-gray-700 rounded-2 p-3"></div>
                            <h3 class="fw-bold font-24 mb-3 m-0 text-white">Customized Cloud Management</h3>
                            <p class="text-muted font-16">
                                Leverage the full potential of the cloud with our tailored management solutions. We
                                optimize your cloud resources for maximum efficiency.
                            </p>
                        </div>
                        <div class="card-footer border-0 bg-transparent p-3">
                            <a href="/service-cloud-hosting"
                                class="btn btn-dark border border-primary border-2 fw-bold rounded-pill px-3 font-14">
                                Learn more
                            </a>
                        </div>
                    </article>
                </div>
                <!------- Col ------->
                <!------- Col ------->
                <div class="col mb-4" data-aos-duration="1000" data-aos="zoom-in-up">
                    <article
                        class="card bg-rects bg-cover bg-no-repeat rounded-4 backdrop-10 bg-gray-800 shadow h-100 border-shadow border-2 border border-dark card-hover">
                        <div class="card-body px-3">
                            <div class="font-40 mb-4 bx bx-globe text-danger bg-gray-700 rounded-2 p-3"></div>
                            <h3 class="fw-bold font-24 mb-3 m-0 text-white">Managed Hosting</h3>
                            <p class="text-muted font-16">
                                Trust your website and applications to our secure and reliable hosting services. We
                                handle all aspects of hosting so you can concentrate on your business.
                            </p>
                        </div>
                        <div class="card-footer border-0 bg-transparent p-3">
                            <a href="/service-managed-hosting"
                                class="btn btn-dark border border-primary border-2 fw-bold rounded-pill px-3 font-14">
                                Learn more
                            </a>
                        </div>
                    </article>
                </div>
                <!------- Col ------->
                <!------- Col ------->
                <div class="col mb-4" data-aos-duration="1000" data-aos="zoom-in-up">
                    <article
                        class="card bg-rects bg-cover bg-no-repeat rounded-4 backdrop-10 bg-gray-800 shadow h-100 border-shadow border-2 border border-dark card-hover">
                        <div class="card-body px-3">
                            <div class="font-40 mb-4 bx bx-globe text-danger bg-gray-700 rounded-2 p-3"></div>
                            <h3 class="fw-bold font-24 mb-3 m-0 text-white">Technical Support</h3>
                            <p class="text-muted font-16">
                                Get expert assistance and quick resolutions with our reliable technical support. We keep
                                your systems running smoothly and efficiently.
                            </p>
                        </div>
                        <div class="card-footer border-0 bg-transparent p-3">
                            <a href="/service-technical-support"
                                class="btn btn-dark border border-primary border-2 fw-bold rounded-pill px-3 font-14">
                                Learn more
                            </a>
                        </div>
                    </article>
                </div>
                <!------- Col ------->
                <!------- Col ------->
                <div class="col mb-4" data-aos-duration="1000" data-aos="zoom-in-up">
                    <article
                        class="card bg-rects bg-cover bg-no-repeat rounded-4 backdrop-10 bg-gray-800 shadow h-100 border-shadow border-2 border border-dark card-hover">
                        <div class="card-body px-3">
                            <div class="font-40 mb-4 bx bx-globe text-danger bg-gray-700 rounded-2 p-3"></div>
                            <h3 class="fw-bold font-24 mb-3 m-0 text-white">Business Analysis</h3>
                            <p class="text-muted font-16">
                                Make informed decisions with our data-driven business analysis services. We provide
                                valuable insights to help you grow and succeed.
                            </p>
                        </div>
                        <div class="card-footer border-0 bg-transparent p-3">
                            <a href="/service-business-analysis"
                                class="btn btn-dark border border-primary border-2 fw-bold rounded-pill px-3 font-14">
                                Learn more
                            </a>
                        </div>
                    </article>
                </div>
                <!------- Col ------->
            </div>
            <!------- Row ------->
        </section>
    </div>

    <!------ Process ------>
    {% include "components/process.html" %}
    <!------ Process ------>
</div>
{% endblock %}

{% block scripts %} {% endblock %}