{% extends "layouts/primary.html" %}

{% block title %} Services | {% endblock %}

{% block seo %}
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="robots" content="index, follow" />
<link rel="canonical" href="" />
<meta property="og:title" content=" | Nextash" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="Nextash" />
<meta property="og:url" content="" />
{% endblock %}

{% block style %}{% endblock %}

{% block content %}
<main class="bg-1 bg-no-repeat">
        <!-- Header -->
        <section class="container container-sm container-md container-lg container-xl container-xxl py-5">
            <div class="row py-5">
                <div class="col-sm-12 text-white py-2">
                    <b class="border border-primary border-2 rounded-pill px-3 py-1 text-primary font-16">WHAT CAN WE DO ?</b>
                    <h3 class="display-1 fw-bold m-0 mb-2">We combine our passion <br> for design and code.</h3>
                </div>
                <div class="col-sm-3"></div>
                <div class="col-sm-6 text-muted py-2 font-20">
                   - We help our clients succeed by creating brand identities, digital experiences, and print materials
                    that communicate clearly, achieve marketing goals, and look fantastic.
                </div>
        </section>
        <!-- Header -->

        <section class="container container-sm container-md container-lg container-xl container-xxl py-5">
            <!------- Row ------->
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4">
                <!------- Col ------->
                <div class="col mb-4">
                    <article class="card bg-rects bg-cover bg-no-repeat rounded-4 backdrop-10 bg-gray-800 shadow h-100">
                        <div class="card-body">
                            <div class="font-40 mb-4 bx bx-globe text-danger bg-gray-700 rounded-2 p-3"></div>
                            <h3 class="fw-bold font-24 mb-3 m-0 text-white">Web development</h3>
                            <p class="text-muted font-16">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum rerum tempore
                                accusamus sed
                                voluptas vel a natus provident commodi, doloremque nihil, maiores odio voluptates
                                rem
                                quasi nam autem.
                                Accusamus, doloribus?
                            </p>
                        </div>
                        <div class="card-footer border-0 bg-transparent pt-0">
                            <a href="" class="btn btn-dark border border-primary border-2 fw-bold rounded-pill px-3 font-14">
                                Learn more
                            </a>
                        </div>
                    </article>
                </div>
                <!------- Col ------->
                    <!------- Col ------->
                    <div class="col mb-4">
                        <article class="card bg-rects bg-cover bg-no-repeat rounded-4 backdrop-10 bg-gray-800 shadow h-100">
                            <div class="card-body">
                                <div class="font-40 mb-4 bx bx-globe text-danger bg-gray-700 rounded-2 p-3"></div>
                                <h3 class="fw-bold font-24 mb-3 m-0 text-white">Web development</h3>
                                <p class="text-muted font-16">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum rerum tempore
                                    accusamus sed
                                    voluptas vel a natus provident commodi, doloremque nihil, maiores odio voluptates
                                    rem
                                    quasi nam autem.
                                    Accusamus, doloribus?
                                </p>
                            </div>
                            <div class="card-footer border-0 bg-transparent pt-0">
                                <a href="" class="btn btn-dark border border-primary border-2 fw-bold rounded-pill px-3 font-14">
                                    Learn more
                                </a>
                            </div>
                        </article>
                    </div>
                    <!------- Col ------->
                        <!------- Col ------->
                <div class="col mb-4">
                    <article class="card bg-rects bg-cover bg-no-repeat rounded-4 backdrop-10 bg-gray-800 shadow h-100">
                        <div class="card-body">
                            <div class="font-40 mb-4 bx bx-globe text-danger bg-gray-700 rounded-2 p-3"></div>
                            <h3 class="fw-bold font-24 mb-3 m-0 text-white">Web development</h3>
                            <p class="text-muted font-16">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum rerum tempore
                                accusamus sed
                                voluptas vel a natus provident commodi, doloremque nihil, maiores odio voluptates
                                rem
                                quasi nam autem.
                                Accusamus, doloribus?
                            </p>
                        </div>
                        <div class="card-footer border-0 bg-transparent pt-0">
                            <a href="" class="btn btn-dark border border-primary border-2 fw-bold rounded-pill px-3 font-14">
                                Learn more
                            </a>
                        </div>
                    </article>
                </div>
                <!------- Col ------->
                    <!------- Col ------->
                    <div class="col mb-4">
                        <article class="card bg-rects bg-cover bg-no-repeat rounded-4 backdrop-10 bg-gray-800 shadow h-100">
                            <div class="card-body">
                                <div class="font-40 mb-4 bx bx-globe text-danger bg-gray-700 rounded-2 p-3"></div>
                                <h3 class="fw-bold font-24 mb-3 m-0 text-white">Web development</h3>
                                <p class="text-muted font-16">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum rerum tempore
                                    accusamus sed
                                    voluptas vel a natus provident commodi, doloremque nihil, maiores odio voluptates
                                    rem
                                    quasi nam autem.
                                    Accusamus, doloribus?
                                </p>
                            </div>
                            <div class="card-footer border-0 bg-transparent pt-0">
                                <a href="" class="btn btn-dark border border-primary border-2 fw-bold rounded-pill px-3 font-14">
                                    Learn more
                                </a>
                            </div>
                        </article>
                    </div>
                    <!------- Col ------->
                        <!------- Col ------->
                <div class="col mb-4">
                    <article class="card bg-rects bg-cover bg-no-repeat rounded-4 backdrop-10 bg-gray-800 shadow h-100">
                        <div class="card-body">
                            <div class="font-40 mb-4 bx bx-globe text-danger bg-gray-700 rounded-2 p-3"></div>
                            <h3 class="fw-bold font-24 mb-3 m-0 text-white">Web development</h3>
                            <p class="text-muted font-16">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum rerum tempore
                                accusamus sed
                                voluptas vel a natus provident commodi, doloremque nihil, maiores odio voluptates
                                rem
                                quasi nam autem.
                                Accusamus, doloribus?
                            </p>
                        </div>
                        <div class="card-footer border-0 bg-transparent pt-0">
                            <a href="" class="btn btn-dark border border-primary border-2 fw-bold rounded-pill px-3 font-14">
                                Learn more
                            </a>
                        </div>
                    </article>
                </div>
                <!------- Col ------->
                    <!------- Col ------->
                    <div class="col mb-4">
                        <article class="card bg-rects bg-cover bg-no-repeat rounded-4 backdrop-10 bg-gray-800 shadow h-100">
                            <div class="card-body">
                                <div class="font-40 mb-4 bx bx-globe text-danger bg-gray-700 rounded-2 p-3"></div>
                                <h3 class="fw-bold font-24 mb-3 m-0 text-white">Web development</h3>
                                <p class="text-muted font-16">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum rerum tempore
                                    accusamus sed
                                    voluptas vel a natus provident commodi, doloremque nihil, maiores odio voluptates
                                    rem
                                    quasi nam autem.
                                    Accusamus, doloribus?
                                </p>
                            </div>
                            <div class="card-footer border-0 bg-transparent pt-0">
                                <a href="" class="btn btn-dark border border-primary border-2 fw-bold rounded-pill px-3 font-14">
                                    Learn more
                                </a>
                            </div>
                        </article>
                    </div>
                    <!------- Col ------->
                        <!------- Col ------->
                <div class="col mb-4">
                    <article class="card bg-rects bg-cover bg-no-repeat rounded-4 backdrop-10 bg-gray-800 shadow h-100">
                        <div class="card-body">
                            <div class="font-40 mb-4 bx bx-globe text-danger bg-gray-700 rounded-2 p-3"></div>
                            <h3 class="fw-bold font-24 mb-3 m-0 text-white">Web development</h3>
                            <p class="text-muted font-16">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum rerum tempore
                                accusamus sed
                                voluptas vel a natus provident commodi, doloremque nihil, maiores odio voluptates
                                rem
                                quasi nam autem.
                                Accusamus, doloribus?
                            </p>
                        </div>
                        <div class="card-footer border-0 bg-transparent pt-0">
                            <a href="" class="btn btn-dark border border-primary border-2 fw-bold rounded-pill px-3 font-14">
                                Learn more
                            </a>
                        </div>
                    </article>
                </div>
                <!------- Col ------->
                    <!------- Col ------->
                    <div class="col mb-4">
                        <article class="card bg-rects bg-cover bg-no-repeat rounded-4 backdrop-10 bg-gray-800 shadow h-100">
                            <div class="card-body">
                                <div class="font-40 mb-4 bx bx-globe text-danger bg-gray-700 rounded-2 p-3"></div>
                                <h3 class="fw-bold font-24 mb-3 m-0 text-white">Web development</h3>
                                <p class="text-muted font-16">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum rerum tempore
                                    accusamus sed
                                    voluptas vel a natus provident commodi, doloremque nihil, maiores odio voluptates
                                    rem
                                    quasi nam autem.
                                    Accusamus, doloribus? n
                                </p>
                            </div>
                            <div class="card-footer border-0 bg-transparent pt-0">
                                <a href="" class="btn btn-dark border border-primary border-2 fw-bold rounded-pill px-3 font-14">
                                    Learn more
                                </a>
                            </div>
                        </article>
                    </div>
                    <!------- Col ------->
            </div>
            <!------- Row ------->
        </section>
        <!------- Services ------->
    </main>
    {% endblock %}

    {% block scripts %} {% endblock %}