{% extends "layouts/primary.html" %}

{% block title %} Team | {% endblock %}

{%block seo %}
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="robots" content="index, follow" />
<link rel="canonical" href="" />
<meta property="og:title" content="Expert team | NexTash" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="NexTash" />
<meta property="og:url" content="" />
{% endblock %}

{% block content %}
<!-- HEADER -->
<section class="section">
    <div class="section-container">
        <div class="section-body">
            <div class="section-label page-label"><span>OUR STAFF</span></div>
            <h2 class="section-heading page-heading">Meet Our Talented Team.</h2>
            <p class="section-description page-description">
                - We’re a diverse team that works as fancies attention to details,
                enjoys beers on Friday nights and aspires to design the dent in the
                universe.
            </p>
        </div>
    </div>
</section>
<!-- HEADER -->

<!-- TEAM -->
<section class="section">
    <div class="section-container">
      <div class="row row-cols-3 align-items-center justify-content-between">
            <div class="col" data-aos-duration="1000" data-aos="fade-down" data-aos-once="true" data-aos-easing="ease-in-out">
                <article class="team-card card card-hover bg-triangles">
                  <div class="card-header">
                    <a class="avatar image-zoom" href="/team-details">
                      <img src="{{ url_for('static', filename='images/team/1.webp')}}" class="image" />
                    </a>
                  </div>
                  <div class="card-body">
                    <h3><a href="/team-details" class="card-title">Abdul</a></h3>
                    <p class="card-description">Web developer</p>
                  </div>
                  <div class="card-footer">
                    <div class="social-links">
                      <a href="#" class="bx bxl-facebook-square icon"></a>
                      <a href="#" class="bx bxl-twitter icon"></a>
                      <a href="#" class="bx bxl-github icon"></a>
                    </div>
                  </div>
                </article>
              </div>
              <div class="col" data-aos-duration="1000" data-aos="fade-down" data-aos-once="true" data-aos-easing="ease-in-out">
                <article class="team-card card card-hover bg-triangles">
                  <div class="card-header">
                    <a class="avatar image-zoom" href="/team-details">
                      <img src="{{ url_for('static', filename='images/team/1.webp')}}" class="image" />
                    </a>
                  </div>
                  <div class="card-body">
                    <h3><a href="/team-details" class="card-title">Abdul</a></h3>
                    <p class="card-description">Web developer</p>
                  </div>
                  <div class="card-footer">
                    <div class="social-links">
                      <a href="#" class="bx bxl-facebook-square icon"></a>
                      <a href="#" class="bx bxl-twitter icon"></a>
                      <a href="#" class="bx bxl-github icon"></a>
                    </div>
                  </div>
                </article>
              </div>
              <div class="col" data-aos-duration="1000" data-aos="fade-down" data-aos-once="true" data-aos-easing="ease-in-out">
                <article class="team-card card card-hover bg-triangles">
                  <div class="card-header">
                    <a class="avatar image-zoom" href="/team-details">
                      <img src="{{ url_for('static', filename='images/team/1.webp')}}" class="image" />
                    </a>
                  </div>
                  <div class="card-body">
                    <h3><a href="/team-details" class="card-title">Abdul</a></h3>
                    <p class="card-description">Web developer</p>
                  </div>
                  <div class="card-footer">
                    <div class="social-links">
                      <a href="#" class="bx bxl-facebook-square icon"></a>
                      <a href="#" class="bx bxl-twitter icon"></a>
                      <a href="#" class="bx bxl-github icon"></a>
                    </div>
                  </div>
                </article>
              </div>
        </div>
    </div>
</section>
<!-- TEAM -->
<!-- PROCESS -->
{% include "components/process.html" %}
<!-- PROCESS -->
<!-- CLIENTS -->
{% include "components/clients.html" %}
<!-- CLIENTS -->
{% endblock %}