{% extends "layouts/primary.html" %}

{% block title %} Team details | {% endblock %}

{% block seo %}
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="robots" content="index, follow" />
<link rel="canonical" href="" />
<meta property="og:title" content="About us | NexTash" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="NexTash" />
<meta property="og:url" content="" />
{% endblock %}

{% block content %}
<!-- HEADER -->
<section class="section">
  <div class="section-container">
    <div class="section-body">
      <div class="section-label page-label"><span>Meet the Dream Team</span></div>
      <h2 class="section-heading page-heading">Uniting Brilliance, Passion, and Creativity!</h2>
      <p class="section-description page-description">
        - We’re a diverse team that works as fancies attention to details, enjoys beers on Friday nights and
        aspires to design the dent in the universe.
      </p>
    </div>
  </div>
</section>
<!-- HEADER -->


<!-- CONTENT -->
<section class="section">
  <div class="section-container">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 g-5 align-items-center">
      <div class="col">
        <div class="image-box">
          <div class="square-1"></div>
          <div class="square-2"></div>
          <div class="image-lg card card-hover">
            <img src="{{ url_for('static', filename='images/team/1.jpg')}}" class="image">
          </div>
        </div>
      </div>
      <div class="col">
        <b class="section-label"> Web developer</b>
        <h3 class="section-heading">Abdul Hannan</h3>
        <p class="section-description">Lorem ipsum dolor, sit amet
          consectetur adipisicing elit. Accusamus,
          porro corrupti! Rem in maxime provident, quidem eligendi soluta vero temporibus sed saepe dicta
          ea, mollitia, quibusdam repudiandae quo doloremque distinctio.</p>
        <h4 class="section-subheading">Highlighted skills:</h4>
        <div class="badges-group">
          <span class="badge">HTML 5</span>
          <span class="badge">CSS 3</span>
          <span class="badge">SCSS</span>
          <span class="badge">JAVASCRIPT</span>
          <span class="badge">JQuery</span>
          <span class="badge">Bootstrap 5</span>
          <span class="badge">Uikit</span>
        </div>
        <h4 class="section-subheading">Follow us</h4>
        <div class="social-links">
          <a href="#" class="bx bxl-facebook-square icon"></a>
          <a href="#" class="bx bxl-twitter icon"></a>
          <a href="#" class="bx bxl-google icon"></a>
          <a href="#" class="bx bxl-instagram icon"></a>
          <a href="#" class="bx bxl-github icon"></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- CONTENT -->
{% endblock %}