{% extends "layouts/primary.html" %}

{% block title %} Team | {% endblock %}

{% block seo %}
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="robots" content="index, follow" />
<link rel="canonical" href="" />
<meta property="og:title" content="Expert team | NexTash" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="NexTash" />
<meta property="og:url" content="" />
{% endblock %}

{% block content %}
<!-- HEADER -->
<section class="section" data-aos-duration="1000" data-aos="zoom-in-up" data-aos-once="true">
    <div class="section-container">
        <div class="section-body">
            <div class="section-label page-label"><span>OUR STAFF</span></div>
            <h2 class="section-heading page-heading">Meet Our Talented Team.</h2>
            <p class="section-description page-description">
                - We’re a diverse team that works as fancies attention to details, enjoys beers on Friday nights and
                aspires to design the dent in the universe.
            </p>
        </div>
    </div>
</section>
<!-- HEADER -->

<!-- TEAM -->
<section class="section" data-aos-duration="1000" data-aos="zoom-in-up" data-aos-once="true">
    <div class="section-container">
        <div class="row row-cols-1 row-cols-1-sm row-cols-1-md row-cols-3-lg row-cols-3-xl g-5">
            <div class="col">
                <article class="card card-hover team-card bg-triangles">
                    <div class="team-header">
                        <a class="avatar image-zoom" href="/team-details">
                            <img src="{{ url_for('static', filename='images/team/1.jpg')}}" class="image" />
                        </a>
                    </div>
                    <div class="team-body">
                        <h3><a href="/team-details" class="fullname">Abdul</a></h3>
                        <p class="designation">Web developer</p>
                    </div>
                    <div class="team-footer">
                        <a href="" class="btn-social bx bxl-facebook-square"></a>
                        <a href="" class="btn-social bx bxl-twitter"></a>
                        <a href="" class="btn-social bx bxl-instagram"></a>
                    </div>
                </article>
            </div>
            <div class="col">
                <article class="card card-hover team-card bg-triangles">
                    <div class="team-header">
                        <a class="avatar image-zoom" href="/team-details">
                            <img src="{{ url_for('static', filename='images/team/1.jpg')}}" class="image" />
                        </a>
                    </div>
                    <div class="team-body">
                        <h3><a href="/team-details" class="fullname">Abdul</a></h3>
                        <p class="designation">Web developer</p>
                    </div>
                    <div class="team-footer">
                        <a href="" class="btn-social bx bxl-facebook-square"></a>
                        <a href="" class="btn-social bx bxl-twitter"></a>
                        <a href="" class="btn-social bx bxl-instagram"></a>
                    </div>
                </article>
            </div>
            <div class="col">
                <article class="card card-hover team-card bg-triangles">
                    <div class="team-header">
                        <a class="avatar image-zoom" href="/team-details">
                            <img src="{{ url_for('static', filename='images/team/1.jpg')}}" class="image" />
                        </a>
                    </div>
                    <div class="team-body">
                        <h3><a href="/team-details" class="fullname">Abdul</a></h3>
                        <p class="designation">Web developer</p>
                    </div>
                    <div class="team-footer">
                        <a href="" class="btn-social bx bxl-facebook-square"></a>
                        <a href="" class="btn-social bx bxl-twitter"></a>
                        <a href="" class="btn-social bx bxl-instagram"></a>
                    </div>
                </article>
            </div>
            <div class="col">
                <article class="card card-hover team-card bg-triangles">
                    <div class="team-header">
                        <a class="avatar image-zoom" href="/team-details">
                            <img src="{{ url_for('static', filename='images/team/1.jpg')}}" class="image" />
                        </a>
                    </div>
                    <div class="team-body">
                        <h3><a href="/team-details" class="fullname">Abdul</a></h3>
                        <p class="designation">Web developer</p>
                    </div>
                    <div class="team-footer">
                        <a href="" class="btn-social bx bxl-facebook-square"></a>
                        <a href="" class="btn-social bx bxl-twitter"></a>
                        <a href="" class="btn-social bx bxl-instagram"></a>
                    </div>
                </article>
            </div>
        </div>

    </div>
</section>
<!-- TEAM -->
<!-- PROCESS -->
{% include "components/process.html" %}
<!-- PROCESS -->
<!-- CLIENTS -->
{% include "components/clients.html" %}
<!-- CLIENTS -->
{% endblock %}