{% extends "layouts/primary.html" %}

{% block title %} Job details | {% endblock %}

{% block seo %}
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="robots" content="index, follow" />
<link rel="canonical" href="" />
<meta property="og:title" content="Job details | NexTash" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="NexTash" />
<meta property="og:url" content="" />
{% endblock %}

{% block style %}{% endblock %}

{% block content %}
<div class="bg-white py-5">
    <div class="container py-5 ">
        <div class="row align-items-center py-5">
          
            <!--/column -->
            <div class="col-lg-6">
                <h3 class=" fw-bold font-40">Optimize Efficiency In Production Planning and Control </h3>
                <p>Production planning and control, human resources, raw materials, and equipment/machines in a way that
                    optimizes efficiency. ERPNU software helps manufacturers work smarter in allocating internal
                    resources of
                    people, materials, machines, purchasing, sales orders, and overall financial reporting in order to
                    meet the
                    demands of customers.</p>
            </div>
            <div class="col-lg-6">
                <figure class="p-2">
                    <img src="https://erpnu.com/assets/erpnu_com/images/art/Optimize Efficiency In Production Planning and Control.png"
                        alt="" class="w-100">
                </figure>
            </div>
            <!--/column -->
        </div>
    </div>
</div>



{% endblock %}

{% block scripts %} {% endblock %}