.bg-fixed {
    background-attachment: fixed;
}

.bg-cover {
    background-size: cover;
}

.bg-contain {
    background-size: contain;
}

.bg-no-repeat {
    background-repeat: no-repeat;
}

.bg-1 {
    background-image: url(#{$images_path}/patterns/1-min.webp);
}

// .bg-2 {
//     background-image: url(#{$images_path}/patterns/2-min.webp);

// }

// .bg-3 {
//     background-image: url(#{$images_path}/patterns/3-min.webp);

// }

// .bg-4 {
//     background-image: url(#{$images_path}/patterns/4-min.jpg);

// }

// .bg-5 {
//     background-image: url(#{$images_path}/patterns/5.png);

// }

// .bg-6 {
//     background-image: url(#{$images_path}/patterns/6-min.webp);

// }


.bg-triangles {
    background-image: url(#{$images_path}/patterns/bg-triangles.png);
    background-position: top left;
    

}

.bg-rects {
    background-image: url(#{$images_path}/patterns/bg-rect.png);
}

.bg-dots{
    background-image: radial-gradient(#740A0A 1px, transparent 1px);
    background-position: 50% 50%;
    background-size: 0.5rem 0.5rem;
    margin-left: -15px;
    margin-top: -5px;
}