.bg-fixed {
    background-attachment: fixed;
}

.bg-cover {
    background-size: cover;
}

.bg-contain {
    background-size: contain;
}

.bg-no-repeat {
    background-repeat: no-repeat;
}

.bg-1 {
    background-image: url(#{$images_path}/patterns/1.webp);
}

.bg-2 {
    background-image: url(#{$images_path}/patterns/2.webp);
}

.bg-triangles {
    background-image: url(#{$images_path}/patterns/4.webp);
    background-position: top left;
}

.bg-rects {
    background-image: url(#{$images_path}/patterns/3.webp);
}

.bg-dots{
    background-image: radial-gradient(#b11616 1px, transparent 1px);
    background-position: 50% 50%;
    background-size: 0.5rem 0.5rem;
    margin-left: -15px;
    margin-top: -5px;
}

.bg-dotted {
    background-image: radial-gradient(rgba(255, 255, 255) 1px, transparent 1px);
    background-position: 50% 50%;
    background-size: 0.5rem 0.5rem;
  }

  .bg-dotted-primary {
    background-image: radial-gradient(rgba(255, 0, 0) 1px, transparent 1px);
    background-position: 50% 50%;
    background-size: 0.5rem 0.5rem;
  }