/* Component code */
.service-card {
  display: flex;
  flex-direction: column;
  background-size: auto;
  .service-header {
    padding: 20px;
    width: 100%;
    .icon {
      margin-top: 10px;
      width: 70px;
      height: 70px;
    }
  }
  .service-body {
    padding: 0px 20px;
    width: 100%;
  }
  .service-footer {
    text-align: right;
    padding: 5px 20px;
    padding-bottom: 10px;
    width: 100%;
    margin-top: auto;
  }
  &:hover {
    border: 2px solid get-var(primary);
    box-shadow: rgba(255, 30, 0, 0.24) 0px 8px 24px,
      rgba(255, 38, 0, 0.158) 0px 16px 56px,
      rgba(235, 6, 25, 0.233) 0px 24px 80px;
  }
}
