.social-links {
  display: inline-flex;
  align-items: center;
  border-radius: 50px;
  padding: 5px 8px;
  backdrop-filter: get-var(blur);
  box-shadow: get-var(shadow);
  background-color: get-var(dark);
  .icon {
    text-decoration: none;
    padding: 10px;
    border-radius: 50px;
    color: get-var(muted);
    font-size: 18px;
    &:hover {
      background-color: get-var(primary);
      color: white;
    }
  }
}
