.form-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  background-size: cover;

  .form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
  }

  .input-field {
    background-color: black;
    border: none;
    outline: none;
    width: 100%;
    padding: 20px 25px;
    border-radius: 5px;
    color: white;
    resize: none;
    border: 1px solid get-var(dark);
  }

  .form-header {
    padding: 10px 40px;
    padding-top: 30px;
  }
  .form-body {
    padding: 10px 40px;
  }
  .form-footer {
    text-align: center;
    padding: 10px 40px;
    padding-bottom: 20px;
  }
}
