.footer {
  .footer-first {
    border-top: 2px solid var(--bs-primary);
    .section-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 40px auto;
      .section-label {
        border: 2px solid var(--bs-primary);
      }
      .section-heading {
        width: 70%;
        font-size: 50px;
        text-align: center;
        margin-bottom: 15px;
      }
    }
    .btn-contact {
      display: flex;
      align-items: center;
      justify-content: center;
      outline: none;
      box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
      border-radius: 100px;
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      height: 150px;
      width: 150px;
      background-size: cover;
      color: white;
      border: 2px solid var(--bs-dark);
      text-decoration: none;
      .btn-text {
        display: flex;
        align-items: center;
        font-weight: bold;
        .icon {
          color: var(--bs-primary);
          font-size: 20px;
          margin-left: 5px;
        }
      }

      &:hover {
        box-shadow: rgba(255, 30, 0, 0.24) 0px 8px 24px,
          rgba(255, 38, 0, 0.158) 0px 16px 56px,
          rgba(235, 6, 25, 0.233) 0px 24px 80px;
        .card-img-top {
          transform: scale(1.5);
        }
        border: 2px solid var(--bs-primary);
      }
    }
  }
  .footer-waves {
    margin-top: -180px;
  }
  .footer-contact {
    border-top: 2px solid var(--bs-primary);
    border-bottom: 2px solid var(--bs-primary);
    padding: 20px auto;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  }
  .footer-main {
  }

  .footer-last {
    font-size: 14px;
    border-top: 1px solid #474141;
    padding-top: 20px;
    padding-bottom: 20px;
    .last-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .description {
        color: #c7bfbf;
        margin: 0;
      }
      .list {
        display: inline-flex;
        align-items: center;
        padding: 0;
        margin: 0;
        .list-item {
          padding: 0 5px;
          .list-link {
            text-decoration: none;
            color: #c7bfbf;
          }
        }
      }
    }
  }
}
