.image-box {
  .square-1 {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0px;
    top: 0px;
    margin-left: -20px;
    margin-top: -20px;
    z-index: -1;
  }
  .square-2 {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin-right: -20px;
    margin-bottom: -20px;
    z-index: -1;
  }

  .image-lg {
    z-index: 10;
    height: 500px;
    @media screen and (max-width: 290px) {
      height: 250px;
      margin-bottom: 60px;
    }
    @media screen and (max-width: 380px) {
      height: 350px;
      margin-bottom: 60px;
    }

    @media screen and (max-width: 420px) {
      height: 380px;
      margin-bottom: 60px;
    }

    img {
      object-position: center;
      filter: grayscale(100);
      transition: all, 1s;
      &:hover {
        filter: grayscale(0);
      }
    }
  }
  .image-sm {
    $size: 150px;
    $margin: 50px;
    z-index: 10;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: -$margin;
    margin-left: -$margin;
    width: $size;
    height: $size;

    img {
      filter: grayscale(100);
      transition: all, 1s;
      &:hover {
        filter: grayscale(0);
      }
    }

    @media screen and (max-width: 820px) {
      $size: 200px;
      margin-bottom: -60px;
      margin-left: 50px;
      width: $size;
      height: $size;
    }

    @media screen and (max-width: 520px) {
      $size: 100px;
      margin-bottom: -50px;
      margin-left: 20px;
      width: $size;
      height: $size;
    }
  }
}
