.section {
  padding-bottom: 80px;
  padding-top: 80px;
  position: relative;
  z-index: 111;

  .section-label {
    background-color: get-var(dark);
    color: get-var(primary);
    padding: 3px 12px;
    border-radius: 50px;
    font-size: 12px;
    display: inline-block;
    box-shadow: get-var(shadow);
    margin-bottom: 12px;
    border-left: 3px solid get-var(primary);
    border-right: 3px solid get-var(primary);
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;

    &.page-label {
      border: 3px solid get-var(primary);
    }
  }

  .section-heading {
    display: block;
    text-decoration: none;
    color: get-var(text);
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 12px;
    position: relative;
    z-index: 5;

    &.page-heading {
      font-size: 50px;
      width: 60%;
      margin-right: auto;
      @include media-breakpoint(sm) {
        width: 100%;
      }
    }

    &.dotted-square {
      position: relative;

      &::before {
        z-index: -1;
        background-image: radial-gradient(
          get-var(primary) 1.5px,
          transparent 1.5px
        );
        background-position: 50% 50%;
        background-size: 0.5rem 0.5rem;
        position: absolute;
        margin-left: -14px;
        left: 0px;
        bottom: 7px;
        width: 40px;
        height: 40px;
        content: "";
        border-radius: 10px;
      }
    }

    &.h-center {
      margin: 0 auto;
    }
  }

  .section-description {
    color: get-var(muted);
    font-size: 16px;
    margin-bottom: 14px;

    &.page-description {
      width: 60%;
      margin: 0 auto;
      @include media-breakpoint(sm) {
        width: 100%;
      }
    }

    &.d-center {
      margin: 0 auto;
    }
  }

  .section-subheading {
    color: get-var(text);
    font-size: 16px;
    font-weight: bold;
    margin: 15px 0;
  }

  .btn-outline {
    margin-top: 10px;
    display: inline-block;
  }

  .section-link {
    text-decoration: none;
    color: get-var(primary);
  }

  .center {
    text-align: center;
    padding: 0 50px;
  }

  .section-container {
    display: flex;
    flex-direction: column;
    padding-right: calc(3rem * 0.5);
    padding-left: calc(3rem * 0.5);
    margin-right: auto;
    margin-left: auto;

    .section-header {
      margin-bottom: 30px;
    }

    .section-body {
      padding: 40px 0px;
    }

    .section-pad {
      padding: 0 50px;
    }

    .section-footer {
      text-align: center;
      padding-top: 50px;
    }

    @include media-breakpoint(sm, min-width) {
      max-width: 540px;
    }

    @include media-breakpoint(md, min-width) {
      max-width: 720px;
    }

    @include media-breakpoint(lg, min-width) {
      max-width: 950px;
    }

    @include media-breakpoint(xl, min-width) {
      max-width: 1000px;
    }

    @include media-breakpoint(xll, min-width) {
      max-width: 1100px;
    }
  }

  @include media-breakpoint(sm) {
    padding-bottom: 50px;
    padding-top: 50px;
  }
}
