<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %} NexTash</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logos/favicon.ico')}}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="dns-prefetch" href="//nextash.com">
    <link rel="dns-prefetch" href="//wa.me">
    <link rel="dns-prefetch" href="//twitter.com">
    <link rel="dns-prefetch" href="//www.linkedin.com">
    <link rel="dns-prefetch" href="//www.facebook.com">
    <link rel="dns-prefetch" href="//www.instagram.com">
    <link rel="dns-prefetch" href="//www.google.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico" type="image/x-icon')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="apple-touch-icon" sizes="120x120"
        href="{{ url_for('static', filename='images/apple-touch-icon.png')}}" />
    <link rel="icon" type="image/png" sizes="32x32"
        href="{{ url_for('static', filename='images/favicon-32x32.png')}}" />
    <link rel="icon" type="image/png" sizes="16x16"
        href="{{ url_for('static', filename='images/favicon-16x16.png')}}" />
    <link rel="manifest" href="{{ url_for('static', filename='images/site.webmanifest')}}" />
    <link rel="mask-icon" href="{{ url_for('static', filename='images/safari-pinned-tab.svg')}}" color="#ff0000" />
    <meta name="msapplication-TileColor" content="#ff0000" />
    <meta name="theme-color" content="#ffffff" />
    {% block seo %}
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href="" />
    <meta property="og:title" content="About us | NexTash" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="NexTash" />
    <meta property="og:url" content="" />
    {% endblock %}
</head>
{% block style %} {% endblock %}

<body class="bg-dark font-bevietnam overflow-hidden">
    <!-- BG -->
    <div class="lines position-fixed top-0 end-0 start-0 z-index--1 m-auto">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <!-- BG -->
    <!-- NAVBAR -->
    {% include "components/navbar.html" %}
    <!-- NAVBAR -->
    <!-- SIDEBAR -->
    {% include "components/sidebar.html" %}
    <!-- SIDEBAR -->
    <!-- CONTENT -->
    <main class="bg-1 bg-cover bg-no-repeat bg-fixed">{% block content %} {% endblock %}</main>
    <!-- CONTENT -->
    <!-- FOOTER -->
    {% include "components/footer.html" %}
    <!-- FOOTER -->
    <!-- SCRIPTS -->
    <script src="{{ url_for('static', filename='js/popper/popper.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/aos.js')}}"></script>
    <script src="{{ url_for('static', filename='js/vanilla-tilt.js')}}"></script>
    <script>
        AOS.init();
        VanillaTilt.init();
        
        window.onscroll = function () { navbar() };
        function navbar() {
            let position = 20
            if (document.body.scrollTop > position || document.documentElement.scrollTop > position) {
                document.getElementById("navbar").classList.add("bg-dark");
            } else {
                document.getElementById("navbar").classList.remove("bg-dark");
            }
        }
    </script>
    {% block scripts %} {% endblock %}
    <!-- SCRIPTS -->
</body>

</html>