.form-card {
  display: flex;
  flex-direction: column;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  height: 100%;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid var(--bs-dark);
  background-size: cover;

  .form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
  }

  .input-field {
    background-color: black;
    border: none;
    outline: none;
    width: 100%;
    padding: 20px 25px;
    border-radius: 5px;
    color: white;
    resize: none;
    border:1px solid var(--bs-dark);
  }

  .form-header {
    padding: 10px 40px;
    padding-top: 30px;

  }
  .form-body {
    padding: 10px 40px;
  }
  .form-footer {
    text-align: center;
    padding: 10px 40px;
    padding-bottom: 20px;
  }
}
