.card-hover {
  position: relative;
  transition: border;
  transition-duration: 600ms;
  transition-timing-function: ease;
  &:after,
  &:before {
    content: "";
    width: 3px;
    height: 60%;
    position: absolute;
    transition: top bottom, opacity;
    transition-duration: 600ms;
    transition-timing-function: ease;
    background: linear-gradient(transparent, var(--bs-primary), transparent);
    opacity: 0;
  }
  &:before {
    left: -2px;
    top: 10%;
  }

  &:hover:before {
    top: 70%;
    opacity: 1;
  }

  &:after {
    right: -2px;
    bottom: 10%;
  }

  &:hover:after {
    bottom: 70%;
    opacity: 1;
  }
  &:hover {
    border: 2px solid var(--bs-primary) !important;
  }
}

.image-zoom {
  overflow: hidden;
  img {
    transition: transform;
    transition-duration: 600ms;
    transition-timing-function: ease;
    &:hover {
      transform: scale(1.5);
    }
  }
}
