/* Component code */
.team-card {
  padding: 30px 10px;

  .card-header,
  .card-body {
    margin: 0 auto;
    text-align: center;
  }

  .card-title{
    font-size: 20px;
  }
  .avatar {
    height: 200px;
    min-height: 200px;
    width: 200px;
    min-width: 200px;
    border-radius: 50%;
    text-decoration: none;
    color: black;
    display: inline-block;
    border: 3px solid get-var(primary);
    padding: 10px;
    .image {
      height: 100%;
      width: 100%;
      border-radius: inherit;
    }
  }
  .card-footer {
    margin: 0 auto;
  }

}
