.accordion {
  .accordion-item {
    display: flex;
    flex-direction: column;
    border-radius: get-var(rounded);
    background-color: get-var(dark);
    .accordion-header {
      padding: 20px;
      color: get-var(text);
      font-weight: bold;
      cursor: pointer;
      font-size: 14px;
      border: 1px solid get-var(secondary);
      .counter {
        color: get-var(primary);
      }
    }
    .accordion-body {
      padding: 10px 20px;
      color: get-var(muted);
      display: none;
      font-size: 12px;
     
    }
  }
}
