/* Component code */
.feedback-card {
  height: 100%;
  position: relative;
  border-radius: 10px;
  border: 2px solid get-var(primary);
  margin-bottom: 40px;
  .card-header {
    padding: 15px 20px;
    .avatar {
      height: 100px;
      width: 100px;
      margin-top: -50px;
      padding: 10px;
      border: 4px dashed get-var(primary);
      margin-left: auto;
      margin-right: auto;
      border-radius: 10px;
      background-color: get-var(body);
      .image {
        height: 100%;
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
      }
    }
  }
  .card-body {
    text-align: center;
    padding: 15px 20px;

    .bxs-quote-right {
      font-size: 30px;
      margin-right: 10px;
      color: get-var(primary);
    }
    .bxs-quote-left {
      font-size: 30px;
      margin-left: 10px;
      color: get-var(primary);
    }

    .fullname {
      color: get-var(text);
      font-size: 16px;
      margin-bottom: 5px;
      font-weight: bold;
    }
    .profession {
      font-size: 14px;
      margin-bottom: 25px;
    }

    .feedback {
      font-size: 16px;
      text-align-last: center;
      margin: 10px 0;
      color: get-var(text);
    }
  }

  .card-footer {
    color: #ffc107;
    text-align: center;
    padding-bottom: 30px;
  }
}
