.row {
  --gutter-x: 2.1rem;
  --gutter-y: 3rem;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;

  .col {
    box-sizing: border-box;
    flex-shrink: 0;
    padding-right: calc(var(--gutter-x) * 0.5);
    padding-left: calc(var(--gutter-x) * 0.5);
    margin-bottom: var(--gutter-y);
    flex: 0 0 auto;
  }
}

.row-cols-2 {
  --gutter-x: 3rem;
  .col {
    width: 50%;

    @include media-breakpoint(lg) {
      width: 100%;
    }
  }
}

.row-cols-3 {
  .col {
    width: 33.33%;
    @include media-breakpoint(lg) {
      width: 50%;
    }
    @include media-breakpoint(md) {
      width: 50%;
    }
    @include media-breakpoint(sm) {
      width: 100%;
    }
  }
}
.row-cols-4 {
  .col {
    width: 25%;
    @include media-breakpoint(sm) {
      width: 50%;
    }
  }
}

.row-cols-5 {
  .col {
    width: 20%;
    @include media-breakpoint(lg) {
      width: 33.33%;
    }
    @include media-breakpoint(md) {
      width: 20%;
    }
    @include media-breakpoint(sm) {
      width: 50%;
    }
  }
}

.order-sm-first {
  order: 3;
}

@include media-breakpoint(lg) {
  .order-sm-first {
    order: -1;
  }
}
@include media-breakpoint(sm) {
  .row-cols-sm-1 {
    --gutter-x: 0.5rem;
    .col {
      width: 100%;
    }
  }
}
